[cookieBanner]
include_css = 1
update_selector = "#gdpr-reload"
==
{% put styles %}
  <link rel="stylesheet" href="{{'assets/css/404.css'|theme}}">
{% endput %}
{% partial 'site/head' %}
{% partial 'site/header' %}
{% component 'cookieBanner' %}
<div class="wrapper">
<div class="row noPM bg-404" style="background: url({{'assets/img/background/404-bg.png'|theme}}) scroll no-repeat center;">
  <div class="container">
    <div class="con-404">
      <h1 class="pnf-num">404</h1>
      <h4 class="pnf-head">PAGE NOT FOUND</h4>
      <p class="pnf-teaser">Sorry the page you requested could not be found, we are working on it.</p>
    </div>
  </div>
</div>
</div>
{% partial 'site/footer' %}
