[staticPage]
useContent = 0
default = 0

[Contact]

[cookieBanner]
include_css = 1
update_selector = "#gdpr-reload"
==
{% put styles %}
  <link rel="stylesheet" href="{{'assets/css/homepage.css'|theme}}">
{% endput %}
{% partial 'site/head' %}
{% partial 'site/header' %}
{% component 'staticPage' %}
{% component 'cookieBanner' %}
<!-- <div id="loader-wrapper"> -->
    <!-- <div class="count">100%</div> -->
    <!-- <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div> -->

<div class="wrapper rel" id="top">
  {variable type="text" name="hero_head" tab="Banner" label="Header" span="left"}{/variable}
  {variable type="textarea" name="hero_sub" tab="Banner" label="Teaser" span="left"}{/variable}
  <div class="row rel hero-row noPM">
    <div class="container mb-pad">
      <div class="col-lg-6 col-md-6 noP wow fadeIn" data-wow-delay="0.2s">
        <div class="hero-txt-con">
          <div class="hero-txt">
            {{hero_head|raw}}
          </div>
          <div class="body-text-18">
            {{hero_sub|raw}}
          </div>
          <div class="hero-btn">
            <a href="#" class="btn-app">
              <svg xmlns="http://www.w3.org/2000/svg" width="183" height="57" viewBox="0 0 183 57" fill="none">
                <path d="M176.7 57H5.7C2.565 57 0 54.435 0 51.3V5.7C0 2.565 2.565 0 5.7 0H176.7C179.835 0 182.4 2.565 182.4 5.7V51.3C182.4 54.435 179.835 57 176.7 57Z" fill="white"/>
                <path d="M38.475 28.2151C38.475 23.7976 42.18 21.6601 42.3225 21.5176C40.185 18.5251 37.05 18.0976 35.91 17.9551C33.2025 17.6701 30.495 19.5226 29.2125 19.5226C27.7875 19.5226 25.65 17.9551 23.37 17.9551C20.3775 17.9551 17.67 19.6651 16.1025 22.3726C12.9675 27.7876 15.2475 35.7676 18.24 40.1851C19.8075 42.3226 21.5175 44.7451 23.7975 44.6026C26.0775 44.4601 26.9325 43.1776 29.64 43.1776C32.3475 43.1776 33.06 44.6026 35.4825 44.6026C37.905 44.6026 39.4725 42.4651 40.8975 40.3276C42.6075 37.9051 43.32 35.4826 43.32 35.3401C43.1775 35.1976 38.475 33.4876 38.475 28.2151Z" fill="#181818"/>
                <path d="M34.0575 15.105C35.1975 13.5375 36.0526 11.5425 35.9101 9.40503C34.2001 9.54753 31.9201 10.545 30.7801 12.1125C29.6401 13.395 28.6425 15.5325 28.9275 17.5275C30.78 17.67 32.775 16.53 34.0575 15.105Z" fill="#181818"/>
                <path d="M70.965 44.3173H67.83L66.12 38.9023H60.135L58.5675 44.3173H55.575L61.56 25.9348H65.265L70.965 44.3173ZM65.55 36.6223L63.9825 31.7773C63.84 31.3498 63.555 30.0673 62.985 28.3573C62.8425 29.0698 62.5575 30.3523 62.13 31.7773L60.5625 36.6223H65.55Z" fill="#181818"/>
                <path d="M86.2125 37.6199C86.2125 39.8999 85.6425 41.6099 84.36 43.0349C83.22 44.1749 81.9375 44.7449 80.2275 44.7449C78.5175 44.7449 77.235 44.1749 76.5225 42.8924V49.8749H73.53V35.6249C73.53 34.1999 73.53 32.7749 73.3875 31.2074H75.9525L76.095 33.3449C77.0925 31.7774 78.5175 30.9224 80.5125 30.9224C82.08 30.9224 83.3625 31.4924 84.36 32.7749C85.6425 33.9149 86.2125 35.4824 86.2125 37.6199ZM83.22 37.6199C83.22 36.3374 82.935 35.1974 82.365 34.4849C81.795 33.6299 80.94 33.2024 79.8 33.2024C79.0875 33.2024 78.375 33.4874 77.805 33.9149C77.235 34.3424 76.8075 35.0549 76.665 35.7674C76.5225 36.1949 76.5225 36.4799 76.5225 36.6224V38.9024C76.5225 39.8999 76.8075 40.6124 77.3775 41.3249C77.9475 42.0374 78.8025 42.3224 79.6575 42.3224C80.7975 42.3224 81.6525 41.8949 82.2225 41.0399C82.935 40.1849 83.22 39.0449 83.22 37.6199Z" fill="#181818"/>
                <path d="M101.46 37.6199C101.46 39.8999 100.89 41.6099 99.6075 43.0349C98.4675 44.1749 97.185 44.7449 95.475 44.7449C93.765 44.7449 92.4825 44.1749 91.77 42.8924V49.8749H88.7775V35.6249C88.7775 34.1999 88.7775 32.7749 88.635 31.2074H91.2L91.3425 33.3449C92.34 31.7774 93.765 30.9224 95.76 30.9224C97.3275 30.9224 98.61 31.4924 99.6075 32.7749C100.89 33.9149 101.46 35.4824 101.46 37.6199ZM98.4675 37.6199C98.4675 36.3374 98.1825 35.1974 97.6125 34.4849C97.0425 33.6299 96.1875 33.2024 95.0475 33.2024C94.335 33.2024 93.6225 33.4874 93.0525 33.9149C92.4825 34.3424 92.055 35.0549 91.9125 35.7674C91.77 36.1949 91.77 36.4799 91.77 36.6224V38.9024C91.77 39.8999 92.055 40.6124 92.625 41.3249C93.195 42.0374 94.05 42.3224 94.905 42.3224C96.045 42.3224 96.9 41.8949 97.47 41.0399C98.1825 40.1849 98.4675 39.0449 98.4675 37.6199Z" fill="#181818"/>
                <path d="M118.56 39.1877C118.56 40.7552 117.99 42.0377 116.992 43.0352C115.852 44.1752 114.142 44.6027 112.005 44.6027C110.01 44.6027 108.442 44.1752 107.302 43.4627L108.015 41.0402C109.297 41.7527 110.722 42.1802 112.29 42.1802C113.43 42.1802 114.285 41.8952 114.855 41.4677C115.425 40.8977 115.71 40.3277 115.71 39.4727C115.71 38.7602 115.425 38.0477 114.997 37.6202C114.427 37.0502 113.572 36.6227 112.432 36.1952C109.155 35.0552 107.587 33.2027 107.587 30.9227C107.587 29.3552 108.157 28.2152 109.297 27.2177C110.437 26.2202 111.862 25.7927 113.857 25.7927C115.567 25.7927 116.85 26.0777 117.99 26.6477L117.277 29.0702C116.28 28.5002 115.14 28.2152 113.715 28.2152C112.717 28.2152 111.862 28.5002 111.292 28.9277C110.865 29.3552 110.58 29.9252 110.58 30.6377C110.58 31.3502 110.865 31.9202 111.435 32.4902C111.862 32.9177 112.86 33.3452 114.142 33.9152C115.71 34.4852 116.85 35.3402 117.705 36.1952C118.132 36.9077 118.56 37.9052 118.56 39.1877Z" fill="#181818"/>
                <path d="M128.25 33.3451H124.972V39.7576C124.972 41.3251 125.543 42.1801 126.683 42.1801C127.253 42.1801 127.68 42.1801 127.965 42.0376L128.108 44.3176C127.538 44.6026 126.825 44.6026 125.828 44.6026C124.688 44.6026 123.69 44.3176 123.12 43.6051C122.408 42.8926 122.122 41.7526 122.122 40.0426V33.3451H120.128V31.0651H122.122V28.6426L124.972 27.7876V31.0651H128.25V33.3451Z" fill="#181818"/>
                <path d="M142.928 37.62C142.928 39.615 142.358 41.325 141.218 42.6075C139.935 43.89 138.368 44.6025 136.373 44.6025C134.378 44.6025 132.81 43.89 131.67 42.6075C130.53 41.325 129.96 39.7575 129.96 37.7625C129.96 35.7675 130.53 34.0575 131.813 32.775C132.953 31.4925 134.663 30.78 136.658 30.78C138.653 30.78 140.22 31.4925 141.36 32.775C142.358 34.0575 142.928 35.625 142.928 37.62ZM139.793 37.7625C139.793 36.48 139.508 35.4825 138.938 34.6275C138.368 33.63 137.37 33.06 136.23 33.06C135.09 33.06 134.093 33.63 133.523 34.6275C132.953 35.4825 132.668 36.6225 132.668 37.7625C132.668 39.045 132.953 40.0425 133.523 40.8975C134.093 41.895 135.09 42.465 136.23 42.465C137.37 42.465 138.225 41.895 138.938 40.8975C139.508 40.0425 139.793 38.9025 139.793 37.7625Z" fill="#181818"/>
                <path d="M152.475 33.6299C152.19 33.6299 151.905 33.4875 151.478 33.4875C150.48 33.4875 149.625 33.915 149.055 34.6275C148.628 35.34 148.343 36.1949 148.343 37.1924V44.175H145.35V35.0549C145.35 33.4874 145.35 32.205 145.208 30.9225H147.773L147.915 33.4875H148.058C148.343 32.6325 148.913 31.92 149.483 31.35C150.195 30.9225 150.908 30.6375 151.62 30.6375C151.905 30.6375 152.19 30.6375 152.333 30.6375V33.6299H152.475Z" fill="#181818"/>
                <path d="M165.585 37.05C165.585 37.62 165.585 38.0475 165.443 38.3325H156.608C156.608 39.615 157.035 40.6125 157.89 41.325C158.603 41.895 159.6 42.3225 160.74 42.3225C162.023 42.3225 163.305 42.18 164.303 41.7525L164.73 43.7475C163.448 44.3175 162.023 44.6025 160.313 44.6025C158.318 44.6025 156.608 44.0325 155.468 42.75C154.328 41.61 153.758 39.9 153.758 37.905C153.758 35.91 154.328 34.2 155.325 32.9175C156.465 31.4925 158.033 30.78 160.028 30.78C161.88 30.78 163.448 31.4925 164.303 32.9175C165.3 34.0575 165.585 35.4825 165.585 37.05ZM162.878 36.3375C162.878 35.4825 162.735 34.77 162.308 34.0575C161.738 33.2025 161.025 32.775 160.028 32.775C159.03 32.775 158.318 33.2025 157.748 33.915C157.32 34.485 157.035 35.34 156.893 36.195H162.878V36.3375Z" fill="#181818"/>
                <path d="M60.2607 20.2305C59.3701 20.2305 58.6626 19.936 58.1382 19.3472C57.6167 18.7583 57.356 17.96 57.356 16.9521C57.356 15.9502 57.6182 15.1548 58.1426 14.5659C58.667 13.9741 59.373 13.6782 60.2607 13.6782C60.9814 13.6782 61.5894 13.8818 62.0845 14.2891C62.5796 14.6934 62.8682 15.2251 62.9502 15.8843H61.9746C61.8867 15.4771 61.686 15.1519 61.3726 14.9087C61.062 14.6626 60.6914 14.5396 60.2607 14.5396C59.6836 14.5396 59.2222 14.7593 58.8765 15.1987C58.5337 15.6353 58.3623 16.2197 58.3623 16.9521C58.3623 17.6934 58.5337 18.2822 58.8765 18.7188C59.2192 19.1523 59.6821 19.3691 60.2651 19.3691C60.7046 19.3691 61.0737 19.2622 61.3726 19.0483C61.6743 18.8345 61.875 18.5356 61.9746 18.1519H62.9546C62.8345 18.8081 62.5371 19.3193 62.0625 19.6855C61.5908 20.0488 60.9902 20.2305 60.2607 20.2305ZM67.8096 19.5713C67.4111 19.999 66.8794 20.2129 66.2144 20.2129C65.5493 20.2129 65.0176 19.999 64.6191 19.5713C64.2207 19.1406 64.0215 18.5547 64.0215 17.8135C64.0215 17.0752 64.2207 16.4922 64.6191 16.0645C65.0176 15.6338 65.5493 15.4185 66.2144 15.4185C66.8794 15.4185 67.4111 15.6338 67.8096 16.0645C68.208 16.4922 68.4072 17.0752 68.4072 17.8135C68.4072 18.5547 68.208 19.1406 67.8096 19.5713ZM66.2144 19.4307C66.5923 19.4307 66.8911 19.2886 67.1108 19.0044C67.3306 18.7202 67.4404 18.3232 67.4404 17.8135C67.4404 17.3066 67.3291 16.9111 67.1064 16.627C66.8867 16.3428 66.5894 16.2007 66.2144 16.2007C65.8394 16.2007 65.5405 16.3428 65.3179 16.627C65.0981 16.9111 64.9883 17.3066 64.9883 17.8135C64.9883 18.3232 65.0981 18.7202 65.3179 19.0044C65.5405 19.2886 65.8394 19.4307 66.2144 19.4307ZM69.6411 20.125V15.502H70.5464V16.2798H70.5684C70.6738 16.019 70.8423 15.811 71.0737 15.6558C71.3052 15.5005 71.5747 15.4229 71.8823 15.4229C72.2017 15.4229 72.4727 15.502 72.6953 15.6602C72.9209 15.8184 73.0806 16.041 73.1743 16.3281H73.1963C73.3164 16.0469 73.5039 15.8257 73.7588 15.6646C74.0166 15.5034 74.3096 15.4229 74.6377 15.4229C75.0947 15.4229 75.4609 15.562 75.7363 15.8403C76.0117 16.1187 76.1494 16.4878 76.1494 16.9478V20.125H75.1958V17.1763C75.1958 16.8774 75.1182 16.646 74.9629 16.4819C74.8105 16.3179 74.5938 16.2358 74.3125 16.2358C74.0312 16.2358 73.8013 16.3296 73.6226 16.5171C73.4468 16.7046 73.3589 16.9448 73.3589 17.2378V20.125H72.4272V17.106C72.4272 16.8394 72.3481 16.6284 72.1899 16.4731C72.0317 16.3149 71.8193 16.2358 71.5527 16.2358C71.2715 16.2358 71.04 16.334 70.8584 16.5303C70.6797 16.7236 70.5903 16.9697 70.5903 17.2686V20.125H69.6411ZM77.5986 20.125V15.502H78.5479V20.125H77.5986ZM78.4644 14.667C78.356 14.7725 78.2256 14.8252 78.0732 14.8252C77.9209 14.8252 77.7905 14.7725 77.6821 14.667C77.5767 14.5615 77.5239 14.4341 77.5239 14.2847C77.5239 14.1323 77.5767 14.0034 77.6821 13.8979C77.7905 13.7925 77.9209 13.7397 78.0732 13.7397C78.2285 13.7397 78.3589 13.7925 78.4644 13.8979C78.5728 14.0034 78.627 14.1323 78.627 14.2847C78.627 14.4341 78.5728 14.5615 78.4644 14.667ZM80.019 20.125V15.502H80.9243V16.2754H80.9463C81.0752 16.0059 81.2627 15.7964 81.5088 15.647C81.7549 15.4976 82.0522 15.4229 82.4009 15.4229C82.9077 15.4229 83.3018 15.5752 83.583 15.8799C83.8643 16.1816 84.0049 16.5991 84.0049 17.1323V20.125H83.0513V17.3169C83.0513 16.9653 82.9678 16.6987 82.8008 16.5171C82.6367 16.3325 82.3921 16.2402 82.0669 16.2402C81.7329 16.2402 81.4663 16.3486 81.2671 16.5654C81.0679 16.7822 80.9683 17.0708 80.9683 17.4312V20.125H80.019ZM87.3921 19.356C87.7642 19.356 88.0615 19.2153 88.2842 18.9341C88.5098 18.6528 88.6226 18.2749 88.6226 17.8003C88.6226 17.3257 88.5098 16.9448 88.2842 16.6577C88.0615 16.3706 87.7642 16.2271 87.3921 16.2271C87.0259 16.2271 86.7329 16.3691 86.5132 16.6533C86.2964 16.9375 86.188 17.3198 86.188 17.8003C86.188 18.2808 86.2964 18.6602 86.5132 18.9385C86.7329 19.2168 87.0259 19.356 87.3921 19.356ZM87.4009 21.8652C86.8618 21.8652 86.4048 21.7363 86.0298 21.4785C85.6577 21.2207 85.4424 20.8896 85.3838 20.4854H86.3374C86.4048 20.6787 86.5366 20.834 86.7329 20.9512C86.9321 21.0684 87.1665 21.127 87.436 21.127C87.8022 21.127 88.0908 21.0303 88.3018 20.8369C88.5127 20.6465 88.6182 20.3916 88.6182 20.0723V19.312H88.6006C88.4688 19.5669 88.2725 19.769 88.0117 19.9185C87.7539 20.0679 87.4624 20.1426 87.1372 20.1426C86.5542 20.1426 86.0884 19.9316 85.7397 19.5098C85.3911 19.085 85.2168 18.5137 85.2168 17.7959C85.2168 17.0693 85.3911 16.4937 85.7397 16.0688C86.0913 15.6411 86.5645 15.4272 87.1592 15.4272C87.4844 15.4272 87.7759 15.5049 88.0337 15.6602C88.2915 15.8125 88.4907 16.0234 88.6313 16.293H88.6489V15.502H89.5718V20.0415C89.5718 20.5923 89.374 21.0332 88.9785 21.3643C88.5859 21.6982 88.0601 21.8652 87.4009 21.8652ZM93.2568 16.8115C93.2568 16.3984 93.4238 16.063 93.7578 15.8052C94.0918 15.5474 94.5283 15.4185 95.0674 15.4185C95.5801 15.4185 96.0005 15.5488 96.3286 15.8096C96.6597 16.0674 96.8325 16.4028 96.8472 16.8159H95.9551C95.9316 16.605 95.8394 16.4395 95.6782 16.3193C95.5171 16.1992 95.3047 16.1392 95.041 16.1392C94.7832 16.1392 94.5752 16.1963 94.417 16.3105C94.2617 16.4248 94.1841 16.5728 94.1841 16.7544C94.1841 17.0356 94.4199 17.2349 94.8916 17.3521L95.6694 17.5322C96.1353 17.6436 96.4648 17.7959 96.6582 17.9893C96.8545 18.1797 96.9526 18.4463 96.9526 18.7891C96.9526 19.2109 96.7739 19.5537 96.4165 19.8174C96.062 20.0811 95.6006 20.2129 95.0322 20.2129C94.4902 20.2129 94.0479 20.084 93.7051 19.8262C93.3652 19.5684 93.1763 19.2256 93.1382 18.7979H94.0786C94.1167 19.0205 94.2207 19.1919 94.3906 19.312C94.5605 19.4292 94.7891 19.4878 95.0762 19.4878C95.3604 19.4878 95.5845 19.4336 95.7485 19.3252C95.9155 19.2139 95.999 19.0645 95.999 18.877C95.999 18.7275 95.9492 18.6089 95.8496 18.521C95.75 18.4331 95.5801 18.3584 95.3398 18.2969L94.5137 18.0947C93.6758 17.8926 93.2568 17.4648 93.2568 16.8115ZM101.772 19.5713C101.374 19.999 100.842 20.2129 100.177 20.2129C99.5122 20.2129 98.9805 19.999 98.582 19.5713C98.1836 19.1406 97.9844 18.5547 97.9844 17.8135C97.9844 17.0752 98.1836 16.4922 98.582 16.0645C98.9805 15.6338 99.5122 15.4185 100.177 15.4185C100.842 15.4185 101.374 15.6338 101.772 16.0645C102.171 16.4922 102.37 17.0752 102.37 17.8135C102.37 18.5547 102.171 19.1406 101.772 19.5713ZM100.177 19.4307C100.555 19.4307 100.854 19.2886 101.074 19.0044C101.293 18.7202 101.403 18.3232 101.403 17.8135C101.403 17.3066 101.292 16.9111 101.069 16.627C100.85 16.3428 100.552 16.2007 100.177 16.2007C99.8022 16.2007 99.5034 16.3428 99.2808 16.627C99.061 16.9111 98.9512 17.3066 98.9512 17.8135C98.9512 18.3232 99.061 18.7202 99.2808 19.0044C99.5034 19.2886 99.8022 19.4307 100.177 19.4307ZM107.186 19.5713C106.787 19.999 106.255 20.2129 105.59 20.2129C104.925 20.2129 104.394 19.999 103.995 19.5713C103.597 19.1406 103.397 18.5547 103.397 17.8135C103.397 17.0752 103.597 16.4922 103.995 16.0645C104.394 15.6338 104.925 15.4185 105.59 15.4185C106.255 15.4185 106.787 15.6338 107.186 16.0645C107.584 16.4922 107.783 17.0752 107.783 17.8135C107.783 18.5547 107.584 19.1406 107.186 19.5713ZM105.59 19.4307C105.968 19.4307 106.267 19.2886 106.487 19.0044C106.707 18.7202 106.816 18.3232 106.816 17.8135C106.816 17.3066 106.705 16.9111 106.482 16.627C106.263 16.3428 105.965 16.2007 105.59 16.2007C105.215 16.2007 104.917 16.3428 104.694 16.627C104.474 16.9111 104.364 17.3066 104.364 17.8135C104.364 18.3232 104.474 18.7202 104.694 19.0044C104.917 19.2886 105.215 19.4307 105.59 19.4307ZM109.017 20.125V15.502H109.922V16.2754H109.944C110.073 16.0059 110.261 15.7964 110.507 15.647C110.753 15.4976 111.05 15.4229 111.399 15.4229C111.906 15.4229 112.3 15.5752 112.581 15.8799C112.862 16.1816 113.003 16.5991 113.003 17.1323V20.125H112.049V17.3169C112.049 16.9653 111.966 16.6987 111.799 16.5171C111.635 16.3325 111.39 16.2402 111.065 16.2402C110.731 16.2402 110.464 16.3486 110.265 16.5654C110.066 16.7822 109.966 17.0708 109.966 17.4312V20.125H109.017ZM120.331 19.5713C119.933 19.999 119.401 20.2129 118.736 20.2129C118.071 20.2129 117.539 19.999 117.141 19.5713C116.742 19.1406 116.543 18.5547 116.543 17.8135C116.543 17.0752 116.742 16.4922 117.141 16.0645C117.539 15.6338 118.071 15.4185 118.736 15.4185C119.401 15.4185 119.933 15.6338 120.331 16.0645C120.729 16.4922 120.929 17.0752 120.929 17.8135C120.929 18.5547 120.729 19.1406 120.331 19.5713ZM118.736 19.4307C119.114 19.4307 119.413 19.2886 119.632 19.0044C119.852 18.7202 119.962 18.3232 119.962 17.8135C119.962 17.3066 119.851 16.9111 119.628 16.627C119.408 16.3428 119.111 16.2007 118.736 16.2007C118.361 16.2007 118.062 16.3428 117.839 16.627C117.62 16.9111 117.51 17.3066 117.51 17.8135C117.51 18.3232 117.62 18.7202 117.839 19.0044C118.062 19.2886 118.361 19.4307 118.736 19.4307ZM122.163 20.125V15.502H123.068V16.2754H123.09C123.219 16.0059 123.406 15.7964 123.652 15.647C123.898 15.4976 124.196 15.4229 124.544 15.4229C125.051 15.4229 125.445 15.5752 125.727 15.8799C126.008 16.1816 126.148 16.5991 126.148 17.1323V20.125H125.195V17.3169C125.195 16.9653 125.111 16.6987 124.944 16.5171C124.78 16.3325 124.536 16.2402 124.21 16.2402C123.876 16.2402 123.61 16.3486 123.411 16.5654C123.211 16.7822 123.112 17.0708 123.112 17.4312V20.125H122.163Z" fill="#181818"/>
              </svg>
            </a>
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="183" height="57" viewBox="0 0 183 57" fill="none">
                <path d="M177.1 57H6.10002C2.96502 57 0.400024 54.435 0.400024 51.3V5.7C0.400024 2.565 2.96502 0 6.10002 0H177.1C180.235 0 182.8 2.565 182.8 5.7V51.3C182.8 54.435 180.235 57 177.1 57Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.075 14.9727V42.0303C16.075 42.9721 16.6195 43.7864 17.4105 44.1749L33.0684 28.4969L17.4168 12.825C16.6224 13.2123 16.075 14.0285 16.075 14.9727ZM20.9199 43.3622L38.0339 33.4687L34.4173 29.8474L20.9199 43.3622ZM43.3535 26.6048C43.9228 27.0411 44.2899 27.7285 44.2899 28.5017C44.2899 29.2633 43.9339 29.9415 43.3793 30.3785L39.7441 32.4801L35.766 28.4971L39.7414 24.5165L43.3535 26.6048ZM38.0312 23.5277L20.93 13.6415L34.4173 27.1462L38.0312 23.5277Z" fill="#181818"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M101.718 48.3074C101.005 47.7374 100.435 46.7399 100.15 46.1699L102.43 45.1724C102.573 45.4574 102.858 45.8849 103.143 46.3124C103.713 46.8824 104.568 47.4524 105.423 47.4524C106.278 47.4524 107.275 47.0249 107.845 46.3124C108.273 45.5999 108.558 44.8874 108.558 43.8899V43.0349C106.848 45.1724 103.285 44.8874 101.29 42.6074C99.1525 40.3274 99.1525 36.4799 101.29 34.1999C103.428 32.0624 106.563 31.7774 108.415 33.7724V32.7749H110.838V43.4624C110.838 46.1699 109.84 47.7374 108.558 48.7349C107.703 49.4474 106.42 49.7324 105.28 49.7324C103.998 49.5899 102.715 49.1624 101.718 48.3074ZM161.425 48.8774L163.848 43.1774L159.573 33.3449H161.995L164.988 40.3274L167.98 33.3449H170.403L163.848 48.8774H161.425ZM149.883 43.4624C149.17 42.7499 148.885 41.7524 148.885 40.7549C148.885 39.8999 149.17 39.0449 149.74 38.4749C150.738 37.4774 152.163 37.0499 153.73 37.0499C154.728 37.0499 155.583 37.1924 156.295 37.6199C156.295 35.9099 154.87 35.1974 153.73 35.1974C152.733 35.1974 151.735 35.7674 151.308 36.7649L149.17 35.9099C149.598 34.9124 150.738 33.0599 153.588 33.0599C155.013 33.0599 156.438 33.4874 157.293 34.4849C158.148 35.4824 158.433 36.6224 158.433 38.1899V44.1749H156.01V43.1774C155.725 43.6049 155.155 43.8899 154.728 44.1749C154.158 44.4599 153.445 44.6024 152.733 44.6024C151.878 44.4599 150.595 44.1749 149.883 43.4624ZM73.93 38.3324C73.93 35.4824 76.0675 32.3474 79.915 32.3474C83.62 32.3474 85.9 35.4824 85.9 38.3324C85.9 41.1824 83.7625 44.3174 79.915 44.3174C76.0675 44.3174 73.93 41.1824 73.93 38.3324ZM86.755 38.3324C86.755 35.4824 88.8925 32.3474 92.74 32.3474C96.445 32.3474 98.725 35.4824 98.725 38.3324C98.725 41.1824 96.5875 44.3174 92.74 44.3174C89.035 44.3174 86.755 41.1824 86.755 38.3324ZM57.8275 41.4674C54.265 37.9049 54.4075 32.0624 57.97 28.3574C59.8225 26.5049 62.1025 25.6499 64.525 25.6499C66.805 25.6499 69.085 26.5049 70.795 28.2149L69.085 30.0674C66.52 27.5024 62.3875 27.6449 59.965 30.2099C57.4 32.9174 57.4 37.0499 59.965 39.7574C62.53 42.4649 66.805 42.6074 69.37 39.8999C70.225 39.0449 70.51 37.9049 70.6525 36.7649H64.6675V34.1999H73.075C73.2175 34.7699 73.2175 35.4824 73.2175 36.1949C73.2175 38.3324 72.3625 40.4699 70.9375 41.8949C69.37 43.4624 67.09 44.3174 64.81 44.3174C62.245 44.1749 59.68 43.3199 57.8275 41.4674ZM118.105 42.4649C115.968 40.1849 115.968 36.3374 118.105 33.9149C120.243 31.6349 123.805 31.6349 125.8 33.9149C126.513 34.6274 126.94 35.6249 127.368 36.6224L119.53 39.8999C119.958 40.8974 120.955 41.7524 122.38 41.7524C123.663 41.7524 124.518 41.3249 125.373 40.0424L127.51 41.4674C127.225 41.7524 126.94 42.0374 126.798 42.3224C124.375 44.7449 120.243 44.7449 118.105 42.4649ZM132.925 44.1749V28.3574H138.055C141.048 28.3574 143.47 30.4949 143.47 33.0599C143.47 35.6249 141.333 37.7624 138.625 37.7624H135.49V44.0324H132.925V44.1749ZM144.895 44.1749V28.3574H147.318V44.1749H144.895ZM112.69 43.8899V26.2199H115.255V43.8899H112.69ZM156.153 39.4724C155.583 39.0449 154.728 38.9024 153.873 38.9024C152.163 38.9024 151.165 39.7574 151.165 40.7549C151.165 41.7524 152.163 42.3224 153.16 42.3224C154.585 42.3224 156.153 41.1824 156.153 39.4724ZM83.1925 38.3324C83.1925 36.6224 82.0525 34.7699 79.915 34.7699C77.7775 34.7699 76.6375 36.6224 76.6375 38.3324C76.6375 40.0424 77.7775 41.8949 79.915 41.8949C81.91 41.8949 83.1925 40.0424 83.1925 38.3324ZM96.0175 38.3324C96.0175 36.6224 94.8775 34.7699 92.74 34.7699C90.6025 34.7699 89.4625 36.6224 89.4625 38.3324C89.4625 40.0424 90.6025 41.8949 92.74 41.8949C94.8775 41.8949 96.0175 40.0424 96.0175 38.3324ZM108.7 39.3299C108.7 39.1874 108.7 39.0449 108.843 38.9024C108.843 38.7599 108.843 38.4749 108.843 38.3324C108.843 38.1899 108.843 37.9049 108.843 37.7624V37.6199C108.843 37.4774 108.7 37.1924 108.7 37.0499C108.273 35.6249 106.99 34.6274 105.708 34.6274C103.998 34.6274 102.573 36.3374 102.573 38.1899C102.573 40.1849 103.998 41.7524 105.85 41.7524C106.99 41.8949 108.13 40.8974 108.7 39.3299ZM119.103 38.0474L124.375 35.7674C123.805 34.7699 122.95 34.4849 122.238 34.4849C120.1 34.6274 118.818 36.9074 119.103 38.0474ZM140.905 33.2024C140.905 31.7774 139.765 30.7799 138.198 30.7799H135.348V35.7674H138.34C139.765 35.7674 140.905 34.6274 140.905 33.2024Z" fill="#181818"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M163.277 46.0275H163.135V45.885H163.277H163.135V46.0275H163.277Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M163.562 46.0275C163.562 45.885 163.562 45.885 163.562 46.0275C163.42 45.885 163.42 45.885 163.562 46.0275C163.42 46.0275 163.42 46.0275 163.562 46.0275ZM163.562 45.885C163.562 46.0275 163.562 46.0275 163.562 45.885C163.562 46.0275 163.42 46.0275 163.562 45.885C163.42 45.885 163.562 45.885 163.562 45.885Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M163.705 45.885H163.562H163.705V46.0275V45.885Z" fill="white"/>
                <path d="M61.5078 16.6169C61.4433 17.2996 61.1913 17.8328 60.7519 18.2166C60.3124 18.5974 59.728 18.7878 58.9985 18.7878C58.4887 18.7878 58.039 18.6677 57.6494 18.4275C57.2626 18.1843 56.9638 17.8401 56.7529 17.3948C56.5419 16.9495 56.4321 16.4324 56.4233 15.8435V15.2458C56.4233 14.6423 56.5302 14.1106 56.7441 13.6506C56.9579 13.1907 57.2641 12.8362 57.6625 12.5872C58.0639 12.3381 58.5268 12.2136 59.0512 12.2136C59.7573 12.2136 60.3256 12.4055 60.7563 12.7893C61.187 13.1731 61.4374 13.7151 61.5078 14.4153H60.4003C60.3476 13.9553 60.2128 13.6243 59.996 13.4221C59.7822 13.217 59.4672 13.1145 59.0512 13.1145C58.5678 13.1145 58.1957 13.2917 57.935 13.6462C57.6772 13.9978 57.5453 14.5149 57.5395 15.1975V15.7644C57.5395 16.4558 57.6625 16.9832 57.9086 17.3464C58.1577 17.7097 58.5209 17.8914 58.9985 17.8914C59.435 17.8914 59.7631 17.7932 59.9828 17.5969C60.2026 17.4006 60.3417 17.074 60.4003 16.6169H61.5078ZM62.2021 16.2786C62.2021 15.8127 62.2944 15.3938 62.4789 15.0217C62.6635 14.6467 62.9228 14.3596 63.2568 14.1604C63.5908 13.9583 63.9745 13.8572 64.4081 13.8572C65.0497 13.8572 65.5698 14.0637 65.9682 14.4768C66.3696 14.8899 66.5864 15.4377 66.6186 16.1204L66.623 16.3708C66.623 16.8396 66.5322 17.2585 66.3505 17.6277C66.1718 17.9968 65.914 18.2825 65.5771 18.4846C65.2431 18.6868 64.8564 18.7878 64.4169 18.7878C63.746 18.7878 63.2084 18.5652 62.8041 18.1199C62.4028 17.6716 62.2021 17.0754 62.2021 16.3313V16.2786ZM63.27 16.3708C63.27 16.8601 63.371 17.2439 63.5732 17.5222C63.7753 17.7976 64.0566 17.9353 64.4169 17.9353C64.7773 17.9353 65.0571 17.7947 65.2563 17.5134C65.4584 17.2322 65.5595 16.8206 65.5595 16.2786C65.5595 15.7981 65.4555 15.4172 65.2475 15.136C65.0424 14.8547 64.7626 14.7141 64.4081 14.7141C64.0595 14.7141 63.7827 14.8533 63.5776 15.1316C63.3725 15.407 63.27 15.8201 63.27 16.3708ZM68.5302 13.9451L68.561 14.4417C68.895 14.052 69.352 13.8572 69.9321 13.8572C70.5678 13.8572 71.0029 14.1003 71.2372 14.5867C71.5829 14.1003 72.0693 13.8572 72.6962 13.8572C73.2206 13.8572 73.6103 14.0022 73.8652 14.2922C74.123 14.5823 74.2548 15.01 74.2607 15.5754V18.7H73.1928V15.6062C73.1928 15.3044 73.1269 15.0833 72.9951 14.9426C72.8632 14.802 72.645 14.7317 72.3403 14.7317C72.0971 14.7317 71.8979 14.7976 71.7426 14.9294C71.5903 15.0583 71.4833 15.2283 71.4218 15.4392L71.4262 18.7H70.3583V15.571C70.3437 15.0115 70.058 14.7317 69.5014 14.7317C69.0737 14.7317 68.7704 14.906 68.5917 15.2546V18.7H67.5239V13.9451H68.5302ZM76.4931 18.7H75.4252V13.9451H76.4931V18.7ZM75.3593 12.7102C75.3593 12.5461 75.4106 12.4099 75.5131 12.3015C75.6186 12.1931 75.768 12.1389 75.9614 12.1389C76.1547 12.1389 76.3041 12.1931 76.4096 12.3015C76.5151 12.4099 76.5678 12.5461 76.5678 12.7102C76.5678 12.8713 76.5151 13.0061 76.4096 13.1145C76.3041 13.22 76.1547 13.2727 75.9614 13.2727C75.768 13.2727 75.6186 13.22 75.5131 13.1145C75.4106 13.0061 75.3593 12.8713 75.3593 12.7102ZM78.6508 13.9451L78.6816 14.4944C79.0331 14.0696 79.4946 13.8572 80.0659 13.8572C81.0561 13.8572 81.56 14.4241 81.5776 15.5579V18.7H80.5097V15.6194C80.5097 15.3176 80.4438 15.095 80.312 14.9514C80.183 14.8049 79.9706 14.7317 79.6747 14.7317C79.2441 14.7317 78.9233 14.9265 78.7123 15.3162V18.7H77.6445V13.9451H78.6508ZM82.4828 16.2874C82.4828 15.5491 82.6557 14.9602 83.0014 14.5208C83.35 14.0784 83.8115 13.8572 84.3857 13.8572C84.9277 13.8572 85.3539 14.0461 85.6645 14.4241L85.7128 13.9451H86.6752V18.5549C86.6752 19.179 86.4804 19.6711 86.0908 20.0315C85.704 20.3918 85.1811 20.572 84.5219 20.572C84.1733 20.572 83.832 20.4988 83.498 20.3523C83.1669 20.2087 82.915 20.0198 82.7421 19.7854L83.2475 19.1438C83.5756 19.5334 83.9799 19.7283 84.4604 19.7283C84.8149 19.7283 85.0947 19.6316 85.2997 19.4382C85.5048 19.2478 85.6074 18.9666 85.6074 18.5945V18.2737C85.2997 18.6165 84.8896 18.7878 84.3769 18.7878C83.8203 18.7878 83.3647 18.5667 83.0102 18.1243C82.6586 17.6819 82.4828 17.0696 82.4828 16.2874ZM83.5463 16.3796C83.5463 16.8572 83.643 17.2336 83.8364 17.509C84.0327 17.7815 84.3036 17.9177 84.6494 17.9177C85.08 17.9177 85.3994 17.7332 85.6074 17.364V15.2722C85.4052 14.9119 85.0888 14.7317 84.6581 14.7317C84.3066 14.7317 84.0327 14.8708 83.8364 15.1492C83.643 15.4275 83.5463 15.8376 83.5463 16.3796ZM92.6826 17.408C92.6826 17.2175 92.6035 17.0725 92.4453 16.9729C92.29 16.8733 92.0307 16.7854 91.6674 16.7092C91.3041 16.6331 91.0009 16.5364 90.7578 16.4192C90.2245 16.1614 89.9579 15.7878 89.9579 15.2986C89.9579 14.8884 90.1308 14.5457 90.4765 14.2703C90.8222 13.9949 91.2617 13.8572 91.7949 13.8572C92.3632 13.8572 92.8217 13.9978 93.1703 14.2791C93.5219 14.5603 93.6977 14.925 93.6977 15.3733H92.6298C92.6298 15.1682 92.5536 14.9983 92.4013 14.8635C92.249 14.7258 92.0468 14.657 91.7949 14.657C91.5605 14.657 91.3686 14.7112 91.2192 14.8196C91.0727 14.928 90.9995 15.073 90.9995 15.2546C90.9995 15.4187 91.0683 15.5461 91.206 15.637C91.3437 15.7278 91.622 15.8201 92.041 15.9138C92.4599 16.0046 92.788 16.1145 93.0253 16.2434C93.2656 16.3694 93.4428 16.5217 93.5571 16.7004C93.6743 16.8792 93.7328 17.0959 93.7328 17.3508C93.7328 17.7786 93.5556 18.1257 93.2011 18.3923C92.8466 18.656 92.3823 18.7878 91.808 18.7878C91.4184 18.7878 91.0712 18.7175 90.7665 18.5769C90.4619 18.4363 90.2245 18.2429 90.0546 17.9968C89.8847 17.7507 89.7997 17.4856 89.7997 17.2014H90.8369C90.8515 17.4534 90.9467 17.6482 91.1225 17.7859C91.2983 17.9207 91.5312 17.988 91.8212 17.988C92.1025 17.988 92.3163 17.9353 92.4628 17.8298C92.6093 17.7214 92.6826 17.5808 92.6826 17.408ZM94.4667 16.2786C94.4667 15.8127 94.559 15.3938 94.7436 15.0217C94.9282 14.6467 95.1874 14.3596 95.5214 14.1604C95.8554 13.9583 96.2392 13.8572 96.6728 13.8572C97.3144 13.8572 97.8344 14.0637 98.2328 14.4768C98.6342 14.8899 98.851 15.4377 98.8832 16.1204L98.8876 16.3708C98.8876 16.8396 98.7968 17.2585 98.6152 17.6277C98.4365 17.9968 98.1786 18.2825 97.8417 18.4846C97.5078 18.6868 97.121 18.7878 96.6816 18.7878C96.0107 18.7878 95.4731 18.5652 95.0688 18.1199C94.6674 17.6716 94.4667 17.0754 94.4667 16.3313V16.2786ZM95.5346 16.3708C95.5346 16.8601 95.6357 17.2439 95.8378 17.5222C96.04 17.7976 96.3212 17.9353 96.6816 17.9353C97.0419 17.9353 97.3217 17.7947 97.5209 17.5134C97.7231 17.2322 97.8242 16.8206 97.8242 16.2786C97.8242 15.7981 97.7202 15.4172 97.5121 15.136C97.3071 14.8547 97.0273 14.7141 96.6728 14.7141C96.3242 14.7141 96.0473 14.8533 95.8422 15.1316C95.6371 15.407 95.5346 15.8201 95.5346 16.3708ZM99.5908 16.2786C99.5908 15.8127 99.683 15.3938 99.8676 15.0217C100.052 14.6467 100.311 14.3596 100.645 14.1604C100.979 13.9583 101.363 13.8572 101.797 13.8572C102.438 13.8572 102.958 14.0637 103.357 14.4768C103.758 14.8899 103.975 15.4377 104.007 16.1204L104.012 16.3708C104.012 16.8396 103.921 17.2585 103.739 17.6277C103.56 17.9968 103.303 18.2825 102.966 18.4846C102.632 18.6868 102.245 18.7878 101.806 18.7878C101.135 18.7878 100.597 18.5652 100.193 18.1199C99.7914 17.6716 99.5908 17.0754 99.5908 16.3313V16.2786ZM100.659 16.3708C100.659 16.8601 100.76 17.2439 100.962 17.5222C101.164 17.7976 101.445 17.9353 101.806 17.9353C102.166 17.9353 102.446 17.7947 102.645 17.5134C102.847 17.2322 102.948 16.8206 102.948 16.2786C102.948 15.7981 102.844 15.4172 102.636 15.136C102.431 14.8547 102.151 14.7141 101.797 14.7141C101.448 14.7141 101.171 14.8533 100.966 15.1316C100.761 15.407 100.659 15.8201 100.659 16.3708ZM105.906 13.9451L105.936 14.4944C106.288 14.0696 106.749 13.8572 107.321 13.8572C108.311 13.8572 108.815 14.4241 108.832 15.5579V18.7H107.765V15.6194C107.765 15.3176 107.699 15.095 107.567 14.9514C107.438 14.8049 107.226 14.7317 106.93 14.7317C106.499 14.7317 106.178 14.9265 105.967 15.3162V18.7H104.899V13.9451H105.906ZM111.966 16.2786C111.966 15.8127 112.058 15.3938 112.243 15.0217C112.427 14.6467 112.686 14.3596 113.02 14.1604C113.354 13.9583 113.738 13.8572 114.172 13.8572C114.813 13.8572 115.333 14.0637 115.732 14.4768C116.133 14.8899 116.35 15.4377 116.382 16.1204L116.387 16.3708C116.387 16.8396 116.296 17.2585 116.114 17.6277C115.935 17.9968 115.678 18.2825 115.341 18.4846C115.007 18.6868 114.62 18.7878 114.181 18.7878C113.51 18.7878 112.972 18.5652 112.568 18.1199C112.166 17.6716 111.966 17.0754 111.966 16.3313V16.2786ZM113.034 16.3708C113.034 16.8601 113.135 17.2439 113.337 17.5222C113.539 17.7976 113.82 17.9353 114.181 17.9353C114.541 17.9353 114.821 17.7947 115.02 17.5134C115.222 17.2322 115.323 16.8206 115.323 16.2786C115.323 15.7981 115.219 15.4172 115.011 15.136C114.806 14.8547 114.526 14.7141 114.172 14.7141C113.823 14.7141 113.546 14.8533 113.341 15.1316C113.136 15.407 113.034 15.8201 113.034 16.3708ZM118.281 13.9451L118.311 14.4944C118.663 14.0696 119.124 13.8572 119.696 13.8572C120.686 13.8572 121.19 14.4241 121.207 15.5579V18.7H120.14V15.6194C120.14 15.3176 120.074 15.095 119.942 14.9514C119.813 14.8049 119.601 14.7317 119.305 14.7317C118.874 14.7317 118.553 14.9265 118.342 15.3162V18.7H117.274V13.9451H118.281Z" fill="#181818"/>
              </svg>
            </a>

          </div>
        </div>
      </div>
      <!-- HERO PHONE -->
      <div class="col-lg-6 col-md-6 rel mockup-con hidden-sm hidden-xs">
        <div class="phone-con wow fadeIn" data-wow-delay="0.2s">
          <div class="phone-case">
            <img src="{{'assets/img/svg/screen-1.png'|theme}}" alt="" class="mockup-img center-block wow fadeIn" data-wow-delay="0.2s" id="mockup">
            <!-- <img src="{{'assets/img/svg/screen-2.png'|theme}}" alt="" class="mockup-img2 center-block wow fadeIn" data-wow-delay="0.2s" id="mockup"> -->
            <div class="phone-elements">
              <svg xmlns="http://www.w3.org/2000/svg" width="336" height="589" viewBox="0 0 336 589" fill="none">
                <circle cx="332.227" cy="567.409" r="3.40909" fill="#006AFF"/>
                <rect x="308.364" y="582.182" width="6.81818" height="6.81818" fill="#FFB704"/>
                <rect x="272" y="570.818" width="4.54545" height="4.54545" fill="#4C83FF"/>
                <circle cx="10.6243" cy="565.624" r="2.14284" transform="rotate(15 10.6243 565.624)" fill="#FFB704"/>
                <circle cx="27.6623" cy="3.60809" r="3.60809" fill="#006AFF"/>
                <rect y="24.054" width="4.81079" height="4.81079" fill="#FFB704"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="tricycle hidden-xs rellax" data-rellax-speed="2" >
        <svg xmlns="http://www.w3.org/2000/svg" width="168" height="128" viewBox="0 0 168 128" fill="none">
          <g clip-path="url(#clip0)">
          <path d="M120.28 102.388C120.28 89.2106 130.962 78.5279 144.14 78.5279C157.318 78.5279 168.001 89.2107 168.001 102.388C168.001 115.566 157.318 126.249 144.14 126.249C130.962 126.249 120.28 115.566 120.28 102.388ZM161.731 102.388C161.731 92.6735 153.855 84.7979 144.14 84.7979C134.425 84.7979 126.55 92.6735 126.55 102.388C126.55 112.103 134.425 119.979 144.14 119.979C153.855 119.979 161.731 112.103 161.731 102.388Z" fill="#0F0F0F"/>
          <path d="M148.19 119.491L142.484 111.664" stroke="#181818" stroke-width="0.968255"/>
          <path d="M147.121 119.697L148.776 109.845" stroke="#181818" stroke-width="0.968255"/>
          <path d="M154.302 116.615L146.277 111.191" stroke="#181818" stroke-width="0.968255"/>
          <path d="M153.366 117.172L151.577 107.343" stroke="#181818" stroke-width="0.968255"/>
          <path d="M159.854 113.274L150.35 111.408" stroke="#181818" stroke-width="0.968255"/>
          <path d="M159.209 114.152L153.73 105.798" stroke="#181818" stroke-width="0.968255"/>
          <path d="M161.494 104.877L152.129 107.35" stroke="#181818" stroke-width="0.968255"/>
          <path d="M161.297 105.948L152.719 100.827" stroke="#181818" stroke-width="0.968255"/>
          <path d="M161.015 98.1853L153.044 103.689" stroke="#181818" stroke-width="0.968255"/>
          <path d="M161.194 99.2598L151.387 97.3523" stroke="#181818" stroke-width="0.968255"/>
          <path d="M158.321 92.0352L153.209 100.262" stroke="#181818" stroke-width="0.968255"/>
          <path d="M158.913 92.9487L149.16 95.1134" stroke="#181818" stroke-width="0.968255"/>
          <path d="M153.314 87.1716L151.68 96.7188" stroke="#181818" stroke-width="0.968255"/>
          <path d="M154.206 87.7954L145.989 93.4765" stroke="#181818" stroke-width="0.968255"/>
          <path d="M146.752 85.0417L149.101 94.4384" stroke="#181818" stroke-width="0.968255"/>
          <path d="M147.82 85.2529L142.587 93.7626" stroke="#181818" stroke-width="0.968255"/>
          <path d="M139.966 85.3628L145.794 93.0993" stroke="#181818" stroke-width="0.968255"/>
          <path d="M141.032 85.1401L139.532 95.0168" stroke="#181818" stroke-width="0.968255"/>
          <path d="M141.187 119.752L139.061 110.303" stroke="#181818" stroke-width="0.968255"/>
          <path d="M140.124 119.516L145.557 111.133" stroke="#181818" stroke-width="0.968255"/>
          <path d="M134.555 117.09L136.589 107.62" stroke="#181818" stroke-width="0.968255"/>
          <path d="M133.689 116.43L142.138 111.099" stroke="#181818" stroke-width="0.968255"/>
          <path d="M129.586 112.351L134.897 104.251" stroke="#181818" stroke-width="0.968255"/>
          <path d="M129.016 111.422L138.819 109.497" stroke="#181818" stroke-width="0.968255"/>
          <path d="M124.709 105.199L132.796 99.8692" stroke="#181818" stroke-width="0.968255"/>
          <path d="M124.554 104.122L134.317 106.24" stroke="#181818" stroke-width="0.968255"/>
          <path d="M126.843 99.1958L136.344 97.3114" stroke="#181818" stroke-width="0.968255"/>
          <path d="M127.106 98.1392L135.348 103.785" stroke="#181818" stroke-width="0.968255"/>
          <path d="M129.233 92.8152L138.707 94.8328" stroke="#181818" stroke-width="0.968255"/>
          <path d="M129.892 91.9482L135.237 100.388" stroke="#181818" stroke-width="0.968255"/>
          <path d="M133.77 88.1687L142.014 93.2529" stroke="#181818" stroke-width="0.968255"/>
          <path d="M134.682 87.5737L136.879 97.3191" stroke="#181818" stroke-width="0.968255"/>
          <circle cx="144.141" cy="102.388" r="9.44973" fill="#C4C4C4"/>
          <path d="M153.59 102.389C153.59 107.608 149.36 111.838 144.141 111.838C138.922 111.838 134.691 107.608 134.691 102.389C134.691 97.1698 138.922 92.939 144.141 92.939C149.36 92.939 153.59 97.1698 153.59 102.389ZM139.768 102.389C139.768 104.804 141.726 106.761 144.141 106.761C146.556 106.761 148.513 104.804 148.513 102.389C148.513 99.9737 146.556 98.016 144.141 98.016C141.726 98.016 139.768 99.9737 139.768 102.389Z" fill="#042553"/>
          <path d="M120.752 115.265L122.287 112.312C120.752 102.035 119.689 89.278 134.1 82.0726C145.628 76.3082 155.755 81.7182 159.378 85.1437L162.213 84.435L161.976 84.1987C159.653 81.8363 152.928 77.0879 144.612 76.9934C134.218 76.8753 123.587 84.0807 119.689 94.2391C116.57 102.366 119.098 111.642 120.752 115.265Z" fill="#618FCF"/>
          <path d="M54.6284 65.7437C53.3055 66.0272 51.3998 65.8618 50.6123 65.7437C50.0217 65.6256 48.6042 65.3893 47.6593 65.3893C46.478 65.3893 42.8163 68.2242 42.3438 70.4685C41.9658 72.2639 46.0449 79.0126 48.1317 82.1625L73.5279 83.8162L75.4178 82.7531C75.6541 82.95 77.0715 82.7531 77.544 82.7531C78.0165 82.7531 79.3946 81.6506 80.0246 81.0994L93.8448 82.1625L101.286 81.69C104.405 81.2175 113.374 77.4376 117.469 76.1383L126.801 72.2403L143.904 105.933L146.999 104.369L126.801 64.9168H127.155C130.699 67.7517 133.534 66.57 133.77 66.4519C134.006 66.3338 134.833 66.3342 134.833 66.098C134.833 65.8617 134.006 65.1526 134.597 61.4908C135.069 58.5614 134.912 56.884 134.006 56.2934C134.085 56.0966 133.77 55.9863 133.297 55.7028C132.825 55.4193 131.841 55.5847 131.407 55.5847C130.935 55.5847 130.77 55.7264 128.691 56.7659C126.092 58.0653 125.147 60.31 124.911 60.4281C124.675 60.5463 124.438 60.4281 124.32 60.0738C124.202 59.7194 124.939 59.0778 125.619 57.829C126.328 56.5292 126.801 55.2308 126.801 54.6402C126.801 54.0496 126.328 53.6952 125.974 53.459C125.69 53.27 123.73 53.3802 122.785 53.459C122.076 53.1042 122.241 52.3246 120.54 52.0411C118.839 51.7576 117.981 52.199 117.705 52.6321H112.744L113.217 55.9396L117.705 55.7033C117.705 55.7427 117.587 55.7033 118.06 56.1758C118.532 56.6483 118.847 56.9239 119.005 56.8845L120.895 60.7825C120.54 60.9007 119.501 61.255 118.178 61.7275C116.524 62.3181 112.626 63.9718 112.035 64.2081C111.563 64.3971 107.98 64.2868 106.248 64.2081H105.893C105.184 64.2081 99.9871 64.6805 94.6716 65.9799C89.3562 67.2792 85.5763 69.8779 82.9776 69.8779C80.8987 69.8779 73.0554 68.3029 69.3936 67.5155C68.6061 67.4761 66.5351 67.3265 64.5506 67.043C62.0701 66.6886 61.3613 65.8618 59.8258 65.3893C58.2902 64.9168 56.2821 65.3893 54.6284 65.7437Z" fill="#1C232C"/>
          <path d="M121.106 60.6921L111.656 63.9995L109.058 64.5902L112.247 78.5285L127.012 72.1499L121.106 60.6921Z" fill="#0B346E"/>
          <path d="M99.4897 30.6892V11.0811H96.8911V30.2167L99.4897 30.6892Z" fill="#006AFF"/>
          <path d="M86.3784 37.3042C86.1895 37.3042 86.0241 36.9499 85.4335 35.7686V34.7055L81.4173 33.2881L77.6375 35.7686C82.7167 39.9029 86.6147 37.3042 86.3784 37.3042Z" fill="#E5985F"/>
          <path d="M70.5502 49.9434C72.5347 40.4937 76.1807 36.5563 77.7556 35.7688C80.4724 36.4775 84.0161 37.6587 86.1422 37.0681L87.5597 40.1393C87.5597 40.3755 88.0322 41.4386 88.0322 42.5017C88.0322 43.3091 86.3785 48.7622 85.7879 51.2427C85.6698 54.9832 85.4099 62.795 85.3154 64.118C85.2209 65.4409 85.591 67.3466 85.7879 68.1341L84.2523 69.4334L69.1328 67.7797C68.7784 65.7717 68.5658 59.3931 70.5502 49.9434Z" fill="white"/>
          <path d="M74.566 62.3461C75.6291 62.228 78.9366 68.7247 79.0547 68.8428L69.1325 67.7797C68.4238 65.2992 68.8964 60.22 69.2507 57.7394C69.6685 54.8137 70.3137 49.4709 72.3217 43.9192C73.9282 39.4778 76.2985 36.7531 77.2828 36.005L77.6372 35.7688C82.0077 36.8319 84.6065 36.7138 85.6696 36.3594C85.9058 36.8319 86.5357 36.8319 87.4413 39.5487C87.5594 39.9031 87.899 41.4386 88.0319 42.5017C88.1119 43.1421 86.3388 47.1872 86.0238 48.8803L85.4332 59.1569C84.0158 59.1569 78.9365 52.1877 78.3459 51.2427C77.7553 50.2977 76.2197 40.1393 74.566 42.5017C72.9123 44.8641 69.8411 64.2361 70.9042 63.9998C71.9673 63.7636 73.5029 62.4642 74.566 62.3461Z" fill="#F5F5F5"/>
          <path d="M83.429 28.3291C83.429 28.3291 82.4108 33.0058 85.6673 35.4472L86.6558 32.2031L83.1847 28.4254" fill="#1E1C20"/>
          <path d="M95.6245 20.8873C95.6667 19.5882 95.4223 17.6627 93.0929 15.572C89.2436 12.1179 85.5305 15.8314 85.5305 15.8314C84.3616 15.3318 83.2286 15.4508 82.2986 16.4382C81.4272 17.3625 81.3315 19.5725 81.2774 20.3352L80.8817 25.1593L83.0562 21.1191C84.7668 18.5464 86.4079 17.7868 86.4079 17.7868L90.6079 18.7029L90.9575 25.0735L94.5567 23.7195C95.0601 23.4831 95.3103 22.4381 95.4664 21.8033C95.5568 21.4356 95.6174 21.1112 95.6245 20.8873Z" fill="#1E1C20"/>
          <path d="M87.2317 33.7689C84.2245 32.8526 82.5298 29.6719 83.4461 26.6647L86.4463 16.8187L91.6298 17.8334C93.4989 18.4029 95.024 22.3842 94.4546 24.2529L92.3932 31.018C91.7275 33.203 89.4168 34.4347 87.2317 33.7689Z" fill="#E5985F"/>
          <path d="M93.6201 25.8012L94.4789 29.3917C94.5988 29.7632 94.2512 30.1173 93.8771 30.0029L91.1935 29.1839L93.6201 25.8012Z" fill="#E5985F"/>
          <path d="M95.371 19.5914C95.2522 19.6105 92.3337 17.2368 92.3337 17.2368L89.0109 17.6535C89.0109 17.6535 89.011 17.6573 89.0109 17.6605C86.1282 17.8997 85.7478 22.3194 85.7478 22.3194C88.8266 22.1729 89.8608 20.2871 90.4208 19.1694C90.6125 20.2165 92.655 22.8245 94.8785 23.4335L95.4031 21.9247C95.4031 21.9247 95.4895 19.5723 95.371 19.5914Z" fill="#1E1C20"/>
          <path d="M87.5106 19.9656L85.4864 25.3839L83.6563 23.3909L85.68 19.8018L87.5106 19.9656Z" fill="#1E1C20"/>
          <path d="M93.6416 25.219L93.9804 24.1794L92.0303 23.6234C91.784 23.5534 91.5214 23.5697 91.2859 23.6701L89.8767 24.2688L91.586 24.5237L93.6416 25.219Z" fill="#1E1C20"/>
          <path d="M92.4063 15.029C88.8313 12.3139 85.6153 14.7276 85.6153 14.7276C84.1965 14.0169 82.5181 14.869 82.5181 14.869C75.9569 17.8314 80.1061 25.3123 80.1061 25.3123L78.7412 29.7915C82.4139 30.9106 84.8866 27.352 84.8866 27.352L86.7495 20.435L86.7867 20.4181L88.3856 18.4779L90.6083 18.7026C90.6083 18.7026 95.9807 17.7443 92.4063 15.029Z" fill="#1E1C20"/>
          <path d="M85.5649 25.9592C85.5724 27.0831 84.8483 27.9987 83.9481 28.0044C83.0483 28.01 82.313 27.1035 82.3059 25.9797C82.2988 24.8559 83.0225 23.9402 83.9224 23.9343C84.8226 23.9285 85.5578 24.8354 85.5649 25.9592Z" fill="#E5985F"/>
          <path d="M83.789 25.0819C83.789 25.0819 84.8298 25.0541 85.0762 26.6498" stroke="#B86121" stroke-width="6.18692" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M84.8248 25.8296C84.8248 25.8296 83.6294 26.0662 84.0568 27.0995" stroke="#B86121" stroke-width="6.18692" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M117.917 52.6602H112.365V55.9676H117.917C118.232 55.8888 118.932 55.4714 119.216 54.432C119.499 53.3925 118.468 52.8177 117.917 52.6602Z" fill="#0B346F"/>
          <path d="M106.913 51.2844C106.442 51.2844 103.838 50.6266 102.594 50.2976L101.122 50.495L100.729 52.1726L100.435 54.9357L102.889 55.1331C103.674 55.1989 105.323 55.3502 105.637 55.4292C106.03 55.5279 106.03 57.1068 106.717 57.6002C107.404 58.0936 109.269 58.0936 109.465 58.0936C109.662 58.0936 109.956 58.0936 110.84 57.8963C111.546 57.7384 112.377 57.3042 112.705 57.1068C113.588 57.6989 114.373 57.0081 114.373 56.416C114.373 55.9423 113.261 53.7844 112.705 52.7647V52.1726C112.705 51.8765 111.527 51.0871 110.643 50.8897C109.76 50.6923 108.778 51.2844 108.68 51.2844H106.913Z" fill="#E5985F"/>
          <path d="M86.9691 42.2655C83.1892 39.4306 80.5905 39.2731 79.7637 39.5487C76.1019 41.9111 81.2992 50.4159 89.9221 53.6052C96.8204 56.1566 101.301 56.0858 102.679 55.7314V49.8253C101.656 49.7072 98.6867 49.1402 95.0013 47.8173C91.316 46.4943 88.1109 43.5649 86.9691 42.2655Z" fill="#FFB704"/>
          <path d="M79.7639 39.5485C82.4099 38.509 87.7568 42.1473 89.568 43.9191L86.2606 53.8413L79.7639 47.4626C78.6615 45.2577 77.118 40.5879 79.7639 39.5485Z" fill="#DFDFDF"/>
          <path d="M42.5556 26.5551C33.6728 27.5946 23.9711 29.9019 20.2306 30.9256L102.679 30.9256L88.8592 28.0907C74.5665 25.2558 53.659 25.2558 42.5556 26.5551Z" fill="#1275FF"/>
          <path d="M58.9742 30.8073C39.6022 30.3348 40.9016 27.6967 43.9727 26.4368C35.1845 27.2872 24.5614 29.7835 20.3484 30.9254H102.207L97.2455 29.8623L58.9742 30.8073Z" fill="#1959B4"/>
          <path d="M104.923 30.9258H18.6947V32.8157H104.923V30.9258Z" fill="#0B346F"/>
          <path d="M106.814 32.8159H17.1593C17.5373 34.4224 19.0492 35.5327 19.758 35.8871H101.144C104.168 36.1706 106.184 33.9578 106.814 32.8159Z" fill="#022250"/>
          <path d="M46.3352 59.2747L67.1246 35.8866L19.5216 35.6504L5.93762 81.2453L15.3873 102.153C24.5615 101.562 41.3741 104.279 41.3741 104.279L58.5017 113.138H69.487H80.4723L79.7636 110.303L76.5743 95.0655L75.7475 89.5138C75.1569 83.4896 71.5738 81.8359 69.3689 81.3634V78.8829C69.3689 78.5285 69.0145 72.15 67.0065 71.205C64.8135 70.173 54.6037 68.3701 54.3675 68.2519C54.1785 68.1574 48.9339 64.7477 46.3352 63.0546C46.2171 62.8971 45.9148 62.6342 45.5083 62.2277C44.9177 61.6371 44.6815 61.3221 44.4453 61.1646L46.3352 59.2747Z" fill="#0C3369"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M99.1354 35.8867H101.143L101.616 37.1861C101.589 37.1861 101.56 37.1866 101.53 37.1877C101.236 37.1965 100.756 37.2514 100.67 37.4226C100.576 37.6116 107.64 56.1645 111.183 65.4174H112.956V77.2293L114.019 81.4816L123.823 105.224C126.973 105.382 133.414 105.767 133.981 106.051C134.599 106.36 134.499 107.834 134.463 108.365C134.458 108.443 134.454 108.501 134.454 108.531C134.454 108.72 134.296 108.846 134.217 108.886C133.233 109.398 129.138 110.374 120.633 110.185C118.271 109.949 113.475 109.476 113.192 109.476C112.908 109.476 107.483 111.76 104.805 112.902V110.185L112.601 108.295L109.648 81.4816V77.2293L99.1354 35.8867Z" fill="#006AFF"/>
          <path d="M100.671 37.4225C100.766 37.2335 101.341 37.1863 101.616 37.1863L113.074 65.4173H111.184C107.641 56.1645 100.577 37.6115 100.671 37.4225Z" fill="#DDE1E5"/>
          <path d="M32.279 35.7684L19.5219 35.7685C14.8224 50.1817 5.41484 79.6765 5.93757 81.2454C6.05563 81.5998 8.0637 85.8522 8.89058 87.7421L15.2691 101.562L18.3403 85.6159L32.279 35.7684Z" fill="#0F66E0"/>
          <path d="M134.926 55.2584C134.832 54.8804 133.154 54.7859 132.327 54.7859C133.272 56.2978 132.957 63.6844 132.682 67.1887C133.627 67.6611 134.69 67.0705 134.926 66.9524C135.162 66.8343 135.044 55.7309 134.926 55.2584Z" fill="white"/>
          <path d="M136.934 60.9286C136.934 58.0937 135.517 56.44 134.808 55.9675C134.69 59.4324 134.524 66.315 134.808 66.126C135.162 65.8897 136.934 64.4723 136.934 60.9286Z" fill="#DDE1E5"/>
          <path d="M128.548 56.2038C126.185 57.6213 125.28 59.6293 125.122 60.4562C125.122 61.6374 125.477 62.8186 126.776 64.5904C127.815 66.0079 131.146 66.9922 132.682 67.3072C132.879 66.126 133.273 63.1257 133.273 60.5743C133.273 58.0228 132.8 55.6526 132.564 54.7863C132.209 54.6682 130.91 54.7863 128.548 56.2038Z" fill="#006AFF"/>
          <path d="M34.5231 27.8543V11.0811H37.1217V27.3818L34.5231 27.8543Z" fill="#006AFF"/>
          <path d="M117.799 11.0812H22.7108L20.5846 9.54565H121.579L117.799 11.0812Z" fill="#022250"/>
          <path d="M20.703 9.54579L19.9943 7.89209L123.114 8.01021L121.697 9.54579H20.703Z" fill="#0B346E"/>
          <path d="M21.6478 8.00998V6.00191L120.752 5.88379V8.00998H21.6478Z" fill="#131F30"/>
          <path d="M56.3754 1.04097C43.9017 1.60795 29.2074 4.58461 23.4194 6.00207L117.68 6.00202L108.467 4.11213C93.2293 1.39533 71.9674 0.332236 56.3754 1.04097Z" fill="#1275FF"/>
          <path d="M68.1878 5.76576C45.2249 5.57677 47.674 2.77335 51.7689 1.39526C46.099 1.39526 30.5858 4.38768 23.5378 5.88388H117.208C115.161 5.45077 111.019 4.58455 110.83 4.58455C109.53 4.82079 96.8913 6.002 68.1878 5.76576Z" fill="#1959B4"/>
          <path d="M117.444 18.6408L117.563 11.0811H108.94H107.758V15.924C108.42 17.5305 110.711 18.4046 111.775 18.6408H117.444Z" fill="#006AFF"/>
          <path d="M108.94 16.0422V11.0811H107.758L107.877 16.1603C108.916 18.8062 113.665 18.8377 115.909 18.5227C111.278 18.6172 109.333 16.9084 108.94 16.0422Z" fill="#2561B4"/>
          <path d="M126.067 53.2507H122.878L122.405 53.1326L122.169 54.9044H122.996H125.477C125.666 55.6604 124.453 57.4243 123.823 58.2118L124.532 59.7474C124.925 59.1961 125.925 57.7157 126.776 56.2037C127.626 54.6918 126.658 53.6051 126.067 53.2507Z" fill="#B8D5FF"/>
          <circle cx="120.043" cy="54.3137" r="2.83492" fill="#B8D5FF"/>
          <path d="M121.224 43.3284H120.752L119.453 45.3364L119.689 45.4546V45.6908L120.752 46.3995L121.224 45.8089H121.461L121.933 45.4546L122.051 45.2183V44.7458L122.169 44.2733V43.919L121.224 43.3284Z" fill="#4E545C"/>
          <path d="M121.224 43.3284H120.752L119.453 45.3364L119.689 45.4546V45.6908L120.043 45.927L121.579 43.5646L121.224 43.3284Z" fill="#8D8F93"/>
          <path d="M122.287 46.636C122.193 46.636 121.697 46.0848 121.46 45.8092L121.933 45.3367C122.027 45.4312 122.287 45.5335 122.405 45.5729L124.059 46.1635L124.886 46.3998L125.004 46.5179V47.3447V53.2508L123.823 53.3689L123.941 46.9904L122.287 46.636Z" fill="#0A1627"/>
          <path d="M93.3478 27.0845C93.3478 27.0845 93.5914 26.4877 93.9384 27.0277L93.8881 26.2131H93.3626L93.3478 27.0845Z" fill="#1D2C51"/>
          <path d="M89.3493 25.0095C89.38 24.5554 91.1563 24.594 92.5813 25.0262C93.3946 25.2508 93.6811 25.5444 93.7226 25.6632C93.6112 25.6676 93.5608 26.0609 90.9575 25.1283C90.9575 25.1283 89.6711 25.4005 89.6129 25.4762C89.5548 25.552 89.3187 25.4636 89.3493 25.0095Z" fill="#006AFF"/>
          <path d="M93.7605 25.6614C93.7605 25.6614 93.8363 26.8961 93.0077 27.6721C93.0077 27.6721 89.8051 27.4102 89.5189 25.4805C89.5189 25.4805 90.1638 24.6728 91.3919 25.0793C92.62 25.4859 92.9176 25.7605 93.7605 25.6614Z" fill="#FFB704"/>
          <path d="M93.6232 26.6526C93.7882 26.1194 93.7602 25.6616 93.7602 25.6616C92.9173 25.7607 92.6197 25.4861 91.3916 25.0795C90.7316 24.861 90.2401 24.9933 89.9265 25.1624C90.2735 25.8276 91.2049 26.5767 93.6232 26.6526Z" fill="#FFD364"/>
          <path d="M121.343 36.2414L118.744 40.6119L116.736 43.8012L114.491 47.463V48.6442C114.491 49.0222 114.964 48.9592 115.2 48.8804L120.988 39.4307C121.657 38.3282 123.02 36.076 123.114 35.887C123.232 35.6508 123.114 35.2965 122.642 35.1783C122.264 35.0838 121.933 35.2965 121.815 35.4146L121.343 36.2414Z" fill="#070B12"/>
          <path d="M121.106 39.3125L119.807 41.4387C118.901 42.9742 117.019 46.1635 116.736 46.636C116.381 47.2266 116.854 47.4628 117.208 47.6991C117.492 47.8881 117.72 47.8566 117.799 47.8172L120.634 43.5648C121.145 42.6986 122.216 40.8244 122.405 40.2574C122.594 39.6904 122.327 39.3912 122.169 39.3125C121.602 38.9345 121.224 39.155 121.106 39.3125Z" fill="#181818"/>
          <path d="M120.633 38.4857C121.303 37.462 122.642 35.3909 122.642 35.2964C122.642 35.2019 122.169 35.2963 121.933 35.4145C121.838 35.4126 121.382 36.1224 121.106 36.5957L121.578 36.832L117.208 43.9193L115.2 47.1085V46.2817L114.609 47.3448C114.531 47.7779 114.515 48.526 114.609 48.526C114.704 48.526 115.239 47.6204 115.554 47.1085L120.633 38.4857Z" fill="#0C1320"/>
          <path d="M121.579 36.8319L121.106 36.5957L115.2 46.2817V47.1085L121.579 36.8319Z" fill="#C0D2DF"/>
          <path d="M120.815 39.2107L121.266 38.4898C121.307 38.424 121.282 38.3372 121.213 38.3025C121.152 38.2722 121.079 38.2929 121.043 38.3504L120.592 39.0714C120.551 39.1371 120.575 39.224 120.645 39.2587C120.705 39.289 120.779 39.2682 120.815 39.2107Z" fill="#4E545C"/>
          <path d="M117.681 40.9658C118.153 40.8713 119.216 41.3201 119.689 41.5564V41.6745C119.138 42.6982 118.011 44.7457 117.917 44.7457C117.799 44.7457 116.381 43.2101 116.381 42.9739C116.381 42.7376 117.09 41.0839 117.681 40.9658Z" fill="#1E2631"/>
          <rect x="123.587" y="53.1326" width="1.6537" height="1.88994" fill="#121A26"/>
          <path d="M147.093 104.397L135.635 82.1904L132.564 83.6079L143.903 106.051L147.093 104.397Z" fill="#C2C2C3"/>
          <path d="M84.0156 68.3697L69.2504 66.5979L69.7229 68.606L87.323 88.4504H97.1271C96.7333 86.9542 95.8513 83.7255 95.4734 82.7806C95.0954 81.8356 88.8585 71.9921 85.7874 67.1885L84.0156 68.3697Z" fill="#373C42"/>
          <path d="M73.9758 69.0783L72.4402 71.677L69.6053 68.3696L69.369 66.9521L84.1342 68.1334L85.7879 67.0703L93.7021 79.5912L95.4739 82.6623L97.2457 88.6865L92.7571 88.4503L92.5208 88.0959L95.0014 84.316L93.7021 80.418L84.4886 69.0783H73.9758Z" fill="#272D34"/>
          <path d="M108.349 88.4501H74.9205L72.558 94.7106H70.1956L68.3057 109.476H78.346H104.687L112.719 107.468L109.648 80.7722L108.349 88.4501Z" fill="#0F0F0F"/>
          <path d="M104.805 109.358H69.2504V112.193H104.805V109.358Z" fill="#041731"/>
          <path d="M64.9418 104.043C64.9418 117.221 54.2591 127.904 41.0813 127.904C27.9034 127.904 17.2207 117.221 17.2207 104.043C17.2207 90.8656 27.9034 80.1829 41.0813 80.1829C54.2591 80.1829 64.9418 90.8656 64.9418 104.043ZM23.4907 104.043C23.4907 113.758 31.3663 121.634 41.0813 121.634C50.7963 121.634 58.6718 113.758 58.6718 104.043C58.6718 94.3284 50.7963 86.4528 41.0813 86.4528C31.3663 86.4528 23.4907 94.3284 23.4907 104.043Z" fill="#0F0F0F"></path>
          <path d="M37.0308 86.9407L42.7368 94.7675" stroke="#181818" stroke-width="0.968255"/>
          <path d="M38.1002 86.7356L36.4452 96.5876" stroke="#181818" stroke-width="0.968255"/>
          <path d="M30.9196 89.8167L38.9442 95.241" stroke="#181818" stroke-width="0.968255"/>
          <path d="M31.8556 89.2603L33.644 99.0889" stroke="#181818" stroke-width="0.968255"/>
          <path d="M26.0765 94.8606L35.581 96.7267" stroke="#181818" stroke-width="0.968255"/>
          <path d="M26.7218 93.9832L32.201 102.337" stroke="#181818" stroke-width="0.968255"/>
          <path d="M23.7272 101.555L33.0922 99.0826" stroke="#181818" stroke-width="0.968255"/>
          <path d="M23.9241 100.484L32.5016 105.605" stroke="#181818" stroke-width="0.968255"/>
          <path d="M24.2067 108.247L32.1774 102.744" stroke="#181818" stroke-width="0.968255"/>
          <path d="M24.0288 107.173L33.8351 109.08" stroke="#181818" stroke-width="0.968255"/>
          <path d="M26.8989 114.397L32.011 106.17" stroke="#181818" stroke-width="0.968255"/>
          <path d="M26.3066 113.483L36.0594 111.318" stroke="#181818" stroke-width="0.968255"/>
          <path d="M31.9065 119.26L33.5406 109.713" stroke="#181818" stroke-width="0.968255"/>
          <path d="M31.0135 118.637L39.231 112.956" stroke="#181818" stroke-width="0.968255"/>
          <path d="M38.4696 121.39L36.12 111.994" stroke="#181818" stroke-width="0.968255"/>
          <path d="M37.401 121.179L42.6343 112.669" stroke="#181818" stroke-width="0.968255"/>
          <path d="M45.2551 121.069L39.4273 113.333" stroke="#181818" stroke-width="0.968255"/>
          <path d="M44.189 121.292L45.6896 111.415" stroke="#181818" stroke-width="0.968255"/>
          <path d="M44.0341 86.6794L46.1602 96.1292" stroke="#181818" stroke-width="0.968255"/>
          <path d="M45.0969 86.9155L39.6633 95.2987" stroke="#181818" stroke-width="0.968255"/>
          <path d="M50.6849 89.3311L48.6511 98.8011" stroke="#181818" stroke-width="0.968255"/>
          <path d="M51.5509 89.9917L43.102 95.3224" stroke="#181818" stroke-width="0.968255"/>
          <path d="M55.6356 94.0815L50.324 102.181" stroke="#181818" stroke-width="0.968255"/>
          <path d="M56.2056 95.01L46.4029 96.9357" stroke="#181818" stroke-width="0.968255"/>
          <path d="M58.3157 100.283L50.2281 105.613" stroke="#181818" stroke-width="0.968255"/>
          <path d="M58.4707 101.362L48.7079 99.243" stroke="#181818" stroke-width="0.968255"/>
          <path d="M58.3778 107.236L48.8769 109.12" stroke="#181818" stroke-width="0.968255"/>
          <path d="M58.1144 108.292L49.8726 102.647" stroke="#181818" stroke-width="0.968255"/>
          <path d="M55.9883 113.616L46.5148 111.599" stroke="#181818" stroke-width="0.968255"/>
          <path d="M55.3295 114.484L49.9843 106.044" stroke="#181818" stroke-width="0.968255"/>
          <path d="M51.4515 118.263L43.2072 113.179" stroke="#181818" stroke-width="0.968255"/>
          <path d="M50.5392 118.858L48.3415 109.113" stroke="#181818" stroke-width="0.968255"/>
          <path d="M50.5307 104.043C50.5307 109.262 46.2999 113.493 41.081 113.493C35.862 113.493 31.6312 109.262 31.6312 104.043C31.6312 98.8245 35.862 94.5938 41.081 94.5938C46.2999 94.5938 50.5307 98.8245 50.5307 104.043ZM36.7083 104.043C36.7083 106.458 38.666 108.416 41.081 108.416C43.4959 108.416 45.4536 106.458 45.4536 104.043C45.4536 101.629 43.4959 99.6708 41.081 99.6708C38.666 99.6708 36.7083 101.629 36.7083 104.043Z" fill="#042553"/>
          <circle cx="41.1374" cy="104.042" r="4.48862" fill="#C2C2C3"/>
          <path d="M17.6933 116.092L19.2289 113.139C17.6933 102.863 16.6302 90.1054 31.041 82.8999C42.5697 77.1356 52.6966 82.5456 56.319 85.9711L59.1539 85.2624L58.9177 85.0261C56.5946 82.6637 49.8696 77.9153 41.5538 77.8208C31.1591 77.7026 20.5282 84.9081 16.6302 95.0665C13.5118 103.193 16.0396 112.47 17.6933 116.092Z" fill="#618FCF"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="168" height="127.904" fill="white"/>
          </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="cities-bg"></div>
    <div class="hero-map-bg hidden-xs"></div>
    <!-- <div class="svg-map">

    </div> -->
  </div>
  <!-- WE'RE TODA APP -->
  {variable type="text" name="abt_head" tab="About" label="Header" span="left"}{/variable}
  {variable type="richeditor" name="abt_sub" tab="About" label="Teaser" span="left" toolbarButtons="bold,formatUL,formatOL"}{/variable}
  <div class="row noPM rel pt abt-row" id="about">
    <div class="abt-top-border rellax" data-rellax-speed="2"></div>
    <div class="container mb-pad">
      <div class="col-lg-5 col-md-5 noP">
        <div class="abt-txt-con wow fadeIn" data-wow-delay="0.2s">
          <div class="block-title">we're toda app</div>
          <div class="block-head">{{abt_head|raw}}</div>
          <div class="body-text-16">{{abt_sub|raw}}
          </div>
        </div>
        <div class="card-stats-con wow fadeIn" data-wow-delay="0.2s">
          {repeater name="stats" tab="Statistics" label="Statistics" prompt="Add New"}
            {variable type="text" name="stats_num" label="Number" span="left"}{/variable}
            {variable type="text" name="stats_unit" label="Unit" span="left"}{/variable}
            {variable type="text" name="stats_name" label="Label" span="left"}{/variable}

            <div class="stats">
              <div class="block-head"><span class="num">{{fields.stats_num|raw}}</span> <span class="sub">{{fields.stats_unit|raw}}</span></div>
              <div class="sub-txt">{{fields.stats_name|raw}}</div>
            </div>

          {/repeater}
          <!-- <div class="stats">
            <div class="block-head"><span class="num"></span></div>
            <div class="body-text-14"></div>
          </div>
          <div class="stats">
            <div class="block-head"><span class="num"></span></div>
            <div class="body-text-14"></div>
          </div>
          <div class="stats">
            <div class="block-head"><span class="num"></span></div>
            <div class="body-text-14"></div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-7 col-md-7 noP">

      </div>
      <!-- WHY USE TODA APP? -->
      {variable type="text" name="ben_head" label="Header" tab="Benefits" span="left"}{/variable}
      <div class="col-lg-12 col-md-12 noP" id="benefit">
        <div class="why-use-con">
          <div class="why-header wow fadeIn" data-wow-delay="0.2s">
            <div class="block-title">why use toda ph?</div>
            <div class="block-head">{{ben_head|raw}}</div>
          </div>
          <div class="why-cards">
            {repeater name="bene_cards" tab="Benefits" label="Benefits"}
              {variable type="mediafinder" mode="image" name="ben_img" label="Image" span="left"}{/variable}
              {variable type="text" name="ben_label" label="Label" span="left"}{/variable}
              {variable type="richeditor" name="ben_desc" label="Description" span="left" toolbarButtons: "bold,italic,underline,align,formatOL,formatUL"}{/variable}
                  <div class="why-card wow fadeIn" data-wow-delay="{{loop.index * 0.3}}s">
                    <div class="card-img"><img src="{{fields.ben_img|media}}" alt="" class="img-responsive center-block"></div>
                    <div class="body-text-bold-16">{{fields.ben_label|raw}}</div>
                    <div class="body-text-16">{{fields.ben_desc|raw}}</div>
                  </div>
            {/repeater}
          </div>
        </div>
      </div>
    </div>
    <!-- PRIORITIZING SAFETY -->
    {variable type="section" tab="Safety" label="Prioritizing Safety" name="sec1" span="left"}{/variable}
    {variable type="mediafinder" mode="image" name="safe_img" tab="Safety" label="Image" span="left"}{/variable}
    {variable type="text" name="safe_label" label="Header" tab="Safety" span="left"}{/variable}
    {variable type="richeditor" name="safe_sub" tab="Safety" label="Teaser" span="left" toolbarButtons="bold,formatUL,formatOL"}{/variable}

    {variable type="section" tab="Safety" label="Our Location" name="sec2" span="left"}{/variable}
    {variable type="mediafinder" mode="image" name="loc_img" tab="Safety" label="Image" span="left"}{/variable}
    {variable type="text" name="loc_label" label="Header" tab="Safety" span="left"}{/variable}
    {variable type="text" name="loc_link" label="Link" tab="Safety" span="left"}{/variable}
    {variable type="richeditor" name="loc_sub" tab="Safety" label="Teaser" span="left" toolbarButtons="bold,formatUL,formatOL"}{/variable}
    <div class="row noPM pads safety-col">
      <div class="container mb-pad">
        <div class="safety-con wow fadeIn" data-wow-delay="0.2s">
          <div class="safety-img">
            <img src="{{'assets/img/svg/Payment.svg'|theme}}" alt="" class="img-responsive">
          </div>
          <div class="safe-txt-con">
            <div class="block-title">Prioritizing safety</div>
              <div class="block-head">{{safe_label|raw}}</div>
              <div class="body-text-16">{{safe_sub|raw}}</div>
              <div class="safety-btn">
                <a href="{{url('/safety')}}">Our Safety Procedures</a>
              </div>
          </div>
        </div>
        <div class="safety-con location-con wow fadeIn" data-wow-delay="0.2s">
          <div class="safe-txt-con">
            <div class="block-title">our location</div>
              <div class="block-head">{{loc_label|raw}}</div>
              <div class="body-text-16">{{loc_sub|raw}}</div>
              <div class="safety-btn">
                <a href="{{loc_link|raw}}">Need Waze to Taytay?</a>
              </div>
          </div>
          <div class="safety-img">
            <img src="{{loc_img|media}}" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- WHAT WE OFFER -->
    {variable type="text" name="feat_head" label="Header" tab="Features" span="left"}{/variable}
  <div class="row noPM pt rel offer-row" id="features">
    <div id="particles-js">
    <div class="container rel mb-pad">
      <div class="offer-con wow fadeIn" data-wow-delay="0.2s">
        <div class="block-title">What we offer</div>
        <div class="block-head">{{feat_head|raw}}</div>
        <div class="features-con">
          <div class="feature-list">
            <ul class="list">
              {repeater name="features1" tab="Features" label="Features" span="left"}
                {variable type="mediafinder" mode="image" name="feat1_img" label="Icon" span="left"}{/variable}
                {variable type="mediafinder" mode="image" name="mock1_img" label="Phone Image" span="right"}{/variable}
                {variable type="text" name="feat1_label" label="Label" span="left"}{/variable}
                {variable type="textarea" name="feat1_desc" label="Description" span="left"}{/variable}
                  <li class="xs-li wow fadeIn" data-wow-delay="{{loop.index * 0.2}}s" data-img="{{fields.mock1_img|media}}">
                    <div class="feature-txt">
                      <div class="feature-name">{{fields.feat1_label|raw}}</div>
                      <div class="sub-txt">{{fields.feat1_desc}}</div>
                    </div>
                    <div class="feature-img">
                      <img src="{{fields.feat1_img|media}}" alt="" class="center-block">
                    </div>
                  </li>
              {/repeater}
            </ul>
          </div>
          <div class="feature-img mockup-hover hidden-sm hidden-xs">
            <img src="{{'assets/img/svg/feat-phone-case.png'|theme}}" alt="" class="mockup-hover-bg">
            <img src="{{'assets/img/svg/feat-phone.png'|theme}}" alt="" class="phone-screen">
          </div>
          <div class="feature-list">
            <ul class="list">
              {repeater name="features2" tab="Features" label="Features" span="right"}
                {variable type="mediafinder" mode="image" name="feat2_img" label="Image" span="left"}{/variable}
                {variable type="mediafinder" mode="image" name="mock2_img" label="Phone Image" span="right"}{/variable}
                {variable type="text" name="feat2_label" label="Label" span="left"}{/variable}
                {variable type="textarea" name="feat2_desc" label="Description" span="left"}{/variable}
                  <li class="xs-li wow fadeIn" data-wow-delay="{{loop.index * 0.3}}s" data-img="{{fields.mock2_img|media}}">
                    <div class="feature-txt">
                      <div class="feature-name">{{fields.feat2_label|raw}}</div>
                      <div class="sub-txt">{{fields.feat2_desc}}</div>
                    </div>
                    <div class="feature-img">
                      <img src="{{fields.feat2_img|media}}" alt="" class="center-block">
                    </div>
                  </li>
              {/repeater}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container rel mb-pad">
      {% partial 'form-banner' %}
    </div>
    <div class="home-form-bg">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1137" height="403" viewBox="0 0 1137 403" fill="none">
        <circle class="rellax" data-rellax-speed="0.2" cx="160.674" cy="9.67423" r="3" transform="rotate(75 160.674 9.67423)" fill="#E33700"/>
        <circle class="rellax" data-rellax-speed="0.2" cx="5.51138" cy="109.511" r="4.5" transform="rotate(75 5.51138 109.511)" fill="#006AFF"/>
        <circle class="rellax" data-rellax-speed="0.2" cx="1052.94" cy="4.94162" r="4" transform="rotate(-74.124 1052.94 4.94162)" fill="#609FF9"/>
        <rect class="rellax" data-rellax-speed="0.5" x="46.107" y="395" width="7" height="7" transform="rotate(0.875952 46.107 395)" fill="#FFB704"/>
        <rect class="rellax" data-rellax-speed="0.5" x="163.002" y="244.954" width="3.15007" height="3.15007" transform="rotate(0.875952 163.002 244.954)" fill="#FFB704"/>
        <circle class="rellax" data-rellax-speed="0.3" cx="1131.94" cy="394.942" r="4" transform="rotate(-74.124 1131.94 394.942)" fill="#D70009"/>
        <rect class="rellax" data-rellax-speed="0.3" x="971" y="152.848" width="4" height="3" transform="rotate(-74.124 971 152.848)" fill="#FFB704"/>
      </svg> -->
    </div>
  </div>
  </div>
</div>
{% put scripts %}
<script type="text/javascript">
$('.field').each(function(){
      var name = $(this).attr('name');
      $( "#"+name ).focus(function() {
        $( "label[for='"+name+"']" ).css({"top":"-9px", "font-size":"12px", "color":"#ffffff"});
        $( "."+name ).toggleClass('active');
      });
      $( "#"+name ).focusout(function() {
        if($(this).val() == ""){
          $( "label[for='"+name+"']" ).css({"top":"20px", "font-size":"16px", "color":"#ffffff"});
          $( "."+name ).toggleClass('active');
        }
        $('.field-set').removeClass('has-error');
      });
    });

    /* NUMBER ANIMATION */
var card_num = $('.card-stats-con').offset();
$(window).scroll(function(){
  if($(window).scrollTop() >= 450){
  $(window).off("scroll");
    $('.stats .block-head .num').each(function () {
    var $this = $(this);
     var $stats = $(this).text();
    jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
      duration: 1000,
      easing: 'swing',
      step: function () {
             // console.log($stats);
          if ($stats.indexOf('.') !== -1 ){
                $this.text(parseFloat(this.Counter).toFixed(1));
          }else {

            $this.text(Math.ceil(this.Counter).toLocaleString('en'));

          }
        }
      });
    });
  }
});
</script>

{% endput %}
{% partial 'site/footer' %}
