[staticPage]
useContent = 0
default = 0

[cookieBanner]
include_css = 1
update_selector = "#gdpr-reload"
==
{% put styles %}
    <link href="{{'assets/css/sec-nav.css'|theme}}" rel="stylesheet" />
    <link rel="stylesheet" href="{{'assets/css/policy-terms.css'|theme}}">
{% endput %}
{% partial 'site/head' %}
{% partial 'site/header' %}
{% component 'staticPage' %}
{% component 'cookieBanner' %}


<div class="wrapper">
  {variable type="text" name="pt_head" tab="Content" label="Header" span="left"}{/variable}
  {variable type="richeditor" name="pt_content" tab="Content" label="Content" span="full"}{/variable}
  <div class="row noPM pads row__policy-terms">
    <div class="container">
      <div class="col-lg-12 wow fadeIn noP">
        <div class="pt__head">
          <h1 class="hero-txt">{{pt_head|raw}}</h1>
        </div>
        <div class="pt__content body-text-16">
          {{pt_content|raw}}
        </div>
      </div>
    </div>
  </div>
</div>

{% partial 'site/footer' %}
