[staticPage]
useContent = 0
default = 0

[Contact]

[cookieBanner]
include_css = 1
update_selector = "#gdpr-reload"
==
{% put styles %}
<link rel="stylesheet" href="{{'assets/css/safety.css'|theme}}">
{% endput %}
{% partial 'site/head' %}
{% partial 'site/header' %}
{% component 'staticPage' %}
{% component 'cookieBanner' %}
<div class="wrapper">
  <!-- BANNER -->
  {variable type="text" name="hero_head" tab="Banner" label="Header" span="left"}{/variable}
  {variable type="mediafinder" mode="image" name="hero_img" tab="Banner" label="Image" span="right"}{/variable}
  {variable type="textarea" name="hero_sub" tab="Banner" label="Teaser" span="left"}{/variable}
  <div class="row noPM banner-row">
    <div class="container mb-pad">
      <div class="col-lg-7 col-sm-5 col-xs-6 noP wow fadeIn" data-wow-delay="0.2s">
        <div class="banner-base">
          <div class="hero-txt">{{hero_head|raw}}</div>
          <div class="body-text-18">{{hero_sub|raw}}</div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-7 col-xs-6 rel">
        <img src="{{hero_img|media}}" alt="" class="banner-img wow fadeIn rellax" data-rellax-speed="2.5" data-wow-delay="0.2s">
      </div>
    </div>
  </div>
  <!-- SAFETY TIPS -->
  {% if tips is not empty %}
    <div class="row pads noPM tips-row">
      <div class="container mb-pad">
        {repeater name="tips" label="Safety Tips" tab="Safety Tips"}
          {variable type="text" name="tip_head" span="left"}{/variable}
          {variable type="mediafinder" mode="image" name="tip_img" label="Image" span="right"}{/variable}
          {variable type="richeditor" name="tip_sub" label="Teaser" span="left" toolbarButtons="bold,formatUL,formatOL"}{/variable}

          {% if loop.index is not divisible by(2) %}
            <div class="safety-con wow fadeIn" data-wow-delay="0.2s">
              <div class="safe-tip-con">
                <div class="safety-tip-img">
                  <img src="{{fields.tip_img|media}}" class="img-responsive center-block" alt="">
                </div>
              </div>
                <div class="safety-txt-base">
                  <div class="block-head">{{fields.tip_head|raw}}</div>
                  <div class="body-text-16">{{fields.tip_sub|raw}}</div>
              </div>
            </div>
          {% else %}
            <div class="safety-con safety-con-rev wow fadeIn" data-wow-delay="0.2s">
              <div class="safety-tip-img reverse">
                <img src="{{fields.tip_img|media}}" class="img-responsive center-block" alt="">
              </div>
              <div class="safety-txt-base reverse-txt">
                <div class="block-head">{{fields.tip_head|raw}}</div>
                <div class="body-text-16">{{fields.tip_sub|raw}}</div>
              </div>
            </div>
          {% endif %}
        {/repeater}
      </div>
    </div>
  {% endif %}
  <!-- SAFER RIDE -->
  <div class="row pt75 noPM rel safer-row">
    <div id="particles-js">
    {% if scr_card is not empty %}
      <!-- <div class="safety-bg-elem">
        <svg xmlns="http://www.w3.org/2000/svg" width="1238" height="582" viewBox="0 0 1238 582" fill="none">
          <circle class="rellax" data-rellax-speed="0.1" cx="340.674" cy="21.6742" r="3" transform="rotate(75 340.674 21.6742)" fill="#E33700"/>
          <circle class="rellax" data-rellax-speed="0.3" cx="12.5114" cy="70.5114" r="4.5" transform="rotate(75 12.5114 70.5114)" fill="#006AFF"/>
          <circle class="rellax" data-rellax-speed="0" cx="1147.94" cy="4.94162" r="4" transform="rotate(-74.124 1147.94 4.94162)" fill="#609FF9"/>
          <rect class="rellax" data-rellax-speed="1" x="0.232178" y="573.997" width="7" height="7" transform="rotate(0.875952 0.232178 573.997)" fill="#FFB704"/>
          <circle class="rellax" data-rellax-speed="1" cx="1232.94" cy="267.942" r="4" transform="rotate(-74.124 1232.94 267.942)" fill="#D70009"/>
          <rect class="rellax" data-rellax-speed="1" x="936" y="74.8474" width="4" height="3" transform="rotate(-74.124 936 74.8474)" fill="#FFB704"/>
        </svg>
      </div> -->
      <div class="container rel mb-pad">
        {variable type="text" tab="Safety Screening" name="scr_head" label="Header" span="left"}{/variable}
        {variable type="text" tab="Safety Screening" name="scr_sub" label="Teaser" span="left"}{/variable}
        <div class="safer-heading wow fadeIn" data-wow-delay="0.2s">
          <div class="block-head">{{scr_head|raw}}</div>
          <div class="body-text-16">{{scr_sub|raw}}</div>
        </div>
        <div class="safer-card-con">
          <div class="safer-cards">
            {repeater name="scr_card" label="Steps" tab="Safety Screening" prompt="Add New"}
              {variable type="mediafinder" mode="image" name="scr_img" label="Image" span="left"}{/variable}
              {variable type="text" name="scr_title" span="left"}{/variable}
              {variable type="textarea" name="scr_sub" label="Description" span="left"}{/variable}

            <div class="safer-card wow fadeIn" data-wow-delay="{{loop.index * 0.2}}s">
              <div class="card-img"><img src="{{fields.scr_img|media}}" alt=""></div>
              <div class="body-text-bold-16">{{fields.scr_title|raw}}</div>
              <div class="sub-txt">{{fields.scr_sub|raw}}</div>
            </div>
            {/repeater}

          </div>
        </div>
      </div>
    {% endif %}
    <div class="container rel mb-pad">
      {% partial 'form-banner' %}
    </div>
  </div>
</div>
</div>
{% put scripts %}
<script type="text/javascript">
$('.field').each(function(){
      var name = $(this).attr('name');
      $( "#"+name ).focus(function() {
        $( "label[for='"+name+"']" ).css({"top":"-9px", "font-size":"12px", "color":"#666666"});
        $( "."+name ).toggleClass('active');
      });
      $( "#"+name ).focusout(function() {
        if($(this).val() == ""){
          $( "label[for='"+name+"']" ).css({"top":"20px", "font-size":"16px", "color":"#666666"});
          $( "."+name ).toggleClass('active');
        }
        $('.field-set').removeClass('has-error');
      });
    });
</script>
{% endput %}
{% partial 'site/footer' %}
