/*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/
#Front_Wheel {
    transform: translateX(-50%) translateY(-50%);
    animation: Front_Wheel__rotation__1 2040ms 0ms linear forwards;
}

@keyframes Front_Wheel__rotation__1 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(-360deg);
    }
}

#Body {
    transform: translateX(-50%) translateY(-50%);
    animation: Body__y__1 490ms 0ms linear forwards, Body__y__2 470ms 490ms linear forwards, Body__y__3 500ms 960ms linear forwards, Body__y__4 560ms 1460ms linear forwards;
}

@keyframes Body__y__1 {
    from {
        top: 58.0461px;
    }

    to {
        top: 59.0461px;
    }
}
@keyframes Body__y__2 {
    from {
        top: 59.0461px;
    }

    to {
        top: 58.0461px;
    }
}
@keyframes Body__y__3 {
    from {
        top: 58.0461px;
    }

    to {
        top: 59.0461px;
    }
}
@keyframes Body__y__4 {
    from {
        top: 59.0461px;
    }

    to {
        top: 58.0461px;
    }
}

#Back_Wheel {
    transform: translateX(-50%) translateY(-50%);
    animation: Back_Wheel__rotation__1 2040ms 0ms linear forwards;
}

@keyframes Back_Wheel__rotation__1 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(-360deg);
    }
}
