[viewBag]

[builderList contact]
modelClass = "Linus\Contact\Models\Contact"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set contact = contact.records %}
{% set displayColumn = contact.displayColumn %}
{% set noRecordsMessage = contact.noRecordsMessage %}
{% set detailsPage = contact.detailsPage %}
{% set detailsKeyColumn = contact.detailsKeyColumn %}
{% set detailsUrlParameter = contact.detailsUrlParameter %}

<div class="row noPM ftr-row">
  <div class="container mb-pad">
    <div class="ftr-con">
      <div class="intro">
        <div class="ftr-logo">
          <a href="#"><img src="{{'assets/img/logo/ftr-logo.svg'|theme}}" alt=""></a>
        </div>
        <div class="ftr-intro">
          <div class="ftr-body-text">
            Improving our public transportation experience one TODA at a time.
          </div>
        </div>
      </div>
      <div class="links">
        <div class="ftr-title">LINKS</div>
        <ul class="ftr-links">
          <li><a href="{{url('/')}}#top" class="ftr-link" data-name="Home">Home</a></li>
          <li><a href="" class="ftr-link" data-name="About&nbsp;TODA">About TODA</a></li>
          <li><a href="" class="ftr-link" data-name="Benefits">Benefits</a></li>
          <li><a href="" class="ftr-link" data-name="Features">Features</a></li>
          <li><a href="" class="ftr-link" data-name="Safety">Safety</a></li>
          <li><a href="" class="ftr-link" data-name="Contact&nbsp;Us">Contact Us</a></li>
        </ul>
      </div>
      <div class="contact">
        <div class="ftr-title">CONTACT</div>
          <ul class="ftr-cont">
            {% if contact[0].address is not empty %}
            <li class="location" ><a href="{{contact[0].map}}" class="ftr-link" data-name="{{contact[0].address}}">{{contact[0].address}}</a></li>
            {% endif %}
            {% if contact[0].email is not empty %}
            <li class="email"><a href="mailto:{{contact[0].email}}" class="ftr-link" data-name="{{contact[0].email}}">{{contact[0].email}}</a></li>
            {% endif %}
          </ul>
          <div class="ss-media">
            {% if contact[0].fb is not empty %}
            <a href="{{contact[0].fb}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="15" viewBox="0 0 8 15" fill="none">
                <path d="M2.12402 14.0368V7.75862H0V5.2638H2.12402V3.2981C2.12402 1.16242 3.44218 0 5.36681 0C6.28898 0 7.08098 0.068539 7.31083 0.0986962V2.33033H5.97605C4.92927 2.33033 4.72712 2.82381 4.72712 3.54484V5.2638H7.08929L6.76529 7.75862H4.72712V14.0368" fill="white"/>
              </svg>
            </a>
            {% endif %}
            {% if contact[0].ig is not empty %}
            <a href="{{contact[0].ig}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                <path d="M6.14247 2.9921C4.39981 2.9921 2.99417 4.39805 2.99417 6.1411C2.99417 7.88415 4.39981 9.2901 6.14247 9.2901C7.88513 9.2901 9.29077 7.88415 9.29077 6.1411C9.29077 4.39805 7.88513 2.9921 6.14247 2.9921ZM6.14247 8.18836C5.01631 8.18836 4.09566 7.27024 4.09566 6.1411C4.09566 5.01195 5.01357 4.09384 6.14247 4.09384C7.27136 4.09384 8.18927 5.01195 8.18927 6.1411C8.18927 7.27024 7.26862 8.18836 6.14247 8.18836ZM10.1539 2.86329C10.1539 3.27164 9.82507 3.59778 9.41955 3.59778C9.01128 3.59778 8.68522 3.2689 8.68522 2.86329C8.68522 2.45767 9.01402 2.1288 9.41955 2.1288C9.82507 2.1288 10.1539 2.45767 10.1539 2.86329ZM12.239 3.60874C12.1925 2.62485 11.9678 1.75333 11.2471 1.03528C10.5293 0.317229 9.65793 0.0924968 8.67426 0.0431652C7.66045 -0.0143883 4.62175 -0.0143883 3.60794 0.0431652C2.62701 0.0897561 1.75568 0.314489 1.03505 1.03254C0.314419 1.75059 0.0924761 2.62211 0.0431555 3.606C-0.0143852 4.62004 -0.0143852 7.65941 0.0431555 8.67345C0.0897361 9.65734 0.314419 10.5289 1.03505 11.2469C1.75568 11.965 2.62427 12.1897 3.60794 12.239C4.62175 12.2966 7.66045 12.2966 8.67426 12.239C9.65793 12.1924 10.5293 11.9677 11.2471 11.2469C11.965 10.5289 12.1897 9.65734 12.239 8.67345C12.2966 7.65941 12.2966 4.62278 12.239 3.60874ZM10.9293 9.76149C10.7156 10.2987 10.3018 10.7125 9.76205 10.929C8.95374 11.2497 7.03572 11.1757 6.14247 11.1757C5.24922 11.1757 3.32845 11.2469 2.52288 10.929C1.98584 10.7152 1.57209 10.3014 1.35563 9.76149C1.03505 8.953 1.10903 7.03455 1.10903 6.1411C1.10903 5.24765 1.03779 3.32646 1.35563 2.52071C1.56935 1.98354 1.9831 1.5697 2.52288 1.35319C3.33119 1.03254 5.24922 1.10653 6.14247 1.10653C7.03572 1.10653 8.95648 1.03528 9.76205 1.35319C10.2991 1.56696 10.7128 1.9808 10.9293 2.52071C11.2499 3.3292 11.1759 5.24765 11.1759 6.1411C11.1759 7.03455 11.2499 8.95574 10.9293 9.76149Z" fill="white"/>
              </svg>
            </a>
            {% endif %}
            {% if contact[0].tw is not empty %}
            <a href="{{contact[0].tw}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                <path d="M12.4628 2.80586C12.4716 2.929 12.4716 3.05216 12.4716 3.1753C12.4716 6.93111 9.60711 11.2587 4.37167 11.2587C2.75873 11.2587 1.26039 10.7925 0 9.9833C0.229168 10.0097 0.449492 10.0185 0.687478 10.0185C2.01835 10.0185 3.24349 9.56989 4.22183 8.80465C2.97026 8.77825 1.92141 7.96025 1.56004 6.83437C1.73633 6.86074 1.91259 6.87834 2.0977 6.87834C2.3533 6.87834 2.60892 6.84314 2.84687 6.7816C1.54243 6.5177 0.564063 5.37426 0.564063 3.99331V3.95814C0.943044 4.16924 1.38377 4.30117 1.85087 4.31875C1.08407 3.80858 0.581697 2.9378 0.581697 1.95266C0.581697 1.42492 0.722693 0.941145 0.969496 0.518942C2.3709 2.24293 4.47742 3.36877 6.83951 3.49194C6.79545 3.28084 6.769 3.06096 6.769 2.84106C6.769 1.27538 8.0382 1.98301e-08 9.61587 1.98301e-08C10.4356 1.98301e-08 11.1759 0.343037 11.6959 0.897176C12.3393 0.77404 12.9563 0.53654 13.5028 0.211102C13.2912 0.870805 12.8417 1.42494 12.2512 1.77675C12.8241 1.71521 13.3794 1.55685 13.8906 1.33698C13.5028 1.89989 13.018 2.40123 12.4628 2.80586Z" fill="white"/>
              </svg>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row copy-row">
  <div class="container mb-pad">
    <div class="copy-con">
      <div class="ftr-body-text">
        © {{now|date('Y')}} TODA Ph. All rights reserved.
      </div>
      <div class="policy-con">
        <a href="{{url('/terms-and-conditions')}}" class="ftr-body-text terms">Terms and Conditions</a>
        <a href="{{url('/privacy-policy')}}" class="ftr-body-text">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
{% partial 'site/scripts' %}
</body>
</html>
