[viewBag]
==
<div class="row noPM fixed-nav">
  <div class="container nav-con mb-pad">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 noP">
      <div class="nav-logo">
        <a href="{{url('/')}}"><img src="{{'assets/img/logo/nav-logo.svg'|theme}}" alt=""></a>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 noP hidden-sm hidden-xs">
      <ul class="nav-links">
        <li><a href="{{url('/')}}" class="nav-link {% if this.page.id == 'homepage' %}active{% endif %}" data-name="Home">Home</a></li>
        <li><a href="{% if this.page.id == 'safety' %}{{url('/')}}#about{% else %}#about{% endif %}" class="nav-link" data-name="About&nbsp;TODA">About TODA</a></li>
        <li><a href="{% if this.page.id == 'safety' %}{{url('/')}}#benefit{% else %}#benefit{% endif %}" class="nav-link" data-name="Benefits">Benefits</a></li>
        <li><a href="{% if this.page.id == 'safety' %}{{url('/')}}#features{% else %}#features{% endif %}" class="nav-link" data-name="Features">Features</a></li>
        <li><a href="{{url('/safety')}}" class="nav-link {% if this.page.id == 'safety' %}active{% endif %}" data-name="Safety">Safety</a></li>
      </ul>
    </div>
    <div class="hidden-sm hidden-xs">
      <div class="contact-btn">
        <a href="#contact" class="nav-link" data-name="Contact&nbsp;Us">Contact Us</a>
      </div>
    </div>
    <div class="col-sm-6 col-xs-6 burger-con hidden-lg hidden-md">
					<button class="hamburger hamburger--slider" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner">

							</span>
						</span>
					</button>
				</div>
  </div>
</div>
    <div class="nav-overlay">
      <div class="row noPM">
        <div class="container mb-pad">
          <ul class="nav-links nav-mb">
            <li><a href="{{url('/')}}" class="nav-link {% if this.page.id == 'homepage' %}active{% endif %}" data-name="Home">Home</a></li>
            <li><a href="{% if this.page.id == 'safety' %}{{url('/')}}#about{% else %}#about{% endif %}" class="nav-link" data-name="About&nbsp;TODA">About TODA</a></li>
            <li><a href="{% if this.page.id == 'safety' %}{{url('/')}}#benefit{% else %}#benefit{% endif %}" class="nav-link" data-name="Benefits">Benefits</a></li>
            <li><a href="{% if this.page.id == 'safety' %}{{url('/')}}#features{% else %}#features{% endif %}" class="nav-link" data-name="Features">Features</a></li>
            <li><a href="{{url('/safety')}}" class="nav-link {% if this.page.id == 'safety' %}active{% endif %}" data-name="Safety">Safety</a></li>
            <li><a href="#contact" class="nav-link" data-name="Contact&nbsp;Us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
