[viewBag]
==
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#064196">
    {% if this.page.id == 'blogs' %}
   {% if seo_blog.redirect_url %}
       <meta http-equiv="refresh" content="0; url={{seo_blog.redirect_url}}" />
   {% endif %}

   {% if seo_blog.seo_title %}
       <title>{{seo_blog.seo_title | generateTitle }}</title>
       <meta name="title" content="{{ seo_blog.seo_title }}">
       <meta property="og:title" content="{{ seo_blog.seo_title }}" />
       <meta property="twitter:title" content="{{ seo_blog.seo_title }}">
   {% else %}
       <title>{{ seo_blog.title | generateTitle }}</title>
   {% endif %}

   {% if seo_blog.seo_description %}
       <meta name="description" content="{{seo_blog.seo_description}}">
       <meta property="og:description" content="{{ seo_blog.seo_description }}" />
       <meta property="twitter:description" content="{{ seo_blog.seo_description }}">
   {% endif %}

   {% if seo_blog.seo_keywords %}
       <meta name="keywords" content="{{seo_blog.seo_keywords}}">
   {% endif %}

   {% if seo_blog.canonical_url %}
       <link rel="canonical" href="{{seo_blog.canonical_url}}" />
       <meta property="og:url" content="{{ seo_blog.canonical_url }}" />
       <meta property="twitter:url" content="{{ seo_blog.canonical_url }}">
   {% else %}
       <link rel="canonical" href="{{  pageUrl }}" />
       <meta property="og:url" content="{{ pageUrl }}" />
       <meta property="twitter:url" content="{{ pageUrl }}">
   {% endif %}

   <meta property="twitter:card" content="summary_large_image">
   <meta property="twitter:image" content="{{'assets/img/others/sharing-banner.jpg'|theme}}">
   <meta property="og:image" content="{{'assets/img/others/sharing-banner.jpg'|theme}}">

   {{ ''|otherMetaTags|raw }}

   {% if seo_blog.ogSiteName %}
       <meta property="og:site_name" content="{{ seo_blog.ogSiteName }}" />
   {% endif %}

   {% if seo.ogFbAppId %}
       <meta property="fb:app_id" content="{{ seo_blog.ogFbAppId  }}" />
   {% endif %}


   {% else %}
    {% if redirect_url %}
        <meta http-equiv="refresh" content="0; url={{redirect_url}}" />
    {% endif %}

    {% if seo_title %}
      <title>{{seo_title | generateTitle }}</title>
      <meta name="title" content="{{seo_title}}">
    {% else %}
        <title>{{ title | generateTitle }}</title>
    {% endif %}

    {% if seo_description %}
        <meta name="description" content="{{seo_description}}">
    {% endif %}

    {% if seo_keywords %}
        <meta name="keywords" content="{{seo_keywords}}">
    {% endif %}

    {% if canonical_url %}
        <link rel="canonical" href="{{canonical_url}}" />
    {% else %}
        {{ '' | generateCanonicalUrl}}
    {% endif %}

    <meta property="og:title" content="{{ seo_title }}" />
    <meta property="og:description" content="{{ seo_description }}" />
    <meta property="og:image" content="{{'assets/img/others/sharing-banner.jpg'|theme}}">
    <meta property="og:url" content="{{ pageUrl }}" />

    <meta property="twitter:title" content="{{ seo_title }}">
    <meta property="twitter:description" content="{{ seo_description }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{'assets/img/others/sharing-banner.jpg'|theme}}">
    <meta property="twitter:url" content="{{ pageUrl }}">

    {{ ''|otherMetaTags|raw }}

    {% if ogFbAppId %}
        <meta property="fb:app_id" content="{{ ogFbAppId  }}" />
    {% endif %}

    <meta name="robots" content="{{robot_index}},{{robot_follow}}">
   {% endif %}
	<link rel="icon" type="image/png" href="{{ 'assets/img/favicon/favicon.ico'|theme }}">

    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="{{ [
        'assets/css/vendor.css',
        'assets/css/linus.css',
        '@framework.extras',
        'assets/css/theme.css',
        'assets/css/owl.carousel.min.css',
        'assets/css/owl.theme.green.min.css',
        'assets/css/magnificPopup.css',
        'assets/css/slick.css',
        'assets/css/slick-theme.css',
        'assets/css/hamburgers.min.css',
        'assets/css/animate.min.css',
        'assets/unitegallery/css/unite-gallery.css',
        'assets/css/under.css',
        'assets/css/font-awesome.min.css',
        'assets/css/colors.css',
        'assets/css/fonts.css',
        'assets/css/jquery-ui.min.css',
        'assets/css/style.css',
        'assets/fonts/Inter/fontstyle.css',

    ] | theme }}" rel="stylesheet">

    {% styles %}
</head>
<body id = "{{this.page.id}}" class = "{% if this.page.url != '/'%}inside-page{% endif %}{% if this.page.url == '/'%}home-page{% endif %}">
