[viewBag]
==
<!-- Scripts
		'assets/javascript/animation.gsap.min.js',-->
<script src="{{ [
		'assets/vendor/jquery.js',
		'assets/vendor/bootstrap.js',
		'assets/javascript/app.js',
		'@framework',
		'@framework.extras',
		'assets/javascript/jquery.magnific-popup.min.js',
		'assets/javascript/owl.carousel.min.js',
		'assets/javascript/slick.min.js',
		'assets/javascript/scrollIt.min.js',
		'assets/javascript/scrollreveal.min.js',
		'assets/javascript/ScrollMagic.min.js',
	  'assets/javascript/TweenMax.min.js',
		'assets/javascript/jquery.youtubebackground.js',
		'assets/javascript/jquery.magnificPopup.js',
		'assets/javascript/instafeed.min.js',
		'assets/javascript/cd-plugin.js',
		'assets/javascript/countdown.js',
		'assets/javascript/wow.min.js',
		'assets/unitegallery/js/unitegallery.min.js',
		'assets/unitegallery/themes/tiles/ug-theme-tiles.js',
		'assets/javascript/tilt.js',
		'assets/javascript/jquery-ui.min.js',
		'assets/javascript/masonry.pkgd.min.js',
		'assets/javascript/rellax.min.js',
		'assets/javascript/animation.gsap.js',
		'assets/javascript/debug.addIndicators.min.js',
		'assets/javascript/particles.js',




	] | theme }}"></script>
	<script type="text/javascript">
	  $('.list li').each(function(){
	    $(this).mouseenter(function(){
				var src = $(this).attr('data-img');
				$('.list li').not(this).removeClass('active');
				$(this).addClass('active');
					$('.mockup-hover .phone-screen').fadeOut(200,function(){
						$('.mockup-hover .phone-screen').attr('src',src);
					}).fadeIn(200);
	    });
	  });

		window.addEventListener('load',function(){
			var count = $('.count');
			$({ Counter: 0 }).animate({ Counter: count.text() }, {
				  duration: 3000,
				  step: function () {
				    count.text(Math.ceil(this.Counter)+ "%");
				  }
				});
	  document.querySelector('body').classList.add("loaded")

	});

	</script>

	<script type="text/javascript">
	// var svgTween = new TimelineMax({
	// 		 delay: 0.5
	//  });
	//  svgTween.from('.line', 0.5, {fill: "#000000"});
if ($(window).width() >= 992) {
	//CHANGE IMAGE ON SCROLL
	var controller = new ScrollMagic.Controller();
	var images = [
		"{{'assets/img/svg/screen-1.png'|theme}}",
		"{{'assets/img/svg/screen-2.png'|theme}}"
	];


	var obj = {curImg: 0};


	var tween1 = TweenMax.to(obj, 0.5,
		{
			curImg: images.length - 1,
			roundProps: "curImg",
			repeat: 0,
			immediateRender: true,
			ease: Linear.easeNone,
			onUpdate: function () {
			  $("#mockup").attr("src", images[obj.curImg]);
			}
		}
	);
	var scene1 = new ScrollMagic.Scene({
				triggerElement: ".abt-top-border",
				duration: 50
		})
	.setTween(tween1)
	.setClassToggle("#mockup", "active")
	// .addIndicators()
	.addTo(controller);
	//MOCK UP FADE
	// TweenMax.set(".mockup-img.active", {autoAlpha:0});
	// var tween2 = TweenMax.staggerTo(".mockup-img.active", 1, {autoAlpha:1}, 1);
	//
	// var scene2 = new ScrollMagic.Scene({
	// 			triggerElement: ".abt-top-border",
	// 			duration: 50
	// 	})
	// .setTween(tween2)
	// .addIndicators()
	// .addTo(controller);

	// PHONE FIXED POSITION
	TweenMax.set(".phone-elements",{autoAlpha:0});
	var tween = new TimelineMax()
						.add(TweenMax.to($(".phone-case"), 1.2, {css:{rotation: -19.5, ease:Power1.easeInOut}}))
						.add(TweenMax.to($(".phone-elements"), 1.2, {autoAlpha: 1, ease:Power1.easeInOut}));
	var scene = new ScrollMagic.Scene({
				// triggerElement: ".hero-btn",
				duration: 580,
				offset: 50
		})
		.setPin(".phone-con",{pushFollowers: false})
		.setTween(tween)
		// .addIndicators()
		.addTo(controller);
	}
	</script>
<script type="text/javascript">
if ($(window).width() >= 568) {
  var rellax = new Rellax('.rellax');
}
/* CONTACT FORM */
// $('#datepicker').focusin(function(){
// 	$('#datepicker').attr('type','date');
// });
// $('#datepicker').focusout(function(){
// 	$('#datepicker').attr('type','text');
// });

function onSubmit(token) {
  $('.tdtc-form form').submit();
    console.log('Success');
}

$('.form-input-text').each(function(e){
        $(this).on('keyup', function(e){
          if($(this).val().length > 0 ){
            $(this).removeClass('has-error');
            $(this).closest('.field-set').removeClass('has-error');
						$(this).closest('.field-set').removeClass('has-error');
          }else{
            $(this).closest('.field-set').addClass('has-error');
						$(this).closest('.label-con').removeClass('has-error');
            $(this).toggleClass('has-error');
          }
        });
    });
    $(window).on('ajaxInvalidField', function(event, fieldElement, fieldName, errorMsg, isFirst) {
    $(fieldElement).closest('.form-input-text').addClass('has-error');
    $(fieldElement).closest('.field-set').addClass('has-error');
    console.log("Invalid");
  });
  $(document).on('ajaxPromise', '[data-request]', function() {
    $(this).closest('form').find('.form-input-text.has-error').removeClass('has-error');
    $(this).closest('form').find('.field-set.has-error').removeClass('has-error');
  });

/* NAVIGATION DROPDOWN */
// function dropit() {
// 	$(".droplist").toggleClass("show");
// 	$(".drop-ul-xs").toggleClass("show");
// 	}
// $(".droplist").click(function(){
// 	$(this).removeClass("show");
// });
//
// $('.mb-serv-btn').click(function(){
// 		$('.mb-serv').toggleClass('is-active');
// });

//Nav Bar Scroll
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
if(currentScrollPos > 100){
  if (prevScrollpos > currentScrollPos) {
			$('.fixed-nav').removeClass('hide-nav');
			$('.fixed-nav').addClass('nav-shadow');
  } else {
				$('.fixed-nav').addClass('hide-nav');
				$('.fixed-nav').removeClass('nav-shadow');
  }
  prevScrollpos = currentScrollPos;
    }
  }

var stickyNavTop = $('html').offset().top;
var stickyNav = function(){
    var scrollTop = $(window).scrollTop();
    if (scrollTop > stickyNavTop) {
				$('.fixed-nav').addClass('nav-shadow');
    }
    else {
				$('.fixed-nav').removeClass('nav-shadow');
    }
};
stickyNav();
	 $(document).scroll(function() {
			 stickyNav();
	 });


	 // Testimonial
	   // $('.testi-slider').owlCarousel({
	   //     items: 1,
	   //     loop: true,
	   //     dots: true,
	   //     nav: true,
	   //     margin: 10,
	   //     dotsContainer: '.testi-indi',
	   //     navText: ["<i class='fas fa-arrow-left'></i>","<i class='fas fa-arrow-right'></i>"],
	   //     animateIn: 'fadeIn',
	   //     animateOut: 'fadeOut',
	   // });
	   // $('.testi-indicator .testi-indi').on('click', 'li', function(e) {
	 		// 	    $('.testi-slider').trigger('to.owl.carousel', [$(this).index(), 300]);
	 		// 	  });
		 //

	 // Success Stories
		 // $('.video-slider').on('initialized.owl.carousel changed.owl.carousel', function(event) {
		 //     if (!event.namespace)  {
		 //       return;
		 //     }
	     //COUNTER
	     // var carousel = e.relatedTarget;
	     // $('.index-num').text(carousel.relative(carousel.current()) + 1);
	     // $('.total-num').text('/' + carousel.items().length);
			 // var element = event.target;
			 // var items = event.item.count;
			 // var item = event.item.index + 1;
			 // var sldtxt = $('.active .ivySlideTxt').html();
			 // var sldWidth = 100;
			 // var sldPercent = sldWidth * item / items;
			 // $('#counter').html("0"+item+" / 0"+items);
			 // $('.index-num').text(item);
			 // $('.total-num').text("/" + items);
			 // $('.slTxt').html(sldtxt);
			 // $('#slide-progress-bar').css("width", sldPercent + "%");
			 // $('.slideState span').html(sldPercent + "%")
	   //PROGRESS BAR
	     // var scrolled = (carousel.relative(carousel.current()) + 1 / carousel.items().length ) * 100  ;
	     // $("#slide-progress-bar").css("width",scrolled + "%");
	     // }).owlCarousel({
	     // 			items: 1,
	     //       nav: true,
	     //       animateIn: 'zoomIn',
	     //       animateOut: 'zoomOut',
	     //       slideTransition: 'linear',
				// 		 autoHeight: true,
	     //       navText: ["<i class='fas fa-arrow-left'></i>","<i class='fas fa-arrow-right'></i>"],
	     // 	});
// $(function(){
// 	$('.video-slider').owlCarousel({
// 		items: 1,
// 		nav: true,
// 		animateIn: 'zoomIn',
// 		animateOut: 'zoomOut',
// 		slideTransition: 'linear',
// 		navText: ["<i class='fas fa-arrow-left'></i>","<i class='fas fa-arrow-right'></i>"],
// 		dots:false,
// 		onInitialized:counter,
// 		onTranslated:counter
// 	});
// 	function counter(event) {
// 	  var element = event.target;
// 	  var items = event.item.count;
// 	  var item = event.item.index + 1;
// 	  var sldtxt = $('.active .ivySlideTxt').html();
// 	  var sldWidth = 100;
// 	  var sldPercent = sldWidth * item / items;
// 	  $('#counter').html("0"+item+" / 0"+items);
// 		$('.index-num').text(item);
// 		$('.total-num').text(items);
// 	  $('.slTxt').html(sldtxt);
// 	  $('#slide-progress-bar').css("width", sldPercent + "%");
// 	  $('.slideState span').html(sldPercent + "%")
// 	}
// });
// jQuery(document).ready(function (e) {
//     function t(t) {
//         e(t).bind("click", function (t) {
//             t.preventDefault();
//             e(this).parent().fadeOut()
//         })
//     }
//     e(".dropdown-toggle").click(function () {
//         var t = e(this).parents(".btn-dropdown").children(".dropdown-menu").is(":hidden");
//         e(".btn-dropdown .dropdown-menu").hide();
//         e(".btn-dropdown .dropdown-toggle").removeClass("active");
//         if (t) {
//             e(this).parents(".btn-dropdown").children(".dropdown-menu").toggle().parents(".btn-dropdown").children(".dropdown-toggle").addClass("active")
//         }
//     });
//     e(document).bind("click", function (t) {
//         var n = e(t.target);
//         if (!n.parents().hasClass("btn-dropdown")) e("btn-dropdown .dropdown-menu").hide();
//     });
//     e(document).bind("click", function (t) {
//         var n = e(t.target);
//         if (!n.parents().hasClass("btn-dropdown")) e(".btn-dropdown .dropdown-toggle").removeClass("active");
//     })
// });
	//reCAPTCHA
// 	function onSubmit() {
//
// 			if(grecaptcha.execute()){
// 						if($("#form").submit()){
// 							alert('form submitted');
// 						}else {
// 							alert('form not submitted.');
// 						}
//
// 				// if( !document.getElementById("name").value && !document.getElementById("email").value && !document.getElementById("contact").value && !document.getElementById("service").value && !document.getElementById("msg").value && !document.getElementById("date").value && !document.getElementById("qty").value )
// 				// {
// 				// 	$('.warn').addClass('empty');
// 				// 	$('.has').addClass('error');
// 				//
// 				// 			$('.invalid-email').addClass('valid-email');
// 				// 	} else {
// 				// 		$("#myModal").modal("show")
// 				// 		$("#form").submit();
// 				// 		console.log('Success');
// 				// 		$('.invalid-email').removeClass('valid-email');
// 				// 		$('.warn').removeClass('empty');
// 				// 		$('.has').removeClass('error');
// 				// 	}
// 			}else {
// 				alert('form not submitted.');
// 			}
// }

// $('#form').submit(function (event) {
// 		event.preventDefault();
// 		grecaptcha.reset();
// 		grecaptcha.execute();
// 	});
//
// function formSubmit(response) {
// 	// submit the form which now includes a g-recaptcha-response input
// }
//
// $(window).on('ajaxInvalidField', function(event, fieldElement, fieldName, errorMsg, isFirst) {
//     $(fieldElement).closest('.field').addClass('has-error');
//     // $(fieldElement).closest('.modal-upload').addClass('has-error');
//     console.log("Invalid");
// });
// $(document).on('ajaxPromise', '[data-request]', function() {
//     $(this).closest('form').find('.field.has-error').removeClass('has-error');
//     // $(this).closest('form').find('.modal-upload.has-error').removeClass('has-error');
// });
 </script>
<script type="text/javascript">
			new WOW().init();
// /* HOME GALLERY ANIMATION */
// $('.img1').addClass('wow slideInLeft');
// $('.img1').attr('data-wow-delay','1200ms');
// $('.img2').addClass('wow slideInLeft');
// $('.img2').attr('data-wow-delay','800ms');
// $('.img3').addClass('wow slideInRight');
// $('.img3').attr('data-wow-delay','1000ms');
// $('.img4').addClass('wow slideInLeft');
// $('.img4').attr('data-wow-delay','800ms');
// $('.img5').addClass('wow slideInRight');
// $('.img5').attr('data-wow-delay','800ms');
// $('.img6').addClass('wow slideInRight');
// $('.img6').attr('data-wow-delay','1200ms');
//

//
// //HAMBURGER HOVER ANIMATION
// var parent1 = document.querySelector('.burger-con')
// var parent2 = document.querySelector('.burger-con-overlay')
// var moveTrg = true
// function move( trg, pos ) {
//
//     // Don't go beyond this point if it isn't a new frame
//     if( !moveTrg ) return;
//
//     moveTrg = false
//
//     // Find its child
//     var follower = trg.querySelector('.hamburger')
//
//     // Imma too lazy to create physics based calculation...
//     // See sensei's pen for a simple nice example:
//     // https://codepen.io/osublake/pen/RQxOxw?editors=0010
//     TweenMax.to(follower, 0.3, {
//         x: pos.x,
//         y: pos.y,
//         ease: Power1.easeOut
//     })
// }
//
// function onMouseMove( e ) {
//
//     // this refers to the caller
//     // console.log(this)
//     move( this, {x: e.offsetX, y: e.offsetY } )
// }
//
//
// function onMouseLeave( e ) {
//     const rect = this.getBoundingClientRect()
//     const center = {
//         w: Math.round(rect.width * 0),
//         h: Math.round(rect.height * 0)
//     }
//     const trg = this.querySelector('.hamburger')
//
//     TweenMax.to( trg, 1, {
//         x: center.w,
//         y: center.h,
//         ease: Back.easeOut
//     } )
// }
//
//
// function init() {
//
//     TweenLite.ticker.addEventListener("tick", function() { moveTrg = true } );
//
//     // Listen for mouse movement when over either one of the parents
//     parent1.addEventListener('mousemove', onMouseMove)
//     parent2.addEventListener('mousemove', onMouseMove)
//     parent1.addEventListener('mouseleave', onMouseLeave)
//     parent2.addEventListener('mouseleave', onMouseLeave)
// };
//
//
// // wait until DOM is ready
// document.addEventListener("DOMContentLoaded", function(event) {
//
//     // wait until window, stylesheets, images, links, and other media assets are loaded
//     window.onload = function() {
//
//         // Center the pivot point of the follower
//         TweenMax.set('.hamburger', {
//             xPercent: 0,
//             yPercent: 0
//         })
//
//         // All ready, start!
//         init();
//
//      };
//
// });
//
//

	//
	// $('.ftr-form-field').each(function(){
	// 	var name = $(this).attr('name');
	// 	$( "#"+name ).focus(function() {
	// 		$( "label[for='"+name+"']" ).css({"top":"-8px", "font-size":"14px", "color":"#101010"});
	// 	});
	// 	$( "#"+name ).focusout(function() {
	// 		if($(this).val() == ""){
	// 			$( "label[for='"+name+"']" ).css({"top":"15px", "font-size":"16px", "color":"#666666"});
	// 		}
	// 	});
	// })

//HAMBURGER OPEN TRIGGER
var $hamburger = $(".hamburger");
            $hamburger.on("click", function(e) {
                $hamburger.toggleClass("is-active");
								$(".nav-overlay").toggleClass("visible");
								$(".fixed-nav").removeClass("nav-shadow");
								$("html").toggleClass('no-scroll');
								// $(".nav-xs").toggleClass("no-bg");
        });
            $('.nav-links.nav-mb li a').on("click", function(e) {
            $hamburger.toggleClass("is-active");
						$("html").toggleClass('no-scroll');
						$(".nav-overlay").toggleClass("visible");
        });

/*HERO SLIDE*/
		// $(document).ready(function(){
		//   $(".hero-slider").owlCarousel({
		// 		items: 1,
		// 		loop: true,
		// 		nav: true,
		// 		navContainer: ['#customNav','#owl-nav-xs'],
		// 		navText: ["<img src={{'assets/img/ico-arrow-up.svg'|theme}}>","<img src={{'assets/img/ico-arrow-down.svg'|theme}}>"],
		// 		onInitialized  : counter,
  	// 		onTranslated : counter,
		// 		responsive: {
		// 			1024:{
		// 				items: 1
		// 			}
		// 		}
		// 	});


// 		function counter(event) {
//    	var element   = event.target;         // DOM element, in this example .owl-carousel
//     var items     = event.item.count;     // Number of items
//     var item      = event.item.index + 1;     // Position of the current item
//
//   // it loop is true then reset counter from 1
//   if(item > items) {
//     item = item - items
//   }
//   $('.counter').html("<sup>"+item+"</sup>"+"&frasl;"+"<sub>"+items+"</sub>")
// }
// 		});



	/*
//DESIGN/DEVELOPER SCROLL EFFECT
// init controller
$(function () { // wait for document ready
							// init
							var controller = new ScrollMagic.Controller({
								globalSceneOptions: {
									triggerHook: '50px',
									duration: "100%",
									offset: 500
									 // this works just fine with duration 0 as well
									// However with large numbers (>20) of pinned sections display errors can occur so every section should be unpinned once it's covered by the next section.
									// Normally 100% would work for this, but here 200% is used, as Panel 3 is shown for more than 100% of scrollheight due to the pause.
								}
							});


							// get all slides
							var slides = document.querySelectorAll(".block");

							// create scene for every slide
							for (var i=0; i<slides.length; i++) {
								new ScrollMagic.Scene({
										triggerElement: slides[i]
									})
									.setPin(slides[i], {pushFollowers: false})
									.addIndicators()
									.addTo(controller);
							}
						});
*/
	// $(function() {
	//
	// 	$('.form-field').each(function(){
	// 		var name = $(this).attr('name');
	// 		$( "#"+name ).focus(function() {
	// 			$( "label[for='"+name+"']" ).css({"top":"0px", "font-size":"16px", "color":"#181818"});
	// 		});
	// 		$( "#"+name ).focusout(function() {
	// 			if($(this).val() == ""){
	// 				$( "label[for='"+name+"']" ).css({"top":"30px", "font-size":"24px", "color":"#666"});
	// 			}
	// 		});
	// 	})
	//
	//
	//
	//
	// 	if ($(window).width() > 768) {
	// 		if($('body').is('.home-page')){
	// 			ScrollReveal().reveal('.reveal', { reset: false, duration: '1500', interval: 500 });
	// 		}
	// 		ScrollReveal().reveal('.reveal', { reset: false, duration: '1500', interval: 500 });
	//
  //     if($('body').is('#what-we-do')){
	//
	//       	var controller = new ScrollMagic.Controller();
	// 		var scene = new ScrollMagic.Scene({
	// 		duration: 769,	// the scene should last for a scroll distance of 100px
	// 		triggerElement: '.side-fix',
	// 		triggerHook: 'onLeave'
	// 			})
	// 		.setPin('.side-fix')
	// 		.addTo(controller); // assign the scene to the controller

        // // Scroll
       /* var s = $(".side-fix");
        var pos = s.position();
        var height = $('.hero-inside-page').height() + $('.process').height() + $('.services').height() + $('.company').height();
        $(window).scroll(function() {
          var windowpos = $(window).scrollTop();
          var divTarget = $('.process').position();
          console.log(height, windowpos);
          if (windowpos >= divTarget.top && windowpos <= height) {
            s.addClass("stick");
            s.removeClass("stopstick");
          }
          else if (windowpos >= divTarget.top) {
            s.addClass("stopstick");
            s.removeClass("stick");
          }
          else {
            s.removeClass("stick");
          }
        }); */
//       }
// 		}
// 		else{
// 			//$('#layout-nav').addClass("sticky");
// 			ScrollReveal().reveal('.reveal', { reset: false, duration: '2000', interval: 500 });
// 		}
//
// 		$.scrollIt({
// 			upKey: 38,             // key code to navigate to the next section
// 			downKey: 40,           // key code to navigate to the previous section
// 			easing: 'linear',      // the easing function for animation
// 			scrollTime: 600,       // how long (in ms) the animation takes
// 			activeClass: 'active', // class given to the active nav element
// 			onPageChange: null,    // function(pageIndex) that is called when page is changed
// 			topOffset: -75          // offste (in px) for fixed top navigation
// 		});
//
//
// var wow = new WOW(
//   {
//     boxClass:     'wow',      // animated element css class (default is wow)
//     animateClass: 'animated', // animation css class (default is animated)
//     offset:       0,          // distance to the element when triggering the animation (default is 0)
//     mobile:       true,       // trigger animations on mobile devices (default is true)
//     live:         true,       // act on asynchronously loaded content (default is true)
//     callback:     function(box) {
//       // the callback is fired every time an animation is started
//       // the argument that is passed in is the DOM node being animated
//     },
//     scrollContainer: null // optional scroll container selector, otherwise use window
//   }
// );
// wow.init();

// //STICKY NAV SCROLL HIDE
// 		 var prevScrollpos = window.pageYOffset;
// window.onscroll = function() {
// var currentScrollPos = window.pageYOffset;
//   if (prevScrollpos > currentScrollPos) {
//     document.getElementById("sticky").style.top = "0";
//   } else {
//     document.getElementById("sticky").style.top = "-150px";
//   }
//   prevScrollpos = currentScrollPos;
// }
// //SCROLL ANIMATION
// $(function() {
//
//   var $window           = $(window),
//       win_height_padded = $window.height() * 1,
//       isTouch           = Modernizr.touch;
//
//   if (isTouch) { $('.revealOnScroll').addClass('animated'); }
//
//   $window.on('scroll', revealOnScroll);
//
//   function revealOnScroll() {
//     var scrolled = $window.scrollTop(),
//         win_height_padded = $window.height() * 0.7;
//
//     // Showed...
//     $(".revealOnScroll:not(.animated)").each(function () {
//       var $this     = $(this),
//           offsetTop = $this.offset().top;
//
//       if (scrolled + win_height_padded > offsetTop) {
//         if ($this.data('timeout')) {
//           window.setTimeout(function(){
//             $this.addClass('animated ' + $this.data('animation'));
//           }, parseInt($this.data('timeout'),10));
//         } else {
//           $this.addClass('animated ' + $this.data('animation'));
//         }
//       }
//     });
//     // Hidden...
//    $(".revealOnScroll.animated").each(function (index) {
//       var $this     = $(this),
//           offsetTop = $this.offset().top;
//       if (scrolled + win_height_padded < offsetTop) {
//         $(this).removeClass('animated slideleft slidedown slideleftfade slideupfade fadein clip-text')
//       }
//     });
//   }
//
//   revealOnScroll();
// });
//
//
//
// /* CAROUSEL SLIDE TO BOTTOM */
//
// var elmnt = document.getElementById("haveproject");
//     $('.carousel').on('mousewheel', function(e, delta) {
//     e.preventDefault();
//
//     if (delta > 0) {
//         			$(this).carousel('prev');
//
//     			 	setTimeout(function(){
//      	   			$('html, body').animate({
//      	 										scrollTop: $(".viewmore-btn").offset().top
//     										}, 0)
//     									},800);
//     				}
//     else {
//         $(this).carousel('next');
//         		setTimeout(function(){
//      	   			$('html, body').animate({
//      	 										scrollTop: $("#bottom-details").offset().top
//     										}, 0)
//     								},800);
//     			}
// });
//
//
// /*
// /* MODAL NAV
// (function(){
//   'use strict';
//
//   class Component {
//
//     printError(error) {
//
//       if (typeof error !== 'string' || error.length === 0) {
//         return console.log('you did not give arguments');
//       }
//
//       return console.log(error);
//     }
//
//     toggleСlass(node, className) {
//       return  node.classList.toggle(className);
//     }
//   }
//
//   class Menu extends Component {
//
//     constructor(settings) {
//       super();
//       this.menuNode = settings.menuNode;
//     }
//
//     toggleMenuState(className) {
//
//       if (typeof className !== 'string' || className.length === 0){
//         return super.printError('you did not give the class name for the toggleState function');
//       }
//
//       return super.toggleСlass(this.menuNode, className);
//     }
//   }
//
//   let jsMenuNode = document.querySelector('body');
//
//   let demoMenu = new Menu ({
//     menuNode: jsMenuNode
//   });
//
//   function callMenuToggle() {
//     demoMenu.toggleMenuState('js-menu_activated');
//   }
//
//   jsMenuNode.querySelector('.js-menu__toggle').addEventListener('click', callMenuToggle);
// })();
//
//
//   $(function() {
//
//   $(".js-menu__toggle").click(function() {
//     if (Modernizr.csstransitions) {
//       $(".modal-nav").toggleClass("modal-nav-transition");
//     } else {
//       // do some jQuery-based animations/transitions here
//       // for IE 6-9
//     }
//   });
// });
// */
//
// /* MOBILE HIDE NAV*/
//
//   $(document).ready(function () {
//
//   'use strict';
//
//    var c, currentScrollTop = 0,
//        navbar = $('#header');
//
//    $(window).scroll(function () {
//       var a = $(window).scrollTop();
//       var b = navbar.height();
//
//       currentScrollTop = a;
//
//       if (c < currentScrollTop && a > b + b) {
//         navbar.addClass("scrollUp");
//       } else if (c > currentScrollTop && !(a <= b)) {
//         navbar.removeClass("scrollUp");
//       }
//       c = currentScrollTop;
//   });
//
// });
//
//
//   /* WELCOME ANIMATION*/
//
//   $(document).ready(function () {
//     var delayInMilliseconds = 2100; //1 second
//         $("#wrapper").hide();
// setTimeout(function() {
//   //your code to be executed after 1 second
//
//           // Show the div after 5s
//           $("#wrapper").show();
// }, delayInMilliseconds);
//           // Hide the div
//
//       });
//
// $(".allrights").before($(".btm-nav-link"));
// 	});
//
// 	$(document).ready(function(){
//   $(".owl-carousel").owlCarousel({
// 		items: 1,
// 		loop: true,
// 		center: true,
// 		margin: 0,
// 		nav: true,
// 		navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
// 		responsive:{
// 				0:{
// 					stagePadding: 0
// 				},
// 				768:{
// 					stagePadding: 60
// 				},
// 				1024:{
// 					stagePadding: 130
// 				},
// 				1366:{
// 					stagePadding: 300
// 				},
// 				1600:{
// 					stagePadding: 570
// 				}
// 		}
// 	});
// });
particlesJS("particles-js",{
"particles": {
"number": {
  "value": 5,
  "density": {
    "enable": true,
    "value_area": 800
  }
},
"color": {
  "value": ["#E33700","#006AFF", "#609FF9","#FFB704"]
},
"shape": {
  "type": ["circle","edge"],
  "stroke": {

  },
  "polygon": {
     "nb_sides": 6
  }
},
"opacity": {
  "value": 1,
  "random": false,
  "anim": {
    "enable": false,
    "speed": 1,
    "sync": false
  }
},
"size": {
  "value": 5,
  "random": true,
  "anim": {
    "enable": true,
    "speed": 1,
    "size_min": 0.1,
    "sync": true
  }
},
"line_linked": {
  "enable": false,
  "distance": 150,
  "color": "#ffffff",
  "opacity": 0.4,
  "width": 1
},
"move": {
  "enable": true,
  "speed": 2,
  "direction": "top",
  "random": true,
  "straight": false,
  "out_mode": "out",
  "bounce": false,
  "attract": {
    "enable": false,
    "rotateX": 600,
    "rotateY": 1200
  }
}
},
"interactivity": {
"detect_on": "canvas",
"events": {
  "onhover": {
    "enable": false,
    "mode": "repulse"
  },
  "onclick": {
    "enable": false,
    "mode": "push"
  },
  "resize": true
},
"modes": {
  "grab": {
    "distance": 400,
    "line_linked": {
      "opacity": 1
    }
  },
  "bubble": {
    "distance": 400,
    "size": 40,
    "duration": 2,
    "opacity": 8,
    "speed": 3
  },
  "repulse": {
    "distance": 200,
    "duration": 0.4
  },
  "push": {
    "particles_nb": 4
  },
  "remove": {
    "particles_nb": 2
  }
}
},
"retina_detect": true
}
);
</script>
{% scripts %}
