<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="popup-con">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><img src="{{'assets/img/icon/ico-close.svg'|theme}}" alt=""></span>
          </button>
          <div class="pop-msg">
            <img src="{{'assets/img/icon/ico-paper-plane.svg'|theme}}" alt="">
            <h3>Message Sent.</h3>
            <p class="">We’ll review your inquiry and get back to you as soon as we can.</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="tdtc-form wow fadeIn" data-wow-delay="0.2s">
    <form id="contactForm" data-request="onSendForm" data-request-validate data-request-flash data-request-success= "$('#success-modal').modal(true);$('#contactForm')[0].reset();grecaptcha.reset();">
        {{ form_token() }}
        {{ form_sessionKey() }}
        <div class="form-par form-text">
          <div class="field-set">
            <div class="label-con fullname rel"><label for="fullname" class="form-label">Name</label></div>
            <input class="field form-input-text hero-sub" type="text" name="fullname" id="fullname" placeholder="">
            <p class="form-error-txt notif">Please enter your fullname</p>
          </div>

          <div class="field-set">
            <div class="label-con email rel"><label for="email" class="form-label">Email</label></div>
            <input class="field form-input-text hero-sub" type="email" name="email" id="email">
            <p class="form-error-txt notif">Please enter your email address</p>
          </div>

          <div class="field-set has-area">
            <div class="label-con message rel"><label for="message" class="form-label">Message </label></div>
            <textarea class="field form-input-text hero-sub" rows="5" type="text" name="message" id="message" placeholder=""></textarea>
            <p class="form-error-txt notif">Please enter your message</p>
          </div>
        </div>
        <div class="form-bottom">
            <div class="captcha-txt">This form is protected by Invisible reCAPTCHA.</div>
            <div>
            <button class="btn-submit btn-txt form-btn g-recaptcha" id="btn-send" data-callback="onSubmit" data-name="Submit" data-sitekey="6LfCtc0UAAAAAAaGvIjWDiRtGq5mu4O4H96z-u7M">Submit</button>
            </div>
        </div>
    </form>
</div>
<script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
