.gdpr-banner {
    position: fixed;
    padding: 15px;
    color: #fff;
    background-color: #fff;
    bottom: 0;
    border-bottom: 5px solid var(--dream-blue);
    z-index: 10000;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0px 4px 15px rgba(2, 19, 43, 0.4);
}

.gdpr-banner__wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.gdpr-banner__column {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.gdpr-banner__row + .gdpr-banner__row {
    margin-top: .5rem;
}

.gdpr-banner__column--1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.gdpr-banner__column--2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 20px;
}

.gdpr-banner__message {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 1.3;
    text-align: left;
    hyphens: auto;
    color: var(--black);
}

.gdpr-banner__settings a {
    color: inherit;
    border-bottom: 1px solid currentColor;
    display: inline-block;
    padding: 2px 0;
    text-decoration: none;
}

.gdpr-banner__button {
    /* -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .20); */
    padding: .5em 1em;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}

.gdpr-banner__button--opt-in {
    color: var(--black);
    background: #FFB704;
    -webkit-box-shadow: 0px 4px 15px rgba(2, 19, 43, 0.4);
    box-shadow: 0px 4px 15px rgba(2, 19, 43, 0.4);
    border-radius: 8px;
    padding: 10px 29px;
}

.gdpr-banner__button--opt-out {
    color: var(--black);
    background: transparent;
    display: none;
}

.gdpr-banner__button--dismiss {
    position: static;
    cursor: pointer;
    color: #fff;
    background: inherit;
    line-height: 0;
    font-size: 20px;
    font-weight: bold;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    display: none;
}

.gdpr-banner__dismiss {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    z-index: 1000;
}

@media screen and (min-width: 1340px) {
    .gdpr-banner__dismiss {
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 450px) {
    /* .gdpr-banner__button--opt-in {
        margin-left: 20px;
    } */

    .gdpr-banner__settings {
        margin: 0 25px;
    }
}

@media screen and (max-width: 510px) {
    .gdpr-banner__button {
        width: 100%;
        line-height: 1.2;
        margin-top: 10px;
        padding: 15px 29px;
    }

    .gdpr-banner__opt-out, .gdpr-banner__opt-in {
        -webkit-box-flex: 50%;
        -webkit-flex: 50%;
        -ms-flex: 50%;
        flex: 100%;
    }

    .gdpr-banner__settings {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 560px) {
    .gdpr-banner {
        padding: 10px;
    }
    .gdpr-banner__dismiss {
        position: absolute;
        right: 10px;
        top: -13px;
    }

    .gdpr-banner__button--dismiss {
        background: #333;
        height: 26px;
        width: 26px;
        padding-bottom: 1px;
        border: 1px solid #fff;
        border-radius: 50%;
    }
}

@media screen and (max-width: 300px) {
    .gdpr-banner__button {
        width: 100%;
    }

    .gdpr-banner__opt-out, .gdpr-banner__opt-in {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .gdpr-banner__column--2 {
        margin-top: 8px;
    }
}

@media screen and (max-width: 900px) {
    .gdpr-banner {
        text-align: center;
    }

    .gdpr-banner__wrapper {
        display: block;
        padding: 5px;
    }

    .gdpr-banner__settings {
        margin-left: 0;
    }

    .gdpr-banner__column--2 {
        margin-top: 6px;
        margin-left: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .gdpr-banner__column--2 {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .gdpr-banner__button--dismiss {
        margin-right: 10px;
    }

    .gdpr-banner {
        width: 100%;
    }
}
