[viewBag]
title = "Homepage"
url = "/"
layout = "homepage"
is_hidden = 0
navigation_hidden = 0
hero_head = "Book a <span class=\"yellow\">tricycle</span> in town at your own <span class=\"yellow\">convenience</span>."
hero_sub = "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
abt_head = "Improving our public transportation experience one TODA at a time."
abt_sub = "<p>TODA is the new digital platform that has real-time and on-demand tricycle booking.</p>

<p>&nbsp;We do this by innovating and empowering each of the Tricycle Operators and Drivers Association in the Philippines.</p>"
stats[0][stats_num] = 1500
stats[0][stats_unit] = ""
stats[0][stats_name] = "Registered Drivers"
stats[0][viewBag][seo_title] = ""
stats[0][viewBag][seo_description] = ""
stats[0][viewBag][seo_keywords] = ""
stats[0][viewBag][canonical_url] = ""
stats[0][viewBag][redirect_url] = ""
stats[0][viewBag][robot_index] = "index"
stats[0][viewBag][robot_follow] = "follow"
stats[1][stats_num] = 125
stats[1][stats_unit] = ""
stats[1][stats_name] = "TODA Terminals"
stats[1][viewBag][seo_title] = ""
stats[1][viewBag][seo_description] = ""
stats[1][viewBag][seo_keywords] = ""
stats[1][viewBag][canonical_url] = ""
stats[1][viewBag][redirect_url] = ""
stats[1][viewBag][robot_index] = "index"
stats[1][viewBag][robot_follow] = "follow"
stats[2][stats_num] = 38.80
stats[2][stats_unit] = "km2"
stats[2][stats_name] = "Service Area"
stats[2][viewBag][seo_title] = ""
stats[2][viewBag][seo_description] = ""
stats[2][viewBag][seo_keywords] = ""
stats[2][viewBag][canonical_url] = ""
stats[2][viewBag][redirect_url] = ""
stats[2][viewBag][robot_index] = "index"
stats[2][viewBag][robot_follow] = "follow"
stats[3][stats_num] = 5
stats[3][stats_unit] = "Brgy"
stats[3][stats_name] = "Covered in Taytay, Rizal"
stats[3][viewBag][seo_title] = ""
stats[3][viewBag][seo_description] = ""
stats[3][viewBag][seo_keywords] = ""
stats[3][viewBag][canonical_url] = ""
stats[3][viewBag][redirect_url] = ""
stats[3][viewBag][robot_index] = "index"
stats[3][viewBag][robot_follow] = "follow"
ben_head = "Real-time booking of tricycle within your reach"
bene_cards[0][ben_img] = "/Svg/Convenient.svg"
bene_cards[0][ben_label] = "Convenient"
bene_cards[0][ben_desc] = "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
bene_cards[0][viewBag][seo_title] = ""
bene_cards[0][viewBag][seo_description] = ""
bene_cards[0][viewBag][seo_keywords] = ""
bene_cards[0][viewBag][canonical_url] = ""
bene_cards[0][viewBag][redirect_url] = ""
bene_cards[0][viewBag][robot_index] = "index"
bene_cards[0][viewBag][robot_follow] = "follow"
bene_cards[1][ben_img] = "/Svg/Safe.svg"
bene_cards[1][ben_label] = "Safe"
bene_cards[1][ben_desc] = "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
bene_cards[1][viewBag][seo_title] = ""
bene_cards[1][viewBag][seo_description] = ""
bene_cards[1][viewBag][seo_keywords] = ""
bene_cards[1][viewBag][canonical_url] = ""
bene_cards[1][viewBag][redirect_url] = ""
bene_cards[1][viewBag][robot_index] = "index"
bene_cards[1][viewBag][robot_follow] = "follow"
bene_cards[2][ben_img] = "/Svg/Regulated.svg"
bene_cards[2][ben_label] = "Regulated"
bene_cards[2][ben_desc] = "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
bene_cards[2][viewBag][seo_title] = ""
bene_cards[2][viewBag][seo_description] = ""
bene_cards[2][viewBag][seo_keywords] = ""
bene_cards[2][viewBag][canonical_url] = ""
bene_cards[2][viewBag][redirect_url] = ""
bene_cards[2][viewBag][robot_index] = "index"
bene_cards[2][viewBag][robot_follow] = "follow"
safe_img = "/Svg/Payment.svg"
safe_label = "We have professional and registered tricycle drivers"
safe_sub = "<p>TODA is the new digital platform that has real-time and on-demand tricycle booking.</p>

<p>We improve the local transportation experience by innovating and empowering each of the Tricycle Operators and Drivers Association in the Philippines.</p>"
loc_img = "/Gif/Taytay Map Animation.gif"
loc_label = "We’re starting first in the municipality of <span class=\"blue\">Taytay, Rizal</span>"
loc_link = "https://www.waze.com/ul?ll=14.55855490%2C121.13608190&navigate=yes"
loc_sub = "<p>Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver near you.</p>

<p>Taytay can be reached from Metro Manila by C-6 Road passing from Parañaque, Muntinlupa and Taguig on the south, and Ortigas Avenue from Pasig City on the east.</p>"
feat_head = "Our App Features"
features1[0][feat1_img] = "/Icon/Booking.svg"
features1[0][mock1_img] = "/Mockup/feat-phone.png"
features1[0][feat1_label] = "Booking of Tricycle"
features1[0][feat1_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features1[0][viewBag][seo_title] = ""
features1[0][viewBag][seo_description] = ""
features1[0][viewBag][seo_keywords] = ""
features1[0][viewBag][canonical_url] = ""
features1[0][viewBag][redirect_url] = ""
features1[0][viewBag][robot_index] = "index"
features1[0][viewBag][robot_follow] = "follow"
features1[1][feat1_img] = "/Icon/Drop off.svg"
features1[1][mock1_img] = "/Mockup/feat-phone1.png"
features1[1][feat1_label] = "Multiple Drop Off"
features1[1][feat1_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features1[1][viewBag][seo_title] = ""
features1[1][viewBag][seo_description] = ""
features1[1][viewBag][seo_keywords] = ""
features1[1][viewBag][canonical_url] = ""
features1[1][viewBag][redirect_url] = ""
features1[1][viewBag][robot_index] = "index"
features1[1][viewBag][robot_follow] = "follow"
features1[2][feat1_img] = "/Icon/Matching.svg"
features1[2][mock1_img] = "/Mockup/feat-phone2.png"
features1[2][feat1_label] = "Instant Matching"
features1[2][feat1_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features1[2][viewBag][seo_title] = ""
features1[2][viewBag][seo_description] = ""
features1[2][viewBag][seo_keywords] = ""
features1[2][viewBag][canonical_url] = ""
features1[2][viewBag][redirect_url] = ""
features1[2][viewBag][robot_index] = "index"
features1[2][viewBag][robot_follow] = "follow"
features1[3][feat1_img] = "/Icon/Track.svg"
features1[3][mock1_img] = "/Mockup/feat-phone3.png"
features1[3][feat1_label] = "Track your Trike"
features1[3][feat1_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features1[3][viewBag][seo_title] = ""
features1[3][viewBag][seo_description] = ""
features1[3][viewBag][seo_keywords] = ""
features1[3][viewBag][canonical_url] = ""
features1[3][viewBag][redirect_url] = ""
features1[3][viewBag][robot_index] = "index"
features1[3][viewBag][robot_follow] = "follow"
features2[0][feat2_img] = "/Icon/Rate.svg"
features2[0][mock2_img] = "/Mockup/feat-phone4.png"
features2[0][feat2_label] = "Rate your Driver"
features2[0][feat2_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features2[0][viewBag][seo_title] = ""
features2[0][viewBag][seo_description] = ""
features2[0][viewBag][seo_keywords] = ""
features2[0][viewBag][canonical_url] = ""
features2[0][viewBag][redirect_url] = ""
features2[0][viewBag][robot_index] = "index"
features2[0][viewBag][robot_follow] = "follow"
features2[1][feat2_img] = "/Icon/Fare.svg"
features2[1][mock2_img] = "/Mockup/feat-phone5.png"
features2[1][feat2_label] = "Fare Computation"
features2[1][feat2_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features2[1][viewBag][seo_title] = ""
features2[1][viewBag][seo_description] = ""
features2[1][viewBag][seo_keywords] = ""
features2[1][viewBag][canonical_url] = ""
features2[1][viewBag][redirect_url] = ""
features2[1][viewBag][robot_index] = "index"
features2[1][viewBag][robot_follow] = "follow"
features2[2][feat2_img] = "/Icon/Record.svg"
features2[2][mock2_img] = "/Mockup/feat-phone6.png"
features2[2][feat2_label] = "Transaction Record"
features2[2][feat2_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features2[2][viewBag][seo_title] = ""
features2[2][viewBag][seo_description] = ""
features2[2][viewBag][seo_keywords] = ""
features2[2][viewBag][canonical_url] = ""
features2[2][viewBag][redirect_url] = ""
features2[2][viewBag][robot_index] = "index"
features2[2][viewBag][robot_follow] = "follow"
features2[3][feat2_img] = "/Icon/Notif.svg"
features2[3][mock2_img] = "/Mockup/feat-phone7.png"
features2[3][feat2_label] = "Get Notifications"
features2[3][feat2_desc] = "Book anywhere in Taytay, Rizal and be picked up by a registered TODA Driver."
features2[3][viewBag][seo_title] = ""
features2[3][viewBag][seo_description] = ""
features2[3][viewBag][seo_keywords] = ""
features2[3][viewBag][canonical_url] = ""
features2[3][viewBag][redirect_url] = ""
features2[3][viewBag][robot_index] = "index"
features2[3][viewBag][robot_follow] = "follow"
seo_title = "Home | TODA PH"
robot_index = "index"
robot_follow = "follow"
==