[viewBag]
title = "Privacy Policy"
url = "/privacy-policy"
layout = "privacy-policy"
is_hidden = 0
navigation_hidden = 0
pt_head = "Privacy Policy"
pt_content = "<p>In compliance with the requirements of the &nbsp;Data Privacy Act, the Company hereby ask for your consent on the &nbsp;possible use and sharing of personal information obtained from you in &nbsp;the course of your transaction with us.</p>

<p>The data or personal information which we &nbsp;may collect, process, store and/or update are you full name, email, &nbsp;telephone / mobile numbers.</p>

<p>Please note that the Company do not collect &nbsp;information about computer (or mobile device), operating system and browser type. The Company likewise does not use &nbsp;cookies to distinguish one user from other users.</p>

<p><strong>HOW WE COLLECT:&nbsp;</strong>The Company collects, uses and/or processes personal information through electronic or automated means.</p>

<p><strong>WHY WE COLLECT: The data&nbsp;</strong>collected, &nbsp;processed, stored and/or updated will be used solely for the &nbsp;preparation of the appropriate event packages that you may want to avail &nbsp;from us. Such information will also be used later on for marketing &nbsp;purposes involving our services that you may want to avail of in the &nbsp;future.</p>

<p>The collected personal information will not be shared with third parties who do not have any dealings with the Company.</p>

<p><strong>SECURITY MEASURES TO KEEP PERSONAL INFORMATION SAFE AND CONFIDENTIAL:&nbsp;</strong>Access &nbsp;to these personal data collected is limited only to employees whose &nbsp;work demand access thereto. These employees were also required to sign &nbsp;confidentiality agreement to assure that the data collected will remain &nbsp;safe and confidential.</p>

<p>Also, the Company is using secured data &nbsp;bases as storage of the personal information collected in addition to &nbsp;the reasonable security safeguards being undertaken by the Company to &nbsp;protect information from loss, unauthorized access, use or disclosure.</p>

<p>The Company hereby acknowledges its &nbsp;obligation under the Data Privacy Act of 2012 to observe and respect &nbsp;your privacy rights, including your right to information, right to &nbsp;access, right to correct, right to remove, right to damages and right to &nbsp;data portability. For easy reference on the Data Privacy Act, you may &nbsp;visit the National Privacy Commission Website at &nbsp;
	<a href=\"https://privacy.gov.ph/\"></a><a href=\"https://privacy.gov.ph/\" rel=\"noopener noreferrer\" target=\"_blank\">https://privacy.gov.ph</a></p>"
seo_title = "Privacy Policy | TODA PH"
robot_index = "index"
robot_follow = "follow"
==