[viewBag]
title = "Safety"
url = "/safety"
layout = "safety"
is_hidden = 0
navigation_hidden = 0
hero_head = "Book a ride with confidence."
hero_img = "/Png/banner-img.png"
hero_sub = "Our platform was built with safety in mind. Through screening process for our drivers, we’re dedicated to giving you a safe ride."
tips[0][tip_head] = "All drivers are background checked before their first trip"
tips[0][tip_img] = "/Png/safety-img1.png"
tips[0][tip_sub] = "<p>Before any driver can apply to TODA Ph, they must undergo a multi-step safety screen.</p>

<p>This includes being checked for driving violations, impaired driving, violent crime, and other checks. In addition, We rescreens drivers every year and uses technology to look for issues in between.</p>"
tips[0][viewBag][seo_title] = ""
tips[0][viewBag][seo_description] = ""
tips[0][viewBag][seo_keywords] = ""
tips[0][viewBag][canonical_url] = ""
tips[0][viewBag][redirect_url] = ""
tips[0][viewBag][robot_index] = "index"
tips[0][viewBag][robot_follow] = "follow"
tips[1][tip_head] = "You can send us a report for help if you need it."
tips[1][tip_img] = "/Png/safety-img2.png"
tips[1][tip_sub] = "<p>If you ever need urgent help while on a ride, you can contact us by sending us a report of what is happening.</p>

<p>We value you and your drivers safety on top of anything. Making sure you have a trusted ride going home from a night-out in Taytay, Rizal.</p>"
tips[1][viewBag][seo_title] = ""
tips[1][viewBag][seo_description] = ""
tips[1][viewBag][seo_keywords] = ""
tips[1][viewBag][canonical_url] = ""
tips[1][viewBag][redirect_url] = ""
tips[1][viewBag][robot_index] = "index"
tips[1][viewBag][robot_follow] = "follow"
scr_head = "We provide a safer ride"
scr_sub = "Before anyone can drive with TODA Ph, they must undergo a multi-step safety screen."
scr_card[0][scr_img] = "/Icon/ico-id.svg"
scr_card[0][scr_title] = "Driver Screenings"
scr_card[0][scr_sub] = "Before anyone can drive with TODA Ph, they must undergo a multi-step safety screen just to be sure."
scr_card[0][viewBag][seo_title] = ""
scr_card[0][viewBag][seo_description] = ""
scr_card[0][viewBag][seo_keywords] = ""
scr_card[0][viewBag][canonical_url] = ""
scr_card[0][viewBag][redirect_url] = ""
scr_card[0][viewBag][robot_index] = "index"
scr_card[0][viewBag][robot_follow] = "follow"
scr_card[1][scr_img] = "/Icon/ico-calendar.svg"
scr_card[1][scr_title] = "Annual reruns"
scr_card[1][scr_sub] = "We proactively rerun driving and criminal history checks following each driver’s initial check to ensure our customers safety."
scr_card[1][viewBag][seo_title] = ""
scr_card[1][viewBag][seo_description] = ""
scr_card[1][viewBag][seo_keywords] = ""
scr_card[1][viewBag][canonical_url] = ""
scr_card[1][viewBag][redirect_url] = ""
scr_card[1][viewBag][robot_index] = "index"
scr_card[1][viewBag][robot_follow] = "follow"
scr_card[2][scr_img] = "/Icon/ico-rate.svg"
scr_card[2][scr_title] = "2-way ratings"
scr_card[2][scr_sub] = "We highly value your feedbacks. Low-rated drivers are recorded, and they may be removed from the platform if proven true."
scr_card[2][viewBag][seo_title] = ""
scr_card[2][viewBag][seo_description] = ""
scr_card[2][viewBag][seo_keywords] = ""
scr_card[2][viewBag][canonical_url] = ""
scr_card[2][viewBag][redirect_url] = ""
scr_card[2][viewBag][robot_index] = "index"
scr_card[2][viewBag][robot_follow] = "follow"
scr_card[3][scr_img] = "/Icon/ico-board.svg"
scr_card[3][scr_title] = "Safety Advisory Board"
scr_card[3][scr_sub] = "We develop new processes and features with the help of leading experts in law enforcement, civil rights, and road safety."
scr_card[3][viewBag][seo_title] = ""
scr_card[3][viewBag][seo_description] = ""
scr_card[3][viewBag][seo_keywords] = ""
scr_card[3][viewBag][canonical_url] = ""
scr_card[3][viewBag][redirect_url] = ""
scr_card[3][viewBag][robot_index] = "index"
scr_card[3][viewBag][robot_follow] = "follow"
scr_card[4][scr_img] = "/Icon/ico-shield.svg"
scr_card[4][scr_title] = "Partnering with law enforcement"
scr_card[4][scr_sub] = "We have partnered with law enforcement professionals who offer immediate assistance in active cases."
scr_card[4][viewBag][seo_title] = ""
scr_card[4][viewBag][seo_description] = ""
scr_card[4][viewBag][seo_keywords] = ""
scr_card[4][viewBag][canonical_url] = ""
scr_card[4][viewBag][redirect_url] = ""
scr_card[4][viewBag][robot_index] = "index"
scr_card[4][viewBag][robot_follow] = "follow"
scr_card[5][scr_img] = "/Icon/ico-hand.svg"
scr_card[5][scr_title] = "Supporting disaster-relief efforts"
scr_card[5][scr_sub] = "Our team works with government officials and organizations like the Red Cross to support relief efforts on the ground."
scr_card[5][viewBag][seo_title] = ""
scr_card[5][viewBag][seo_description] = ""
scr_card[5][viewBag][seo_keywords] = ""
scr_card[5][viewBag][canonical_url] = ""
scr_card[5][viewBag][redirect_url] = ""
scr_card[5][viewBag][robot_index] = "index"
scr_card[5][viewBag][robot_follow] = "follow"
seo_title = "Safety | TODA PH"
robot_index = "index"
robot_follow = "follow"
==