.bg-404{
  height: 80%;
  display: flex;
  align-items: center;
}
.con-404{
   display: flex;
   flex-flow: column wrap;
   align-items: center;
}
.pnf-num,
.pnf-head,
.pnf-teaser{
  margin-top: 0;
}

.pnf-head{
  margin-bottom: 15px;
}
.pnf-teaser{
  width: 365px;
}
@media (max-width: 480px){
  .pnf-teaser{
    width: 100%;
  }
}
@media (max-width: 320px){
  .pnf-num{
    font-size: 142px;
  }
}
