.oth-banner{
  display: flex;
  flex-flow:column wrap;
  align-items: center;
  padding: 0px 15px;
}
.banner-head h1{
  width: 600px;
  margin-top: 0;
}
.banner-sub p{
  text-align: center;
  width: 540px;
}
.abt-img-element{
   position:absolute;
   height: 50%;
   width: 100%;
}
.abt-img{
   position: relative;
   height: 500px;
   width: 100%;
}
.consult-head h2{
  margin-top: 0;
}
.consult-sub p{
  width: 380px;
}
.abt-cons-con{
  display: flex;
  align-items: center;
}
.mvs-row{
  margin-top: 30px;
}
.mission-con,
.vision-con{
  width: 430px;
}
.mission-base,
.vision-base{
  display: flex;
  justify-content: center;
}
.mssn-head,
.vsn-head{
  background: #D6E9FF;
  border-radius: 10px;
  position: relative;
  padding: 25px 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
}
.mssn-icon,
.vsn-icon{
  position: absolute;
  right: -30px;
  top: -30px;
}
.mssn-head:after,
.vsn-head:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/icon/ico-polygon.png') scroll no-repeat left;
  left: 25px;
  top: 55px;
}
.mssn-ico-element-1,
.vsn-ico-element-1{
  position: absolute;
  top: -30px;
  left: 150px;
}
.mssn-ico-element-2,
.vsn-ico-element-2{
  position: absolute;
  left: -15px;
  bottom: -7px;
}
/* .mssn-head:before,
.vsn-head:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/icon/ico-polygon.png') scroll no-repeat left;
  left: 25px;
  top: 55px;
} */
.mssn-head h2,
.vsn-head h2{
  margin: 0;
}
.mssn-msg,
.vsn-msg{
  margin-top: 40px;
  padding: 0 30px;
}
.who-cards{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4,255px);
  grid-column-gap: 30px;
}
.card-base{
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 32px 42px;
}
.card-base h3{
  margin-top: 15px !important;
}
.card-base h3,
.card-base h6{
  margin: 0;
}
.gall-con{
  margin-top: 80px;
}
.gall-img{
   height: 500px;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
}
.owl-carousel .owl-item{
  display: flex;
  align-items: flex-end;
}
.gall-item img{
  border-radius: 10px;
}
.owl-stage{
  display: flex;
  align-items: stretch;
}
.cert-header{  
  margin-top: 50px;
  text-align: center;
}
.cert-con{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 50px;
  grid-row-gap: 25px;
  padding: 0 10px;
}
.cert-img{
  height: 155px;
  width: 100%;
}
.our-team-head{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.our-team-head .team-header h2{
  text-align: center;
  margin-top: 0;
}
.our-team-head .team-sub p{
  text-align: center;
  width: 540px;
}
.team-list{
  margin-top: 50px;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; */
    display: grid;
  /* flex-flow: row wrap; */
  /* justify-content: flex-start; */
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
}
.team-ppl{
  /* width: 255px; */
  margin:15px;
}
.name h4{
  margin-bottom: 0;
}
.pos h6{
  color: #828282;
  text-transform: capitalize;
  margin: 0;
}
@media (max-width: 480px){
  .banner-head h1{
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
  }
  .consult-head h2{
    font-size: 26px;
    line-height: 36px;
  }
  .abt-img-base{
    padding: 0;
  }
  .abt-img{
    height: 300px;
  }
  .abt-consult-con{
    margin-top: 30px;
  }
  .mission-con,
  .vision-con{
    width: 100% !important;
    padding: 0 15px;
  }
  .who-cards.cards-xs{
    grid-template-columns: repeat(1, 1fr) !important;
    margin-left: 25px;
    margin-right: 25px;
  }
  .abt-banner-row{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card-base{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .team-list{
    justify-content: center;
    margin-top: 15px;
  }
  .cert-con{
    grid-template-columns: repeat(1,1fr) !important;
  }
}
@media (max-width: 568px){
  .our-team-head .team-sub p{
    width: 100%;
  }
  .team-list {
    grid-template-columns: repeat(1,1fr) !important;
  }
  .ppl-dets{
    text-align: center;
  }
}
@media (max-width: 667px){
  .banner-head h1,
  .banner-sub p{
    width: 100%;
  }
}
@media (max-width: 992px){
  .abt-cons-con{
    display: block;
  }
  .abt-consult-con{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .consult-head h2,
  .consult-sub p{
    width: 100%;
    text-align: center;
  }
  .mission-base,
  .vision-base{
    margin-top: 50px;
  }
  .gall-img{
    height: 300px !important;
  }
  .who-cards{
      grid-template-columns: repeat(2,255px) !important;
  }
  .cert-con{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 1024px){
  .mission-con,
  .vision-con{
    width: 350px;
  }
  .who-cards{
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-top: 50px;
    justify-content: center;
  }
  .gall-img{
    height: 400px;
  }
  .team-list {
    grid-template-columns: repeat(3,1fr);
  }
}
