.article-head h1,
.article-date-time p{
  margin: 0;
}
.article-head h1{
  margin-bottom: 15px;
}
.article-date-time{
  display: flex;
  justify-content: space-between;
}
.article-img-con{
  border-radius: 10px;
  overflow: hidden;
  margin: 40px 0;
}
.article-img-con .article-img{
   height: 500px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: scroll;
}
.share-btn .share-txt{
  text-transform: uppercase;
}
.article-content strong{
  color: #333333;
}
.at-share-btn-elements a{
  border-radius: 30px !important;
  outline: 0 !important;
  margin-bottom: 11px !important;
}
.at-icon.at-icon-facebook{
  fill: #3B5998 !important;
}
.at-icon.at-icon-twitter{
  fill: #00B9FF !important;
}
.at-icon.at-icon-linkedin{
  fill: #007BB6 !important;
}
.at-icon.at-icon-pinterest_share{
  fill: #CB1F27 !important;
}
.at-icon.at-icon-addthis{
  fill: #333333 !important;
}
.oth-header h4{
  margin: 0;
}
.oth-blog-con{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
  margin-top: 30px;
}
.oth-blog-con a{
  height: 100%;
  position: relative;
}
.card-blog-con{
  flex-flow: column wrap;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
/* .card-blog-base{
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
} */
.card-blog-img .bg-img{
  height: 320px;
}
.card-blog-det-con{
  padding: 30px;
}
.oth-blog-con a:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid var(--dodger-blue);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.oth-blog-con a:hover:before{
  opacity: 1;
}
.btn-blog-2{
  position: relative;
}
.btn-blog-2 svg{
  position: absolute;
  right: 0;
  top: 5px;
}
.oth-blog-con a .btn-blog-2 p{
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
}
.oth-blog-con a:hover .btn-blog-2 p{
  transform: translateX(-15px);
}
.oth-blog-con a .btn-blog-2 svg{
  position: absolute;
  right: 0;
  top: 5px;
  opacity: 0;
  transform: translateX(-15px);
  transition: 0.3s ease-in-out;
}
.oth-blog-con a:hover .btn-blog-2 svg{
  opacity: 1;
  transform: translateX(10px);
}
.sharebtn-con{
  margin-top: 60px;
}
@media (max-width: 568px){
  .oth-blog-con{
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width: 480px){
  .blog-inside-head{
    font-size: 34px;
    line-height: 40px;
  }
  .article-inside{
    padding-top: 25px;
  }
  .pt{
    padding-top: 50px;
  }
  .sharebtn-con{
    margin-top: 75px;
  }
  .st-btn{
    border-radius: 100% !important;
  }
}
