.serv-head-banner h1{
  margin-top: 0;
  text-align: center;
  font-weight: 600;
}
.serv-sub-banner p{
  width: 540px;
  text-align: center;
  margin-bottom: 0;
}
.serv-banner{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.serv-banner-row{
  /* background: url('../img/background/serv-banner-bg.png') scroll no-repeat left top,var(--black-squeeze); */
  padding-top: 60px;
  /* padding-bottom: 75px; */
}
.categ-search{
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  align-items: baseline;
  /* padding: 40px 140px; */
  position: relative;
  /* top: -20px; */
  margin-top: 85px;
  padding: 0 30px;
}
.ss-search-form__input{
  position: relative;
}
.search-input{
  background: transparent;
  border: 2px solid #BDBDBD;
  border-radius: 5px;
  outline: 0;
  color: #828282;
  /* padding: 11px; */
  height: 50px;
  padding-left: 50px;
  width: 100%;
  text-align: left;
  transition: 0.3s ease-in-out;
}
.search-btn{
  background: transparent;
  border: none;
  outline: 0;
  position: absolute;
  left: 10px;
  top: 14px;
}
.search-input:focus,
.search-input:active{
    border: 2px solid #00B9FF;
}
::placeholder { /* Firefox, Chrome, Opera */
    color: var(--White);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--White);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--White);
}
select.sort-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}
.categ-box.is-select{
  border: 2px solid #00B9FF;
}
.categ-box{
  /* background:  #F2F4F5; */
  border: 2px solid #BDBDBD;
  border-radius: 5px;
  margin-left: 30px;
  /* padding: 0 15px; */
  /* margin-top: -16px; */
  /* height: 60px; */
  padding: 0 20px;
  transition: 0.3s ease-in-out;
}
.categ-box form{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
/* .categ-box h6{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #999999;
  width:80px;
} */
.sort-text{
  height:50px;
  width:100%;
  position: relative;
  background: url('../img/icon/ico-tri-invert.svg') scroll no-repeat center right;
  border: none;
  outline: 0;
  color: #4F4F4F;
}
.ico-dropdown{
  position: absolute;
  background: url('../img/icon/ico-dropdown.svg') scroll no-repeat center, #f2f2f2;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 2px solid #bdbdbd;
  pointer-events: none;
}
/* .ico-dropdown.open{
  transform: rotate(180deg);
  border-right: 2px solid #bdbdbd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: none;
} */
.feat-blog{
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 40px;
  position: relative;
}
.feat-blog:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 50px rgba(15, 131, 255, 0.2);
    border: 3px solid var(--dodger-blue);
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 1;
}
.feat-blog:hover:before{
  opacity: 1;
}
.feat-blog-det-con{
  padding: 40px 30px;
}
.feat-blog-img .bg-img{
  height: 410px;
}
.card-blogs a:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 50px rgba(15, 131, 255, 0.2);
  border: 3px solid var(--dodger-blue);
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.card-blogs a:hover:before{
  opacity: 1;
}
.btn-blog{
  color: var(--dodger-blue);
  font-weight: bold;
  border: none;
  outline: 0;
  background: none;
  position: relative;
  padding: 0;
  text-align: right;
  margin-top: 15px;
}
.read-arrow{
  margin-left: 10px;
}
#post-wrapper{
  padding-left: 45px;
  padding-right: 30px;
}
.card-blog-img .bg-img{
  height: 320px;
}
.card-blog-con{
  flex-flow: column wrap;
}
.card-blogs{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 50px;
  grid-column-gap: 65px;
}
.card-blogs a,
.card-blog-base{
  height: 100%;
  position: relative;
}
.card-blog-base{
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
}
.card-blog-det-con{
  padding: 30px;
}
.btn-blog-2{
  position: relative;
}
.card-blogs a .btn-blog-2 p,
.feat-blog .btn-blog p{
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
}
.card-blogs a:hover .btn-blog-2 p,
.feat-blog:hover .btn-blog p{
  transform: translateX(-15px);
}
.feat-blog .btn-blog svg,
.card-blogs a .btn-blog-2 svg{
  position: absolute;
  right: 0;
  top: 5px;
  opacity: 0;
  transform: translateX(-15px);
  transition: 0.3s ease-in-out;
}
.feat-blog:hover .btn-blog svg,
.card-blogs a:hover .btn-blog-2 svg{
  opacity: 1;
  transform: translateX(10px);
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background: var(--dodger-blue);
  border-radius: 4px;
  border-color: var(--dodger-blue);
}
.pagination li{
  margin: 0 5px;
}
.pagination > li > a, .pagination > li > span{
  color: var(--dodger-blue);
  border: 1px solid transparent;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding: 6px 15px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
  color: var(--dodger-blue);
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  background: #ffffff;
}
.svg-arr-r{
  transform: rotate(180deg);
  margin-left: 5px;
}
.svg-arr-l{
  margin-right: 5px;
}
.page-arr:hover .page-arr-l,
.page-arr:hover .page-arr-r{
  fill: var(--dodger-blue);
}
#post-page{
  margin-top: 50px;
}
.invi-form{
  display: none;
}
.no-result{
  display: flex;
  flex-flow:column wrap;
  align-items: center;
  padding: 75px 0;
}
.no-result p{
  width: 475px;
  text-align: center;
}
.post-cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 65px;
  grid-row-gap: 50px;
  margin-top: 60px;
  padding: 0 15px;
}
.post-cards a{
  height: 100%;
}
.search-for{
  margin-top: 60px;
  padding: 0 15px;
}
.search-for span{
  color: var(--dodger-blue);
}
mark{
  color: var(--dodger-blue);
  background: none;
}
.empty-state{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 0;
}
.empty-state p{
  width: 370px;
  text-align: center;
}
@media (max-width: 768px){
  .categ-search{
    flex-flow: row wrap;
  }
  .categ-box{
    margin-left: 0;
    margin: 0 15px;
  }
  .feat-blog{
    flex-flow: column wrap;
  }
  .card-blogs,
  .post-cards{
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width: 480px){
  .serv-sub-banner p{
    width: 100%;
  }
  .categ-search{
    padding: 0 10px;
    margin-top: 30px;
  }
  .search-box{
    padding: 0;
  }
  .categ-box{
    margin: 0;
  }
  #post-wrapper{
    padding: 0 10px;
  }
  .no-result p{
    width: 100%;
  }
  .blog-title{
    font-size: 24px;
    line-height: 30px;
  }
  .empty-state p{
    width: 100%;
    padding: 0 10px;
  }
}
