:root{
  --white: #ffffff;
  --black: #181818;
  --black-two: #2E3032;
  --black-three: #070B12;
  --black-four: #04060A;
  --mustard: #FFB704;
  --aqua-blue: #006AFF;
  --dream-blue: #1F8FFF;
  --bloody-red: #D70009;
  --gray: #4E545C;
  --dark-gray: #2E3032;
}
