.serv-head-banner h1{
  margin-top: 0;
  text-align: center;
  font-weight: 600;
}
.serv-sub-banner p{
  width: 540px;
  text-align: center;
  margin-bottom: 0;
}
.serv-banner{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.serv-banner-row{
  /* background: url('../img/background/serv-banner-bg.png') scroll no-repeat left top,var(--black-squeeze); */
  padding-top: 60px;
  /* padding-bottom: 75px; */
}
.form-con{
  border-radius: 10px;
  padding: 50px;
  position: relative;
  z-index: 1;
}
.form-col{
  background: url('../img/background/cont-form-bg.png')scroll no-repeat right,var(--black-squeeze);
  border-radius: 10px;
}
.cont-bg-elem{
  position: absolute;
  top: -40px;
  left: 15px;
  border-radius: 10px;
}
.dets-txt p,
.dets-txt a{
  color: #333333;
  transition: 0.3s ease-in-out;
}
.dets-txt p:hover,
.dets-txt p:active,
.dets-txt p:focus,
.dets-txt a:hover,
.dets-txt a:active,
.dets-txt a:focus{
  color: var(--dodger-blue);
}
.dets-txt .email{
  border-bottom: 1px solid #333333;
  padding-bottom: 2px;
  transition: 0.3s ease-in-out;
}
.dets-txt .email:hover,
.dets-txt .email:focus,
.dets-txt .email:active
{
 border-bottom: 1px solid var(--dodger-blue);
}
.cont-dets-con{
  padding-left: 75px;
}
.cont-loc{
  display: flex;
  margin-bottom: 30px;
}
.dets-icon{
  margin-right: 20px;
}
.serv-q-teaser{
  margin-bottom: 0;
}
.cont-header p{
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #0048BD;
  margin-bottom: 20px;
}
#map{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.modal.in{
  background-color: #00000050;
}
.modal-backdrop.in{
  display: none !important;
}
@media (max-width: 1025px){
  .cont-dets-con{
    padding-left: 25px;
  }
}
@media (max-width: 992px){
  .cont-dets{
    padding-top: 75px;
  }
}
@media (max-width: 480px){
  .serv-sub-banner p{
    width: 100%;
  }
  .xs-con{
    padding: 0;
  }
  .form-con{
    padding: 50px 10px;
  }
  .form-col{
    border-radius: 0;
  }
  .cont-dets-con{
    padding: 0 10px;
  }
}
