.banner-head{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.banner-head .banner-header h2{
  margin-top: 0;
  text-align: center;
}
.banner-head .banner-sub p{
  width: 540px;
  text-align: center;
}
.course-list{
  margin-top: 75px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.courses{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}
.course{
  background: #FFFFFF;
  border-radius: 10px;
  height: 100%;
}
.course-thumb{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.course-dets h3{
  margin-top: 0;
}
.course-dets{
  padding: 15px;
}
.courses a{
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  position: relative;
  height: 100%;
}
.courses a:before{
  content: '';
  position: absolute;
  width:100%;
  height: 100%;
  box-shadow: 0px 4px 50px rgba(15, 131, 255, 0.2);
  border: 3px solid var(--dodger-blue);
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.courses a:hover:before{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.course-btn button{
  color: var(--dodger-blue);
  font-weight: bold;
  border: none;
  outline: 0;
  background: none;
  position: relative;
  padding: 0;
}
.course-btn button svg{
  opacity: 0;
  transform: translateX(-15px);
  transition: 0.3s ease-in-out;
}
.courses a:hover .course-btn button svg{
  opacity: 1;
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}
.bg-course-elem{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.faq-header h1{
  text-align: left;
}
.faq-list{
  padding: 0 10px;
}
.qstn-list{
  margin-top: 25px;
}
.qstn-trigger{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5.5px 0px;
}
.qstn-trigger .plus-icon,
.qstn-trigger .minus-icon{
  margin: 24px;
}
.faq-header h1{
  margin-top: 0;
  width: 540px;
}
.qstn-txt h3 {
  margin: 0;
  color: var(--black-pearl);
}
.qstn-txt h3 a{
  margin: 0;
  color: var(--black-pearl);
}

.ansr-con{
  /* display: none;
  overflow: hidden; */
  /* border-bottom: 1.5px solid #F0F6F9; */
  transition: 0.3s ease-in-out;
}
.qstn-con.clicked .ansr-con{
  display: block;
  overflow: visible;
}
.qstn-trigger.in .plus-icon,
.qstn-trigger .minus-icon{
  display: none;
}
.qstn-trigger.in .minus-icon{
  display: block;
}
.ansr-con h6{
  margin: 0;
  overflow: visible;
  padding-left: 62px;
  /* width: 1000px; */
  padding-right: 99px;
  padding-top: 5px;
  padding-bottom: 40px;
}
.qstn-con.clicked .ansr-con h6{
  margin: 0;
  overflow: visible;
  padding-left: 62px;
  /* width: 1000px; */
  padding-right: 99px;
  padding-top: 5px;
  padding-bottom: 40px;
}
.empty-state{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 0;
}
.empty-state p{
  width: 370px;
  text-align: center;
}
@media (max-width: 480px){
  .empty-state p{
    width: 100%;
    padding: 0 10px;
  }
  .course-list{
    margin-top: 50px;
  }
  .courses {
    grid-template-columns: repeat(1,1fr) !important;
  }
  .banner-head .banner-header h2,
  .banner-head .banner-sub p{
    width: 100%;
  }
  .faq-header h1{
    width: 100%;
    font-size: 34px;
    line-height: 40px;
  }
  .banner-head{
    padding: 0 15px;
  }
}
@media only screen and (max-width: 667px) and (orientation: landscape){
  .courses {
    grid-template-columns: repeat(2,1fr) !important;
  }
}
@media (max-width: 568px){
  .faq-head{
    margin-bottom: 47px;
  }
  .qstn-trigger{
    padding: 15px 0;
    align-items: baseline;
  }
  .qstn-trigger .plus-icon,
  .qstn-trigger .minus-icon{
    margin: 0;
    margin-right: 24px;
    margin-left: 5px;
  }
  .qstn-txt{
    padding-right: 44px;
  }
  .ansr-con h6{
    padding-left: 44px;
    padding-right: 44px !important;
  }
}
@media (max-width: 768px){
  .course-text .course-sub p {
    width: 100%;
  }
  .course-text,
  .course-list{
    padding: 0 15px;
  }
}
@media (max-width: 992px){

}
@media (max-width: 1024px){
  .courses{
    grid-template-columns: repeat(3,1fr);
  }
  .ansr-con h6{
    padding-right: 62px;
  }
}
/* @media (max-width: 1199px){
  .course{
    min-height: 419px;
  }
} */
