#loader-wrapper {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10005;
}
#loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:3px solid transparent;
  border-top-color: #D70009;
  border-radius:100%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index:1001;
}
#loader:before {
  content:"";
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border:3px solid transparent;
  border-top-color: var(--mustard);
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
#loader:after {
  content:"";
  position: absolute;
  top:12px;
  left:12px;
  right:12px;
  bottom:12px;
  border:3px solid transparent;
  border-top-color:var(--dream-blue);
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:#fff;
  width:51%;
  height:100%;
  z-index:1000;
}

#loader-wrapper .loader-section.section-left {
  left:0
}
#loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
.hero-row{
  /* height: 75vh; */
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #07459D 0%, #002252 100%), #070B12;
  padding-top: 180px;
  padding-bottom: 160px;
}
.hero-txt-con{
  position: relative;
  z-index: 1;
  width: 445px;
}
.hero-txt-con .body-text-18{
  margin-top: 15px;
}
.cities-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../img/background/city-shadow.svg') scroll no-repeat bottom / contain;
}
.hero-map-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: url('../img/background/hero-map-bg.svg') scroll no-repeat top right;
}
.phone-case{
  background: url('../img/svg/hero-phone.png') scroll no-repeat center;
  z-index: 1;
  position: absolute;
  padding: 30px;
}
.phone-elements{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 50px;
}
.mockup-con{
  display: flex;
  justify-content: center;
}
.phone-con{
  display: flex;
  justify-content: center;
  z-index: 2;
}
.svg-map{
  position: absolute;
  right: 0;
  top: 0;
}
.tricycle{
  position: absolute;
  bottom: 45px;
  right: 80px;
  z-index: 1;
  animation: moveTrike 5s;
}
@keyframes moveTrike{
  0%{
    transform: translateX(-150px);
  }
  100%{
    transform: translateX(0px);
  }
}
/* .hero-btn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 15px;
}
.hero-btn a img{
  width: 100%;
} */
.hero-btn{
  margin-top: 47px;
}
.btn-app{
  margin-right: 16px;
}
.abt-row{
  background: url('../img/background/abt-bg-left.png') scroll no-repeat top left,url('../img/background/abt-bg-right.png') scroll no-repeat right 100px,var(--white);
}
.abt-top-border{
  top: -45px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  width: 100%;
  height: 200px;
  background: var(--white);
}
.abt-txt-con .block-head{
  color: var(--black);
  margin-top: 13px;
}
.abt-txt-con .body-text-16{
  color: var(--black-two);
  margin-top: 24px;
}
.card-stats-con{
  background: url('../img/background/stats-map-bg.png') scroll no-repeat center,linear-gradient(180deg, #07459D 0%, #002252 100%), #FFFFFF;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
  padding: 40px 45px;
  margin-top: 48px;
}
.stats .block-head{
  color: var(--white);
}
.stats .sub-txt{
  color: var(--dream-blue);
}
.stats .block-head .sub{
  font-weight: normal;
  font-size: 16px;
  line-height: 0;
}
.why-use-con{
  padding-top: 75px;
}
.why-header .block-head{
  color: var(--black);
  margin-top: 22px;
}
.why-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 33px;
  margin-top: 46px;
}
.why-card .body-text-bold-16{
  margin-top: 35px;
}
.why-card .body-text-16{
  color: var(--black-two);
  margin-top: 10px;
  /* text-align: center; */
}
.safety-col{
  background: #f9f9f9;
  margin-top: 75px;
}
.safety-con{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 100px;
  margin-bottom: 11px;
}
.safety-con .block-head{
  color: var(--black);
  margin-top: 13px;
}
.safety-con .body-text-16{
  color: var(--black-two);
  margin-top: 12px;
}
.safety-btn{
  margin-top: 40px;
}
.safety-btn a{
  background: #006AFF;
  box-shadow: 0px 4px 15px rgba(0, 106, 255, 0.4);
  border-radius: 8px;
  color: var(--white);
  width: 238px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
.safety-btn a:hover,
.safety-btn a:active,
.safety-btn a:focus{
  background: #0A62DE;
}
.location-con{
  margin-top: 75px;
}
.offer-con .block-title,
.offer-con .block-head,
.why-use-con .block-head,
.why-use-con .block-title{
  text-align: center;
}
.offer-con .block-head{
  color: var(--white);
  margin-top: 21px;
}
.offer-row{
  background: url('../img/background/offer-bg.svg') scroll no-repeat center / cover;
}
.features-con{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  margin: 47px 0;
}
.feature-list .list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.mockup-hover-bg{
  /* box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.48);
  border-radius: 26px; */
}
.mockup-hover .phone-screen{
  position: absolute;
  z-index: 1;
  width: 80%;
}
.list li{
  background: var(--white);
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.32);
  border-radius: 10px;
  padding: 20px 25px;
  display: flex;
  margin-bottom: 16px;
  border: 3px solid #ffffff;
  transition: 0.3s ease-in-out;
  min-height: 200px;
}
.list li:hover{
  border: 3px solid #FFB704;
}
.list li .sub-txt{
  width: 300px;
  padding-right: 15px;
}
.feature-img{
  display: flex;
  justify-content: center;
}
.mockup-hover{
  position: relative;
}
.mockup-hover-bg{
  /* background: url('../img/svg/feat-phone-case.png') scroll no-repeat center / contain; */
  position: absolute;
  /* height: 100%; */
  width: 78%;
}
.form-con .block-head{
  text-align: center;
  color: var(--white);
}
.field-set input,
.field-set textarea{
	background: #043981;
	border: 1px solid #8D8F93;
	box-sizing: border-box;
	border-radius: 5px;
	outline: 0;
	transition: 0.3s ease-in-out;
}
.field-set input:focus,
.field-set textarea:focus{
	background: #01214E;
	border: 2px solid #006AFF;
	box-sizing: border-box;
	border-radius: 5px;
}
.form-label,
.form-input-text{
  color: #ffffff;
}
.label-con{
	width: 55px;
	height: 4px;
	left: 22px;
	top: 3px;
	background: transparent;
	transition: 0.5s ease-in-out;
}
.label-con.message{
	width: 75px;
}
.label-con.active{
	background: #01214E;
}
.captcha-txt{
  color: var(--white);
}
.btn-submit{
  background: var(--mustard);
  border: none;
  width: 178px;
  height: 57px;
  box-shadow: 0px 4px 15px rgba(2, 19, 43, 0.4);
  border-radius: 8px;
  color: #181818;
  transition: 0.3s ease-in-out;
}
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus{
  background: #E4A813;
}
.offer-row .rel{
  z-index: 1;
}
.home-form-bg{
  /* position: absolute; */
  /* bottom: 300px; */
  /* height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; */
}
.offer-row .container{
  z-index: 2;
}
@media only screen and(min-width: 1280px) and (max-width: 1537px){
  .phone-case{
    top: -70px;
  }
}
@media (max-width: 1025px){
  .why-cards{
    grid-template-columns: repeat(2,1fr);
  }
  .list li .sub-txt{
    width: 100%;
  }
  .phone-case{
    padding: 10px;
  }
  .mockup-hover .phone-screen{
    width: 80%;
    /* height: 80%; */
  }
  .features-con{
    grid-gap: 30px;
  }
  .mockup-hover-bg {
    /* width: 80%; */
    /* height: 80% !important; */
  }
  .feature-img{
    align-items: center;
  }
  .list li{
    min-height: 280px;
  }
}
@media (max-width: 992px){
  .hero-txt-con{
    width: 100%;
  }
  .hero-btn{
    display: flex;
    flex-flow: row wrap;
  }
  .features-con{
    grid-gap: 20px;
  }
}
@media (max-width: 991px){
  .hero-row{
    padding-top: 140px;
    padding-bottom: 85px;
  }
  .cities-bg{
    height: 200px;
    bottom: 0;
    background-size: cover;
  }
  .hidden-xs{
    display: none;
  }
  .features-con{
    grid-template-columns: repeat(2,1fr);
  }
  .list li{
    min-height: 240px !important;
  }
}
@media (max-width: 667px){
  .features-con {
    grid-template-columns: repeat(1,1fr);
    grid-gap: 0 !important;
  }
  .list li.xs-li{
    min-height: auto !important;
  }
}
@media (max-width: 480px){
  .hero-btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
  }
  .hero-btn a svg{
    width: 100%;
  }
  .abt-top-border{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .btn-app{
    margin-right: 0;
  }
  .card-stats-con{
    padding: 25px;
  }
  .hero-btn a{
    display: flex;
    justify-content: center;
  }
  .why-cards{
    grid-template-columns: repeat(1,1fr) !important;
    grid-gap: 50px;
  }
  .safety-con{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 50px;
  }
  .safety-con .safe-txt-con{
    grid-row: 1;
  }
  .location-con{
    display: flex;
    flex-flow: column wrap;
  }
  .location-con .safe-txt-con{
    margin-bottom: 50px;
  }
  .card-stats-con{
    grid-template-columns: repeat(2,1fr);
  }
  .safety-btn a{
    width: 100%;
  }
}
@media (max-width: 360px){
  .hero-btn{
    grid-template-columns: repeat(1,1fr) !important;
  }
}
