.course-banner{
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
}
.inside-course-element-bg{
  position: absolute;
  /* width: 100%; */
  height: 100%;
  top: 0;
  right: 0;
}
.banner-img{
    /* margin: 0 15px; */
   height: 40vh;
   width: 100%;
   border-radius: 10px;
}
.inside-course-head h2,
.field-head h2{
  margin-top: 0;
}
.inside-course-content ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow:row wrap;
}
.inside-course-content ul li{
  background: url('../img/icon/ico-bullet.svg') scroll no-repeat left;
  padding-left: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.field-tracks{
  display: grid;
  grid-template-columns: repeat(4,230px);
  grid-gap: 54px;
  justify-content: center;
  margin-top: 50px;
}
.field-head h2{
  text-align: center;
  width: 545px;
}
.field-head{
  display: flex;
  justify-content: center;
}
.track-title h6,
.track-desc p{
  text-align: center;
}
.track-base{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.contact-head h2{
  margin-top: 0;
}
.form-label span{
  color: #E36060;
}
.field-set{
  margin-bottom: 30px;
}
.field-dets .field-set{
  margin-bottom: 20px;
}
.field-set input,
.field-set textarea{
  width: 100%;
  padding: 12px;
  background: #FFFFFF;
  border: 2px solid #BDBDBD;
  border-radius: 5px;;
  transition: 0.3s ease-in-out;
}
.field-set input:focus,
.field-set textarea:focus{
  border-color: var(--dodger-blue);
  outline: 0;
}
.field-set.has-error input,
.field-set.has-error textarea{
  border: 2px solid #E36060;
}
.field-set .form-error-txt{
  margin-top: 6px;
  display: none;
}
.field-set.has-error .form-error-txt{
  display: block;
}
.field-dets{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 30px;
}
.form-bottom{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 74px;
  align-items: center;
}
.form-btn{
  height: 50px;
  border: none;
  outline: 0;
}
@media (max-width: 667px){
  .field-tracks{
    grid-template-columns: repeat(1,1fr) !important;
  }
}
@media (max-width: 1025px){
  .field-tracks{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width:480px){
  .form-bottom{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
  }
  .field-dets{
    grid-template-columns: repeat(1,1fr);
  }
  .inside-course-content ul{
    flex-flow:column wrap;
  }
  .inside-course-content ul li{
    width: 100%;
  }
  .track-base{
    padding: 0 15px;
  }
  .serv-banner{
    padding: 0 15px;
  }
}
