*:not(.develop-block, .shadow){
    transition: all 0.2s ease-out 0.2s;
    -webkit-transition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    -o-transition: all 0.2s ease-out 0.2s;
}
html, body.home-page{
	/* height: auto !important; */
	background: #fff;
  padding: 0 !important;
}
a{
	text-decoration: none !important;
}
body.inside-page{
	background: #fff !important;
	/*overflow-x: hidden;*/
	height: auto !important;
}
html{
	/*overflow-x: hidden;*/
}
.noPM{
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.noP{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.noPL{
  padding-left: 0 !important;
}
.noPR{
	padding-right: 0 !important;
}
.no-scroll{
  overflow-y: hidden;
  /* position: fixed; */
}
.gutter{
  padding-top: 75px;
  padding-bottom: 50px;
}
.particles-js-canvas-el{
  position: absolute;
  top: 0;
  z-index: 1;
}
.teaser{
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #333333;
  padding: 0 400px 0;
}
/*Registration Form*/
.reg-form .modal-header{
  background: linear-gradient(148.17deg, #29338E 40.99%, #2E2A66 77.76%);
  padding: 30px;
}
.register-form{
  padding: 25px 35px;
}
.reg-form p{
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.reg-form .close{
  color: #fff;
}
.reg-form .modal-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
}
.recaptcha p{
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}
.recaptcha p strong{
  color: #181818;
}
.modal-content {
  border-radius: 0 !important;
}
.field-con{
  overflow: hidden;
  position: relative;
  margin: 15px 0;
}
.field-con input{
  border: 0;
  border-bottom: 2px solid rgba(51, 51, 51, 0.3);
  outline: 0;
  width: 100%;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  color: #181818;
  padding-bottom: 7px;
}
.field-con .label-text span{
  color: #ED1714;
}
.field-con .label-text{
  position: absolute;
  top: 30px;
  left: 0;
  transition: all 0.15s ease-out 0.15s;
  -webkit-transition: all 0.15s ease-out 0.15s;
  -moz-transition: all 0.15s ease-out 0.15s;
  -o-transition: all 0.15s ease-out 0.15s;

  font-size: 24px;
  line-height: 27px;
  color: #666666;
  font-family: "gilroyregular";
  font-weight: normal;
}
/*#simpleContactSubmitButton{
  background: linear-gradient(137.24deg, #29338E 40.99%, #2E2A66 77.76%);
  box-shadow: 0px 4px 20px rgba(46, 42, 103, 0.3);
  border-radius: 3px;
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 11px 15px;
  width: 100%;
  border: 0;
}*/
/*#simpleContactSubmitButton{
  float: right;
}*/
#simpleContactSubmitButton i{
  margin-right: 15px;
}
#emptyForm_forms_flash *{
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.control--radio{
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control--checkbox .control__indicator {
  top: 10px !important;
}
div#agree{
  top: 0px !important;
}
.control__indicator {
  position: absolute;
  top: 10px;
  left: 5px;
  height: 25px;
  width: 25px;
  background: #ececec;
  border-radius: 3px;
  border: 1px solid #ececec;
  margin-top: -10px;
}
.control--radio span{
  color: #333;
  font-weight: normal !important;
  text-align: left;
  /* float: left; */
  margin-left: 15px;
  font-family: "Muli", sans-serif;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: transparent;
    border: 7px solid #F7D41C;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: transparent;
    border: 7px solid #F7D41C;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
/*End Registration Form*/


/*POLICY HEAD*/
.hero-inside-page .policy-head{
  height: auto !important;
}
.policy-head .container{
  padding-bottom: 30px !important;
}
.terms .container{
  padding:0px 115px 75px;
}

.hero-inside-page{
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 50px;
}

.overlay{
  background: rgba(0,0,0,.3);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.hero-inside-page .container.text-center{
  display: block !important;
}
.hero-inside-page .container{
  display: flex;
  padding: 100px 100px 75px;
}
.self-end{
  align-self: flex-end;
}
.hero-inside-page .flex-con, .hero-inside-page .flex-con-end{
  height: 350px;
  position: relative;
  z-index: 1;
}
.hero-inside-page h6{
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 27px;
  color: #66cc1f;
  font-family: "gilroyregular";
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero-inside-page h3 span{
  color: #66cc1f;
}
.hero-inside-page h3{
  font-size: 48px;
  line-height: 56px;
  color: #181818;
  font-family: "gilroyextrabold";
  margin: 0;
}
.hero-inside-page p{
  font-size: 20px;
  line-height: 26px;
  color: #666666;
  font-family: "gilroyregular";
  margin-bottom: 25px;
}
.hero-inside-page p span{
  color: #66cc1f;
}

.flex-con-end{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-con.sb{
  justify-content: space-between;
}
.flex-con.sa{
  justify-content: space-around;
}
.flex-con.fs{
  justify-content: flex-start !important;
}
.flex-con.sb .web-btn{
  margin: 0 !important;
}
.flex-con{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-con-stretch{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.invi-capt{
  font-size: 20px;
  line-height: 27px;
  color: #666666;
  font-family: "gilroyregular";
}

/*inspired from https://codepen.io/Rowno/pen/Afykb*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.hero-inside{
  text-align: center;
  padding: 200px 0 125px;
  position: relative;
}
.hero-inside h1{
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  position: relative;
  z-index: 1;
  font-family: graphikSemi;
  font-size: 45px;
  line-height: 0.93;
  letter-spacing: 1px;
  color: #ffffff;
}
.hero-inside .hero-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(120, 120, 120, .25);
  z-index: 1;
  text-align: center
}

.talk{
  background-color: #f3faed;
  padding: 60px 0 70px;
}
.talk h2 span{
  color: #66cc1f;
}
.talk h2{
  font-size: 48px;
  line-height: 60px;
  color: #181818;
  font-family: "gilroyextrabold";
}
.web-btn i{
  margin-left: 15px;
}
.web-btn{
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  font-family: "gilroyregular";
  border-radius: 25px;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.25);
  background-color: #181818;
  margin-top: 25px;
  padding: 12px 30px;
  transition: 0.25s ease-in-out;
}
.web-btn:hover{
  background-color: #66cc1f;
  border-color: #66cc1f;
  transform: translateY(-15px);
  box-shadow: 0px 1px 50px rgba(102,204,31,0.6) !important;
    -moz-box-shadow: 0px 1px 50px rgba(102,204,31,0.6) !important;
    -webkit-box-shadow: 0px 1px 50px rgba(102,204,31,0.6) !important;
    -o-box-shadow: 0px 1px 50px rgba(102,204,31,0.6) !important;
}

@media (max-width: 768px){
  .hero-inside-page .container {
    display: block;
    padding: 50px 50px 75px;
  }
  .hero-inside-page{
    padding-top: 70px;
  }
  .hero-inside-page p {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .terms .container{
    padding: 25px;
  }
  .talk {
    padding: 60px 50 70px;
    text-align: center;
  }
  .talk h2 br{
    display: none;
  }
}
@media (max-width: 480px){
  .gutter {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .hero-inside-page .flex-con, .hero-inside-page .flex-con-end {
    height: auto;
  }
  .hero-inside-page .container {
    padding: 25px 25px 35px;
  }
  .talk {
    padding: 25px;
  }
  .talk h2 {
    font-size: 34px;
    line-height: 44px;
  }
}
