.content{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  z-index: 1;
}
.content h1{
  text-transform: uppercase;
}
.content p{
  width: 350px;
  text-align: center;
  margin-top: 16px;
}
.content a{
  background: var(--Blue);
  padding: 17px 65px;
  color: #ffffff;
  margin-top: 30px;
  border: 1px solid var(--Blue);
  transition: 0.3s ease-in-out;
}
.content a:hover{
  background: #ffffff;
  color: var(--Blue);
  border: 1px solid var(--Blue);
  transition: 0.3s ease-in-out;
}
.m-top{
  margin-top: 90px;
  color: var(--Black);
}
.flex-con{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.nf-bg-paw{
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 480px){
  .content p{
    width: 100%;
  }
}
@media (max-width: 768px){
  .nf-bg-paw{
    left: -50px;
  }
}
