.row__policy-terms{
  padding-top: 150px;
}
.pt__head h1{
  color: var(--black);
}
.pt__content{
  color: var(--black-two);
}
.fixed-nav{
  background: #070B12;
}
.ftr-row{
  padding-top: 43px;
}
@media (max-width: 991px){
  .row__policy-terms{
    padding-top: 120px;
  }
}
