.banner-row{
  background-image: url('../img/background/banner-bg.png');
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 100px;
}
.banner-base .body-text-18{
  width: 400px;
  margin-top: 28px;
}
.banner-img{
  position: absolute;
  right: 0;
  box-shadow: 0px 21px 48px rgba(0, 20, 78, 0.4);
}
.safety-con{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-column-gap: 100px;
}
.safety-con .reverse{
  grid-column: 2;
}
.safety-con .reverse-txt{
  grid-column: 1;
  grid-row: 1;
}
.safety-txt-base .block-head{
  color: var(--black);
}
.safety-txt-base .body-text-16{
  color: #3e3e3e;
  margin-top: 16px;
}
.safer-heading .block-head{
  color: var(--black);
  text-align: center;
}
.safer-heading .body-text-16{
  color: var(--black-two);
  text-align: center;
  margin-top: 16px;
}
.safer-row{
  background: url('../img/background/safer-bg.png') scroll no-repeat bottom / cover, #f9f9f9;
}
.safer-card-con{
  margin: 39px 0;
}
.safer-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}
.safer-card{
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 10px 48px rgba(0, 20, 78, 0.1);
  padding: 28px 30px;
}
.safer-card .body-text-bold-16{
  text-align: left;
  margin-top: 14px;
}
.safer-card .body-text-16{
  margin-top: 6px;
}
.safety-bg-elem{
  position: absolute;
  top: 85px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.safer-row .rel{
  z-index: 2;
}
.form-con .block-head{
  text-align: center;
  color: var(--black);
}
.field-set input,
.field-set textarea{
	background: #ffffff;
	border: 1px solid #adadad;
	box-sizing: border-box;
	border-radius: 5px;
	outline: 0;
	transition: 0.3s ease-in-out;
}
.field-set input:focus,
.field-set textarea:focus{
	background: #ffffff;
	border: 2px solid #006AFF;
	box-sizing: border-box;
	border-radius: 5px;
}
.form-label,
.form-input-text{
  color: #666666;
  transition: 0.3s ease-in-out;
}
.label-con{
	width: 55px;
	height: 4px;
	left: 22px;
	top: 3px;
	background: transparent;
	transition: 0.5s ease-in-out;
}
.label-con.message{
	width: 75px;
}
.label-con.active{
	background: #ffffff;
}
.captcha-txt{
  color: var(--gray);
}
.btn-submit{
  background: var(--aqua-blue);
  border: none;
  width: 178px;
  height: 57px;
  box-shadow: 0px 4px 15px rgba(2, 19, 43, 0.4);
  border-radius: 8px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus{
  background: #0A62DE;
}
@media (max-width: 992px){
  .safer-cards {
    grid-template-columns: repeat(2,1fr);
  }
  .safety-con{
    grid-column-gap: 50px;
  }
  .safety-con-rev{
    margin-top: 50px;
  }
}
@media (max-width: 991px){
  .banner-row{
    padding-top: 120px;
  }
}
@media (max-width: 769px){
  .banner-base .body-text-18{
    width: 100%;
  }
}
@media (max-width: 668px){
  .safety-con{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 30px;
  }
  .safety-con .reverse{
    grid-column: auto;
  }
  .safety-con .reverse-txt{
    grid-row: auto;
  }
}
@media (max-width: 480px){
  .safer-cards {
    grid-template-columns: repeat(1,1fr) !important;
  }
  .banner-row{
    padding-top: 120px;
    padding-bottom: 180px;
  }
  .tips-row{
    padding-top: 250px;
  }
  .safety-con .safety-txt-base{
    grid-row: 1;
  }
  .banner-img{
    position: absolute;
    right: 0;
    top: 35px;
    width: 100%;
  }
  /* .safer-row{
    background-attachment: scroll;
  } */
}
