.serv-banner-row{
  background: url('../img/background/serv-banner-bg.png') scroll no-repeat left top,var(--black-squeeze);
  padding-top: 60px;
  padding-bottom: 75px;
}
.serv-banner{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.serv-head-banner h1{
  margin-top: 0;
  text-align: center;
}
.serv-sub-banner p{
  width: 540px;
  text-align: center;
  margin-bottom: 0;
}
.serv-banner-elem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.question h2{
  margin-top: 0;
}
.serv-answers{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 35px;
  grid-row-gap: 20px;
}
.sa-con{
  display: flex;
}
.sa-con .sa-icon{
  margin-right: 20px;
}
.sa-title-p{
  margin-bottom: 5px;
}
.how-header{
  position: relative;
  z-index: 1;
}
.how-head h2{
  margin-top: 0;
}
.how-proc-row{
  background: url('../img/background/how-proc-bg.png')scroll no-repeat center /cover,var(--black-squeeze);
  border-radius: 10px;
  padding: 70px 0px;
  display: flex;
  align-items: stretch;
}
.how-proc-bg-elem{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.how-proc-con{
  margin-top: 55px;
}
.how-proc-btn{
  margin: 0;
  padding-left: 0;
  /* padding-right: 25px; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 25px;
  position: relative;
  z-index: 1;
}
.how-proc-btn li{
  padding: 10px 25px;
  background: #FFFFFF;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.how-proc-btn li:hover,
.how-proc-btn .active{
  background: #D6E9FF;
}
.how-proc-btn li a{
  display: flex;
  color: var(--black-pearl);
}
.how-proc-btn li a span{
  color: var(--cobalt);
  margin-right: 10px;
}
.proc-dets-con{
  display: flex;
  align-items: flex-end;
}
.how-proc-illu{
  margin-top: -55px;
  position: relative;
  z-index: 1;
  display: none;
  visibility: hidden;
  opacity: 0;
}
.step-illu{
  position: relative;
  top: 25px;
}
.how-proc-illu.active{
  visibility: visible;
  opacity: 1;
}
.step-num-con span{
  color: var(--cobalt);
  font-weight: 600;
  margin-right: 10px;
  width: 80px;
}
.step-num-con{
  display: flex;
}
.step-desc{
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 60px;
}
.stories-testi-con{
  padding: 75px 0;
}
.sa-icon img{
  width: 53px;
  height: 53px;
}
.form-row{
  padding-bottom: 55px;
}
@media (max-width: 992px){
  .serv-answers{
    margin-top: 30px;
  }
}
@media (max-width: 768px){
  .how-proc-row{
    flex-flow: row wrap;
  }
  .how-proc-illu{
    margin-top: 25px;
  }
}
@media (max-width: 480px){
  .serv-sub-banner p{
    width: 100%;
  }
  .serv-answers{
    grid-template-columns: repeat(1,1fr);
  }
  .step-illu img{
    width: 100%;
  }
  .step-desc{
    padding: 60px 30px;
  }
  .step-num-con{
    flex-flow: row wrap;
  }
  .proc-bg-con{
    padding: 0 !important;
  }
  .how-proc-row{
    border-radius: 0;
  }
  .stories-testi-con{
    padding-top: 0px;
    padding-bottom: 25px;
  }
}
