html{
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding: 0 !important;
	margin: 0 !important;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
body{
	font-family: 'Rubik';
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
.stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
    background: var(--aqua-blue) !important;
}
.wow{
	visibility: hidden;
}
.pads{
	padding: 75px 0;
}
.noP{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.pt{
	padding-top: 45px;
}
.pt75{
	padding-top: 75px;
}
.rel{
	position: relative;
}
span.yellow{
	color: var(--mustard);
}
span.red{
	color: var(--bloody-red);
}
span.blue{
	color: var(--aqua-blue);
}
.fixed-nav{
	position: fixed;
	width: 100%;
	z-index: 5;
	transform: translate(0);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.fixed-nav.hide-nav{
	transform: translateY(-120px);
}
.fixed-nav.nav-shadow{
	background: #070B12;
	box-shadow: 4px 4px 20px rgba(131, 131, 131, 0.25);
}
.nav-con{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 22.5px;
  margin-bottom: 22.5px;
}
.nav-links{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.nav-links li{
	margin: 0 20px;
}
.nav-links li a{
	position: relative;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.nav-links li a:hover{
	color: #ffffff;
	opacity: 1;
}
.nav-links li a:active,
.nav-links li a:focus{
	color: #ffffff;
}
.nav-links li a:before{
	content: '';
	position: absolute;
	height: 2px;
	bottom: -5px;
	background: var(--white);
	width: 0%;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.nav-links li a:hover::before{
	width: 100%;
}
.contact-btn{
	display: flex;
	/* justify-content: flex-end; */
}
.contact-btn a{
	background: var(--mustard);
	/* padding: 16px 32px; */
	box-shadow: 0px 4px 15px rgba(2, 19, 43, 0.4);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 57px;
	width: 157px;
	position: relative;
	color: var(--black);
	opacity: 1;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.contact-btn a:hover,
.contact-btn a:active,
.contact-btn a:focus{
	color: var(--black);
	background: #E4A813;
}
.contact-btn a:before{
	/* content: attr(data-name);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
	opacity: 0;
	transition: 0.3s ease-in-out;
	width: 0;
	overflow: hidden; */
}
.contact-btn a:hover:before{
	/* opacity: 1;
	width: 100%; */
}
.nav-link{
	color: var(--white);
}
.burger-con{
	display: flex;
  align-items: center;
}
.hamburger{
	position: absolute;
	right: 0;
	outline: 0;
	padding: 15px 0;
	display: flex;
	justify-content: center;
}
.hamburger:before{
	content: '';
	position: fixed;
	width: 48px;
	height: 48px;
	background-color: var(--black);
	border-radius: 50%;
	/* transform: scale(1);
	transition: 0.3s ease-in-out; */
	margin-top: -15px;
	transform: scale(1);
	transition: 0.7s ease-in-out;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
}
.hamburger.is-active:before{
	transform: scale(50);
}
/* .hero-row .container{
	width: 100%;
} */
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
	background-color: var(--white);
	width: 18px;
  height: 2px;
}
.hamburger--slider .hamburger-inner {
    top: 5px;
}
.hamburger--slider .hamburger-inner:before{
	top: 5px;
}
.hamburger--slider .hamburger-inner:after{
	top: 10px;
}
.hamburger--slider.is-active .hamburger-inner{
	top: 0;
}
.hamburger--slider.is-active .hamburger-inner::after{
	top: 20px;
}
.hamburger-box{
	display: flex;
  justify-content: center;
  align-items: center;
	height: 19px;
}
.hamburger:hover{
	opacity: 1;
}
.nav-overlay{
	display: none;
}
.ftr-row{
	background-color: var(--black-three);
	padding-bottom: 43px;
	padding-top: 191px;
}
.ftr-con{
	display: grid;
	grid-template-columns: repeat(3,1fr);
  grid-column-gap: 30px;
}
.ftr-intro .ftr-body-text{
	color: var(--white);
	margin-top: 18px;
	width: 300px;
}
.ftr-links{
	list-style: none;
	padding: 0;
	margin: 0;
	column-count: 2;
	grid-gap: 0;
}
.links .ftr-title,
.contact .ftr-title{
	color: var(--dream-blue);
	margin-top: 25px;
	margin-bottom: 25px;
}
.ftr-links li{
	margin-bottom: 15px;
}
.ftr-links .ftr-link,
.ftr-cont .ftr-link{
	color: #ffffff;
	position: relative;
}
.ftr-cont{
	list-style: none;
	padding: 0;
	margin: 0;
}
.ftr-links li a:before,
.ftr-cont li a:before{
	content: '';
	position: absolute;
	height: 2px;
	bottom: -5px;
	background: var(--white);
	width: 0%;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.ftr-links li a:hover:before,
.ftr-cont li a:hover:before{
	width: 100%;

}
.ftr-cont li{
	margin-bottom: 15px;
}
.ftr-cont .location{
	background: url('../img/icon/ico-location.svg') scroll no-repeat left 5px;
	padding-left: 35px;
}
.ftr-cont .email{
	background: url('../img/icon/ico-email.svg') scroll no-repeat left 0px;
	padding-left: 35px;
}
.copy-row{
	background: var(--black-four);
	padding: 17px 0;
}
.copy-con{
	display: flex;
justify-content: space-between;
}
.copy-con .ftr-body-text{
	color: var(--gray);
}
.policy-con .terms{
	margin-right: 19px;
}
.policy-con a{
	transition: 0.3 ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.policy-con a:hover{
	color: var(--white);
}
.ss-media{
	display: grid;
	grid-template-columns: repeat(3,60px);
	margin-top: 30px;
}
.ss-media a{
	background: var(--dark-gray);
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.ss-media a:hover path{
	fill: var(--dream-blue);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.form-con{
  margin-top: 47px;
}
.tdtc-form{
	display: flex;
  justify-content: center;
  margin-top: 39px;
}
.field-set{
	position: relative;
	margin-bottom: 25px;
}
.field-set input{
	width: 540px;
	height: 60px;
	padding: 0 22px;
}
.field-set textarea{
	width: 100%;
	padding: 18px 22px
}
.form-label{
	position: absolute;
	top: 20px;
  left: 5px;
  padding: 0 8px;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	z-index: 1;
}
.form-bottom{
	display: flex;
  align-items: center;
	justify-content: space-between;
	padding-top: 8px;
}
.captcha-txt{
	width: 260px;
}
.ftr-banner{
	background-image: url('../img/background/ftr-banner-bg.png');
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: ,#c4c4c4;
	padding: 50px 65px;
	box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
	grid-gap: 150px;
	position: relative;
	bottom: -100px;
}
.banner-btn{
	display: flex;
  justify-content: center;
}
.ftr-banner .banner-txt{
	width: 460px;
}
.banner-txt .body-text-16{
	margin-top: 16px;
}
.app-btn{
	margin-right: 38px;
}
.field-set .form-error-txt{
  visibility: hidden;
	opacity: 0;
	margin-top: 9px;
	margin-bottom: 0;
	position: absolute;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.field-set.has-error .form-error-txt{
	visibility: visible;
	opacity: 1;
	position: relative;
}
.field-set.has-error .field{
	border: 2px solid #D73030;
}
.banner-txt .block-head,
.banner-txt .body-text-16{
  color: var(--black);
}
.modal-backdrop.in{
	display: none !important;
}
body{
	padding-right: 0 !important;
}
.modal.in{
	padding-right: 0 !important;
	background-color: #00000050;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.popup-con{
	width: 100%;
  height: 100%;
	display: flex;
}
.modal-dialog{
	height: auto;
	width: 350px;
	display: flex;
	align-items: center;
}
.pop-msg{
	display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 40px;
}
.pop-msg h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight:600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #06062B;
}
.pop-msg p{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #4F4F4F;
}
button.close{
	position: absolute;
	right: 0;
	top: 15px;
	right: 15px;
}
.modal-content{
	border-radius: 10px !important;
	border: none;
}
@media (max-width: 1024px){
	/* .nav-con{
		width: 100%;
	} */
	.ftr-banner .banner-txt{
		width: 100%;
	}
}
@media (max-width: 993px){
	.ftr-banner{
		grid-template-columns: repeat(2,1fr);
		align-items: center;
		grid-gap: 50px;
	}
	.ftr-con {
    grid-template-columns: repeat(1,1fr);
	}
	.copy-row{
		padding: 15px;
	}
	.ftr-intro .ftr-body-text{
		/* width: 100%; */
	}
}
@media (max-width: 991px){
	.nav-overlay{
		display: block;
		padding: 40px 0;
		top: 90px;
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 5;
		background: var(--black);
		opacity: 0;
		visibility: hidden;
		transition: 0.2s ease-in-out;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition-delay: 0.3s;
		-webkit-transition-delay: 0.3s;
		-moz-transition-delay: 0.3s;
		-o-transitions-delay: 0.3s;
	}
	.nav-overlay.visible{
		opacity: 1;
		visibility: visible;
	}
	.nav-links {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
	}
	.nav-link,
	.nav-link.active{
		font-size: 40px;
	}
	.nav-link.active{
		color: var(--dream-blue);
	}
	.nav-links li{
		margin: 20px 0;
	}
	.nav-links li a:before{
		overflow: unset;
		top: auto;
	}
	.nav-logo a img{
		/* width: 139px; */
		position: relative;
		z-index: 6;
	}
	.hamburger{
		border-radius: 100%;
    height: 64px;
    width: 64px;
    background: var(--black);
	}
	.ftr-banner{
		grid-template-columns: repeat(1,1fr) !important;
	}
	/* .ftr-con{
	    grid-template-columns: repeat(1,290px);
	} */
}
@media (max-width: 768px){
  .mb-pad{
    padding: 0 25px !important;
  }
}
@media (max-width: 735px){
	.banner-row .container .col-xs-6{
		width: 100%;
	}
}
@media (max-width: 480px){
  /* .form-par{
    padding: 0 25px;
  } */
	.field-set input,
	.field-set textarea{
		width: 100%;
	}
	.form-bottom{
		display: block;
	}
	.captcha-txt{
		width: 100%;
	}
	.btn-submit{
		margin-top: 35px;
		width: 100% !important;
	}
	.ftr-banner{
		background-image: url('../img/background/bottom-bg-mb.png');
	}
	.ftr-banner{
		padding: 30px 20px;
	}
	.banner-txt .block-head, .banner-txt .body-text-16{
		text-align: center;
	}
	.banner-txt .block-head{
		padding: 0 15px;
	}
	.banner-btn{
		/* flex-flow: column wrap;
    align-items: center; */
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 15px;
	}
	.banner-btn .app-btn{
		margin-right: 0;
		/* margin-bottom: 8px; */
		padding: 7px;
	}
	.app-btn svg{
		width: 100%;
	}
	.banner-btn a img{
		width: 100%;
	}
	.copy-con{
		flex-flow: column-reverse wrap;
		text-align: center;
	}
	.policy-con{
		margin-bottom: 15px;
	}
	#contactForm{
		width: 100%;
	}
	/* .form-con{
		margin-top: 0 !important;
	} */
}
@media (max-width: 320px){
	.nav-overlay{
		padding: 20px 0;
	}
}
@media only screen and (min-width: 640px) and (orientation: landscape){
	.nav-overlay{
		padding-top: 0;
		padding-bottom: 80px;
    top: 90px;
	}
	.nav-links{
    height: 100%;
	}
}
