/* Landing Page */

html{
	height: 100%;
}

#landing{
	background: linear-gradient(242.71deg, #FFF67D -5.2%, #E3C81C 61.03%) !important;
    margin: 0;
    padding: 40px !important;
	display: table;
    position: absolute;
    height: 100% !important;
    width: 100%;
}

.landing-con{
	/*background: transparent url(../landing-bg.jpg) scroll no-repeat center center;*/
	background: #efeeea;
	-o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
    /*padding-top: 250px;*/
	display: table-cell;
    vertical-align: middle;
    height: 100%;
	box-shadow: 0px 5px 14.25px 0.75px rgba(0, 0, 0, 0.2);
}

.landing-con h1{
    color: #1b1b1b;
    font-size: 40px;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
}

.landing-con h3{
	color: #fff;
	background: linear-gradient(129.57deg, #29338E 40.99%, #2E2A66 77.76%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    padding: 15px 20px;
    text-align: center;
    line-height: 26px;
}

.landing-con h4{
	font-size: 18px;
	line-height: 26px;
    color: #333;
    font-family: 'Muli', sans-serif;
    margin: 20px 40px;
    text-align: center;
    font-weight: normal;
}

.landing-con hr{

	border-color: #bfbfbf;

    width: 75px;

    border-width: 1px;

	margin: auto;

}

.landing-con h5{

	font-size: 18px;
	line-height: 26px;
    font-weight: normal;
    color: #2c75a2;
    font-family: 'Muli', sans-serif;
    text-align: center;
	margin: 15px auto 25px;

}

.landing-con h5 span{
	text-transform: uppercase;
    color: #4f4e48;
}

.landing-con ul.logos{
	padding: 0;
    width: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.landing-con ul.logos li{
    text-align: center;
	margin: 0 10px;
}

.landing-con ul li img{

	width: 175px;

}

.landing-con .countdown-amount, #home .countdown-amount{

	font-family: 'Poppins', sans-serif !important;
    font-size: 48px !important;
    color: #1b1b1b !important;
    background: white !important;
    font-weight: 600;
    border: 3px solid #29338E;
    height: 105px !important;

}

.landing-con .countdown-amount .countdown-period, #home .countdown-amount .countdown-period{

	font-family: 'Muli', sans-serif !important;

    font-size: 14px !important;

    color: #fff !important;

    background: #29338E !important;

    font-weight: normal;

	padding-top: 5px;

}


.landing-con .landing-logo{

	margin-bottom: 30px;

}

/*Countdown*/
.countdown-section {
	margin: auto 5px;
	text-align: center;
	float: left;
}

.countdown-amount {
  background: linear-gradient(129.57deg, #29338E 40.99%, #2E2A66 77.76%);
  border-radius: 4px;
  color: #ffffff;
  font-size: 48px;
  height: 90px !important;
  margin: 20px auto;
  width: 100px;
  position: relative;
}

.countdown-period {
  bottom: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
#defaultCountdown{
    width: 450px;
    margin: auto;
}
#home .cd-container{
    margin-top: 150px;
}
.cd-container{
    width: 450px;

}


@media (max-width: 768px){

	.col-xs-12{

		width: 100% !important;

	}

	.landing-con {

		padding-top: 75px;

	}

	.landing-con h1 {

		text-align: center;

	}

	.landing-con .container {

		width: 90% !important;

		text-align: center;

	}

	.landing-con hr {

		width: 100%;

	}

}

@media (max-width: 480px){

	.landing-con {

		padding-top: 50px;

	}

	.landing-con h1 {

		font-size: 32px;

		line-height: 38px;

	}

	.landing-con ul li img {

		width: 100px;

	}

	.landing-con h4 {

        margin: 20px 0px;

	}
	.landing-con ul.logos {
	    flex-wrap: wrap;
	}
	.landing-con ul.logos li {
		width: 50%;
	    margin: 15px 0;
	}
}

@media (max-width: 400px){

	html, #landing {

		height: auto;

	}



	.container {

		/* width: 100% !important; */

	}

	.landing-con h3 {

		font-size: 16px;

		padding: 10px 20px;

	}

}

/*AUBREY*/
.social-media-accounts {
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	max-width: 450px;
	margin: auto;
    box-shadow: 0 2px 12px 1px #c0c0c0;
    margin-top: 30px;
}
.social-media-accounts .description {
    font-family: 'Muli', sans-serif;
    color: #6c6c6c;
    font-size: 12px;
    line-height: 16px;
}
.social-media-accounts ul {
    display: table;
    width: 100%;
    margin: 0;
	padding: 0;
}
.social-media-accounts ul li {
	display: table-cell;
	float: none;
}
.social-media-accounts ul li a,
.social-media-accounts ul li a span {
    display: block;
    width: 32px;
    height: 32px;
}
.social-media-accounts ul li a span {
	background-image: url('../images/social.png');
	background-repeat: no-repeat;
}
.social-media-accounts ul li a {
	margin: auto;
}
.social-media-accounts ul li.messenger a span {
    background-position: -36px 0px;
}
.social-media-accounts ul li.twitter a span {
    background-position: -72px 0px;
}
.social-media-accounts ul li.linkedin a span {
    background-position: -108px 0px;
}
.social-media-accounts ul li.ig a span {
    background-position: -144px 0px;
}
.social-media-accounts .social-links {
    max-width: 200px;
    margin: auto;
}
@media (min-width: 768px){
	.social-media-accounts.for-mobile {
		display: none;
	}
	.social-media-accounts.for-desktop {
		display: block;
	}
}

@media (max-width: 768px){
	.landing-con {
		height: auto;
	    margin-bottom: 10%;
	    padding-bottom: 30px;
	}
	.social-media-accounts.for-mobile {
		display: block;
		margin: 35px auto;
	}
	.social-media-accounts.for-mobile .description {
		margin-bottom: 15px;
		font-size: 14px;
    	line-height: 18px;
	}
	.social-media-accounts.for-desktop {
		display: none;
	}
}

@media (max-width: 500px){
	#landing {
		padding: 25px 20px !important;
	}
	.cd-container{
		display: none !important;
	}
}

@media (max-width: 400px){
	#landing {
		padding: 15px !important;
	}
}
