.lg-num h1{
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  /* line-height: 293px; */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bright-yellow);
}
.not-fnd-title h4{
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}
.not-fnd-txt p{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #444444;
  width: 350px;
}
.bck-home{
  margin-top: 80px;
}
.bck-home a{
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--dark);
  padding: 12px 25px;
}
@media (max-width: 320px){
  .lg-num h1{
    font-size: 180px;
  }
}
@media (max-width: 480px){
  .not-fnd-txt p{
    width: 100%;
  }
}
